{#
/**
 * @file
 * Video component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title for the iframe.
 * - src: [string] URL of the video.
 * - width: [string] Width of the iframe.
 * - height: [string] Height of the video.
 * - transcript_link: [object] Video transcript link.
 * - share_link: [object] Video share link.
 * - oembed: [string] oEmbed provided iframe container.
 * - modifier_class: [string] Additional classes.
 *
 * @todo Refactor into Video atom (plain video) and Video Molecule (with links).
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if sources is not empty or embedded_source is not empty or raw_source is not empty %}
  <div class="civic-video-player {{ modifier_class }}">
    {% block video %}
      <div class="civic-video__wrapper">
        {% if sources is not empty %}
          {% include '@atoms/video/video.twig' with {
            sources: sources,
            poster: poster,
            width: width,
            height: height,
            has_controls: true,
          } only %}
        {% elseif embedded_source is not empty %}
          {% set attributes = 'allowfullscreen data-chromatic="ignore"' %}
          {% if title is not empty %}
            {% set attributes = atributes ~ 'title="' ~ title ~ '"' %}
          {% endif %}
          {% include '@atoms/iframe/iframe.twig' with {
            url: embedded_source,
            attributes: attributes,
            width: width,
            height: height,
          } only %}
        {% else %}
          {{ raw_source|raw }}
        {% endif %}
      </div>
    {% endblock %}

    {% block links %}
      <div class="civic-video-player__links">
        {% if transcript_link.url is defined and transcript_link.url is not empty %}
          <div class="civic-video-player__links__transcript">
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'designtools_eye',
              color: 'shade_dark_15',
              modifier_class: 'civic-video__action-icon',
            } only %}
            {% include '@atoms/link/link.twig' with {
              theme: theme,
              text: transcript_link.text,
              title: transcript_link.title,
              url: transcript_link.url,
              is_new_window: transcript_link.is_new_window,
              is_external: transcript_link.is_external,
              attributes: transcript_link.attributes
            } only %}
          </div>
        {% endif %}

        {% if share_link.url is defined and share_link.url is not empty %}
          <div class="civic-video-player__links__share">
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'userinterface_share',
              modifier_class: 'civic-video__action-icon',
            } only %}
            {% include '@atoms/link/link.twig' with {
              theme: theme,
              text: share_link.text,
              title: share_link.title,
              url: share_link.url,
              is_new_window: share_link.is_new_window,
              is_external: share_link.is_external,
              attributes: share_link.attributes
            } only %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endif %}

