//
// Video.
//
@import '../../00-base/base';

.civic-video {
  $root: &;

  &__iframe-container {
    position: relative;
    padding-bottom: $civic-video-padding-bottom;
    padding-top: civic-space(3);
    height: 0;
    overflow: hidden;
  }

  &__links {
    display: flex;
    margin-top: civic-space(4);

    @include civic-breakpoint(m) {
      margin-top: civic-space(3);
    }

    a {
      @include civic-typography((
      	'xs': (14px, 23px, 400, 'primary', 0),
        'm': (16px, 26px, 400, 'primary', 0)
      ));
    }
  }

  &__transcript {
    padding-right: civic-space(2);

    @include civic-breakpoint(m) {
      padding-right: civic-space(3);
    }
  }

  iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .civic-icon {
    vertical-align: middle;
  }

  &.civic-theme-dark {
    .civic-link {
      color: $civic-video-dark-link-color;

      &:hover {
        color: $civic-video-dark-link-hover-color;
      }
    }

    .civic-icon {
      fill: $civic-video-dark-icon-color;
    }
  }
}

