//
// Form element.
//

.civic-form-element {
  @include civic-typography('text-regular');

  margin-bottom: civic-space(2);
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    display: flex;
    flex-wrap: wrap;

    .civic-form-element__description {
      width: 100%;
      padding-left: civic-space(4);
    }

    label {
      margin: rem(4px) 0;
    }
  }

  &--button,
  &--submit {
    display: inline-block;
    width: auto;
    margin-left: civic-space(2);

    &:first-child {
      margin-left: 0;
    }
  }

  .civic-message {
    padding: civic-space();
    margin-bottom: civic-space();
    display: inline-flex;
    align-items: center;
    border: none;

    @include civic-typography('label-small');

    &__title {
      font-weight: 400;
    }

    .civic-icon {
      width: rem(18px);
      height: rem(18px);
      vertical-align: middle;
    }

    .civic-message__icon {
      width: rem(18px);
      margin-right: civic-space();
    }
  }

  &__description {
    margin-bottom: civic-space(1);

    @include civic-typography('text-small');
  }

  &.civic-theme-light {
    color: $civic-form-element-light-color;
  }

  &.civic-theme-dark {
    color: $civic-form-element-dark-color;
  }
}
