//
// Visibility component.
//

@each $breakpoint, $value in $civictheme-breakpoints {
  @if $breakpoint == $civictheme-visibility-lowest-breakpoint {
    .show-#{$breakpoint} {
      display: block !important;
    }

    .show-#{$breakpoint}-table {
      display: table !important;
    }

    .hide-#{$breakpoint} {
      display: none !important;
    }
  }
  @else {
    @include civictheme-breakpoint($breakpoint) {
      .show-#{$breakpoint} {
        display: block !important;
      }

      .show-#{$breakpoint}-table {
        display: table !important;
      }

      .show-#{$breakpoint}-flex {
        display: flex !important;
      }

      .hide-#{$breakpoint} {
        display: none !important;
      }
    }
  }
}

.visually-hidden {
  @include civictheme-visually-hidden();
}
