//
// Header component.
//

.ct-header {
  $root: &;

  &__content-top2,
  &__content-top3 {
    margin-top: ct-spacing();
    margin-bottom: ct-spacing();
  }

  &__content-top2 {
    @include ct-typography('text-regular');
  }

  &__top {
    @include ct-print-hide();
  }

  &__middle {
    border-bottom: solid ct-particle(0.125);
  }

  &__content-middle1 {
    @include ct-print-hide();
  }

  &__content-middle2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-middle3 {
    @include ct-print-hide();

    height: 100%;
    position: relative;

    @include ct-breakpoint($ct-header-desktop-menu-breakpoint) {
      position: static;
      display: flex;
      justify-content: flex-end;
    }
  }

  .ct-mobile-navigation__trigger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &.ct-theme-light {
    #{$root}__top {
      background-color: $ct-header-light-top-background-color;
      color: $ct-header-light-top-color;
    }

    #{$root}__middle {
      background-color: $ct-header-light-middle-background-color;
      border-color: $ct-header-light-middle-border-color;
    }
  }

  &.ct-theme-dark {
    #{$root}__top {
      background-color: $ct-header-dark-top-background-color;
      color: $ct-header-dark-top-color;
    }

    #{$root}__middle {
      background-color: $ct-header-dark-middle-background-color;
      border-color: $ct-header-dark-middle-border-color;
    }
  }
}
