//
// Header component.
//

.civictheme-header {
  $root: &;

  @include civictheme-typography('text-regular');

  &__content-top2,
  &__content-top3 {
    margin-top: civictheme-space();
    margin-bottom: civictheme-space();
  }

  &__top {
    @include civictheme-print-hide();
  }

  &__logo {
    padding: civictheme-space() 0;

    @include civictheme-breakpoint($civictheme-header-desktop-menu-breakpoint) {
      padding: civictheme-space(3) 0;
    }
  }

  &__middle {
    border-bottom: solid 1px;
  }

  &__content-middle1 {
    @include civictheme-print-hide();
  }

  &__content-middle2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-middle3 {
    @include civictheme-print-hide();

    height: 100%;
    position: relative;

    @include civictheme-breakpoint($civictheme-header-desktop-menu-breakpoint) {
      position: static;
      display: flex;
      justify-content: flex-end;
    }
  }

  .civictheme-logo {
    width: rem($civictheme-header-logo-mobile-width);

    @include civictheme-breakpoint($civictheme-header-desktop-menu-breakpoint) {
      width: auto;
      max-width: rem($civictheme-header-logo-desktop-width);
    }
  }

  .civictheme-mobile-navigation__trigger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &.civictheme-theme-light {
    #{$root}__top {
      background-color: $civictheme-header-light-top-background-color;
      color: $civictheme-header-light-top-color;
    }

    #{$root}__middle {
      background-color: $civictheme-header-light-middle-background-color;
      border-color: $civictheme-header-light-middle-border-color;
    }
  }

  &.civictheme-theme-dark {
    #{$root}__top {
      background-color: $civictheme-header-dark-top-background-color;
      color: $civictheme-header-dark-top-color;
    }

    #{$root}__middle {
      background-color: $civictheme-header-dark-middle-background-color;
      border-color: $civictheme-header-dark-middle-border-color;
    }
  }
}
