//
// Side Navigation component.
//

.civictheme-side-navigation {
  $root: &;

  &__title {
    @include civictheme-typography('heading-5');

    margin-top: 0;
    margin-bottom: civictheme-space(2);
  }

  @for $i from 0 through 10 {
    .civictheme-menu--level-#{$i} {
      .civictheme-menu__item__link {
        padding-left: ($i + 1) * civictheme-space(2);
      }
    }
  }

  &__menu {
    &,
    .civictheme-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .civictheme-menu__item {
      .civictheme-menu {
        display: none;
      }
    }

    .civictheme-menu__item--has-children {
      > .civictheme-menu__item__link {
        &::after {
          @include civictheme-icon-size('regular');

          content: $civictheme-side-navigation-link-expanded-icon;
          position: absolute;
          right: civictheme-space(1);
          transform: rotate(-180deg);
          line-height: 0;
        }
      }
    }

    .civictheme-menu__item--expanded {
      .civictheme-menu {
        display: block;
      }

      > .civictheme-menu__item__link {
        &::after {
          transform: rotate(0);
        }
      }
    }

    .civictheme-menu__item__link {
      @include civictheme-typography('text-regular');

      display: block;
      position: relative;
      padding: civictheme-space() civictheme-space(2) civictheme-space() civictheme-space(2.5);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      text-decoration: none;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        width: rem(4px);
      }

      &:active {
        outline: 0 !important;
        border-radius: 0 $civictheme-side-navigation-link-active-border-radius $civictheme-side-navigation-link-active-border-radius 0;
      }

      &:focus {
        z-index: 1;
      }
    }
  }

  &.civictheme-theme-light {
    #{$root}__title {
      color: $civictheme-side-navigation-light-title-color;
    }

    #{$root}__menu {
      .civictheme-menu__item {
        .civictheme-menu__item__link {
          color: $civictheme-side-navigation-light-link-color;
          border-color: $civictheme-side-navigation-light-link-border-color;
          background-color: $civictheme-side-navigation-light-link-background-color;

          &::before {
            background-color: $civictheme-side-navigation-light-link-strip-background-color;
          }

          &:hover,
          &:focus {
            background-color: $civictheme-side-navigation-light-link-hover-background-color;
            border-color: $civictheme-side-navigation-light-link-hover-border-color;

            &::before {
              background-color: $civictheme-side-navigation-light-link-strip-hover-background-color;
            }
          }

          &:active {
            border-color: $civictheme-side-navigation-light-active-border-color;
          }

          &:focus {
            @include civictheme-outline();
          }
        }
      }

      .civictheme-menu__item--has-children {
        > .civictheme-menu__item__link {
          &::after {
            color: $civictheme-side-navigation-light-link-expanded-icon-color;
          }
        }
      }

      .civictheme-menu__item--active-trail {
        > .civictheme-menu__item__link {
          &::before {
            background-color: $civictheme-side-navigation-light-active-trail-link-strip-border-color;
          }
        }

        .civictheme-menu__item__link {
          color: $civictheme-side-navigation-light-active-trail-link-color;
          background-color: $civictheme-side-navigation-light-active-trail-link-background-color;
          border-color: $civictheme-side-navigation-light-active-trail-link-border-color;
        }

        &:not(.civictheme-menu__item--level-0) {
          .civictheme-menu__item__link {
            color: $civictheme-side-navigation-light-active-trail-child-link-color;
            background-color: $civictheme-side-navigation-light-active-trail-child-link-background-color;
            border-color: $civictheme-side-navigation-light-active-trail-child-link-border-color;
          }
        }
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__title {
      color: $civictheme-side-navigation-dark-title-color;
    }

    #{$root}__menu {
      .civictheme-menu__item {
        .civictheme-menu__item__link {
          color: $civictheme-side-navigation-dark-link-color;
          border-color: $civictheme-side-navigation-dark-link-border-color;
          background-color: $civictheme-side-navigation-dark-link-background-color;

          &::before {
            background-color: $civictheme-side-navigation-dark-link-strip-background-color;
          }

          &:hover,
          &:focus {
            background-color: $civictheme-side-navigation-dark-link-hover-background-color;
            border-color: $civictheme-side-navigation-dark-link-hover-border-color;

            &::before {
              background-color: $civictheme-side-navigation-dark-link-strip-hover-background-color;
            }
          }

          &:active {
            border-color: $civictheme-side-navigation-dark-active-border-color;
          }

          &:focus {
            @include civictheme-outline();
          }
        }
      }

      .civictheme-menu__item--has-children {
        > .civictheme-menu__item__link {
          &::after {
            color: $civictheme-side-navigation-dark-link-expanded-icon-color;
          }
        }
      }

      .civictheme-menu__item--active-trail {
        > .civictheme-menu__item__link {
          &::before {
            background-color: $civictheme-side-navigation-dark-active-trail-link-strip-border-color;
          }
        }

        .civictheme-menu__item__link {
          color: $civictheme-side-navigation-dark-active-trail-link-color;
          background-color: $civictheme-side-navigation-dark-active-trail-link-background-color;
          border-color: $civictheme-side-navigation-dark-active-trail-link-border-color;
        }

        &:not(.civictheme-menu__item--level-0) {
          .civictheme-menu__item__link {
            color: $civictheme-side-navigation-dark-active-trail-child-link-color;
            background-color: $civictheme-side-navigation-dark-active-trail-child-link-background-color;
            border-color: $civictheme-side-navigation-dark-active-trail-child-link-border-color;
          }
        }
      }
    }
  }
}
