//
// Navigation card.
//
@import '../../00-base/base';

.civic-navigation-card {
  $root: &;

  position: relative;
  border-radius: $civic-border-radius;
  overflow: hidden;

  @include civic-box-shadow();

  &:focus-within {
    @include civic-outline();
  }

  #{$root}__image-wrapper {
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  #{$root}__content {
    padding: civic-space(3);
  }

  #{$root}__title {
    @include civic-typography(heading-5);

    margin-bottom: civic-space(2);
  }

  #{$root}__title-link {
    text-decoration: none;
    display: flex;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:focus {
      outline: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #{$root}__icon {
    margin-bottom: civic-space(2);
  }

  #{$root}__summary {
    @include civic-typography(card-summary);

    padding-right: civic-space(3);
  }

  &#{$root}--large {
    @include civic-breakpoint(m) {
      display: flex;
    }

    #{$root}__image-wrapper {
      @include civic-breakpoint(m) {
        max-width: 12.5rem;
        flex-shrink: 0;
      }
    }

    #{$root}__title {
      @include civic-typography(heading-4);
    }
  }

  &#{$root}--small {
    #{$root}__title {
      @include civic-typography(heading-5);
    }
  }

  &.civic-theme-light {
    background-color: $civic-navigation-card-light-background-color;

    &:focus {
      @include civic-outline(false);
    }

    #{$root}__title {
      color: $civic-navigation-card-light-heading-color;
    }

    #{$root}__title-link {
      color: $civic-navigation-card-light-heading-color;

      &:hover {
        color: $civic-navigation-card-light-color-hover;
      }

      &:active {
        color: $civic-navigation-card-light-heading-color-active;
      }
    }

    #{$root}__summary {
      color: $civic-navigation-card-light-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-navigation-card-dark-background-color;

    &:focus {
      @include civic-outline(true);
    }

    #{$root}__title {
      color: $civic-navigation-card-dark-heading-color;
    }

    #{$root}__title-link {
      color: $civic-navigation-card-dark-heading-color;

      &:hover {
        color: $civic-navigation-card-dark-color-accent;
      }

      &:active {
        color: $civic-navigation-card-dark-heading-color-active;
      }
    }

    #{$root}__summary {
      color: $civic-navigation-card-dark-color;
    }
  }
}
