{#
/**
 * @file
 * Primary Navigation component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Array of menu items.
 * - title: [string] Navigation title.
 * - menu_id: [string] Optional menu ID used for grouping dropdown items.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
{% set menu_id = menu_id|default('primary-navigation') %}

{% if items is not empty %}

  {% if title %}
    {% block title %}
      <div class="civic-navigation__title">
        {{ title }}
      </div>
    {% endblock %}
  {% endif %}

  {% for key in items|keys %}
    {% if items[key].below %}
      {# Item attributes to convert them into a collapsible element. #}
      {% set item_attributes = 'data-collapsible data-collapsible-collapsed data-collapsible-duration="0" data-collapsible-group=' ~ menu_id %}
      {# Item classes to style dynamically. #}
      {% set item_dropdown_columns_class = dropdown_columns ? 'civic-primary-navigation__dropdown-columns--%s'|format(dropdown_columns) : '' %}
      {% set item_dropdown_columns_fill_class = dropdown_columns_fill ? 'civic-primary-navigation__dropdown-columns--fill' : '' %}
      {% set item_modifier_class = 'civic-primary-navigation__has-dropdown %s %s'|format(item_dropdown_columns_class, item_dropdown_columns_fill_class) %}
      {# Update item with attributes and classes. #}
      {% set new_item = items[key]|merge({'attributes': item_attributes, 'modifier_class': item_modifier_class }) %}
      {% set items = items|merge({(key): new_item}) %}
    {% endif %}
  {% endfor %}

  <div class="civic-primary-navigation {{ modifier_class }}" {% if attributes %}{{ attributes }}{% endif %}>
    {% include '@base/menu/menu.twig' with {
      theme: theme,
      items: items,
      modifier_class: 'civic-primary-navigation__menu',
    } only %}
  </div>
{% endif %}
