@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

.civic-primary-navigation {
  $root: &;

  align-items: center;
  height: 100%;
  display: none;

  @include civic-breakpoint($civic-header-desktop-menu-breakpoint) {
    display: flex;
  }

  &__menu {
    // Reset all menu styles.
    &.civic-menu,
    .civic-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &.civic-menu--level-0 {
      // First-level items to be displayed inline.
      display: flex;
    }

    .civic-menu__item {
      // Links - level 0.
      &--level-0 {
        border-bottom: solid 4px;

        > .civic-link {
          display: block;
          padding-top: civic-space(2);
          padding-bottom: civic-space(2);
          padding-left: civic-space(2);

          // Accommodate for the trigger.
          padding-right: civic-icon-size-dimension('regular', $civic-collapsible-icon-size, 'width') + civic-space();
          text-decoration: none;

          &::after {
            right: civic-space();
            margin-top: 3px;
          }
        }
      }
    }
  }

  // Menu item with dropdown.
  &__has-dropdown {
    // Dropdown (submenu) wrapper.
    .civic-menu__sub-menu__wrapper--level-1 {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      margin-top: $civic-primary-navigation-dropdown-top-offset;
      z-index: $civic-primary-navigation-dropdown-zindex;
      box-shadow: 0 civic-space(2) civic-space(4) rgba(0, 0, 0, 20%);

      // Submenu.
      .civic-menu__sub-menu {
        &.civic-menu--level-1 {
          padding: 0;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @include civic-container();

          margin-bottom: civic-space(4);
        }
      }

      .civic-menu__item--level-1 {
        padding: 0;
        margin: civic-space(4) 0 0;
        flex-basis: math.div(100%, $civic-primary-navigation-dropdown-cols);

        > .civic-link {
          @include civic-typography('heading-5');

          text-decoration: none;
        }
      }

      .civic-menu__sub-menu__wrapper--level-2 {
        margin-top: civic-space(4);
      }

      .civic-menu__item--level-2,
      .civic-menu__item--level-3,
      .civic-menu__item--level-4,
      .civic-menu__item--level-5 {
        width: 100%;
        margin-bottom: civic-space();

        > .civic-link {
          @include civic-typography('label-regular');

          text-decoration: none;
          display: block;
          border-radius: $civic-border-radius;
          padding: 0;

          &:hover {
            padding-left: civic-space();
            padding-right: civic-space();
          }
        }

        &.civic-menu__item--active-trail {
          > .civic-link {
            background-color: civic-color('shade_dark_60');
            color: civic-color('neutral');
            padding-left: civic-space();
            padding-right: civic-space();
          }
        }
      }
    }
  }

  // Fill column width if there are less columns than expected.
  &__dropdown-columns--fill {
    .civic-menu__sub-menu__wrapper--level-1 {
      .civic-menu__item--level-1 {
        flex: 1;
      }
    }
  }

  // Allow to override column width based on the explicitly set columns number
  // class.
  @for $i from 1 through $civic-primary-navigation-dropdown-cols * 2 {
    &__dropdown-columns--#{$i} {
      .civic-menu__sub-menu__wrapper--level-1 {
        .civic-menu--level-1 {
          // @todo: Implement gutters using :nth() to make the last gutter
          // in the row collapse. Note that for "fill column width" option
          // this already works automatically.
          column-gap: $civic-primary-navigation-dropdown-column-gutter;
        }

        .civic-menu__item--level-1 {
          $basis: math.div(100%, $i);

          flex-basis: calc(#{$basis} - #{$civic-primary-navigation-dropdown-column-gutter});
        }
      }
    }
  }

  &.civic-theme-light {
    #{$root}__menu {
      .civic-menu__item {
        // Links - level 0.
        &--level-0 {
          border-color: $civic-primary-navigation-light-border-color;

          &:hover {
            background-color: $civic-primary-navigation-light-menu-item-hover-background-color;
          }

          &:active {
            background-color: $civic-primary-navigation-light-menu-item-active-border-color;
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $civic-primary-navigation-light-menu-item-border-color;

            &:hover {
              background-color: $civic-primary-navigation-light-menu-item-hover-background-color;
              border-bottom-color: $civic-primary-navigation-light-menu-item-hover-border-color;
            }

            &:active {
              background-color: $civic-primary-navigation-light-menu-item-active-background-color;
              border-bottom-color: $civic-primary-navigation-light-menu-item-active-border-color;
            }
          }

          > .civic-link {
            background-color: $civic-primary-navigation-light-menu-item-background-color;
            color: $civic-primary-navigation-light-color;

            &:hover {
              color: $civic-primary-navigation-light-hover-color;
              background-color: $civic-primary-navigation-light-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $civic-primary-navigation-light-active-color;
              background-color: $civic-primary-navigation-light-menu-item-active-background-color;
            }
          }
        }
      }
    }
    #{$root}__has-dropdown {
      .civic-menu__sub-menu__wrapper--level-1 {
        background-color: $civic-primary-navigation-light-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .civic-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .civic-menu__item--level-1 {
          > .civic-link {
            color: $civic-primary-navigation-light-sub-menu-item-heading-hover-color;

            &:hover {
              color: $civic-primary-navigation-light-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $civic-primary-navigation-light-sub-menu-item-heading-active-color;
            }
          }
        }

        .civic-menu__item--level-2,
        .civic-menu__item--level-3,
        .civic-menu__item--level-4,
        .civic-menu__item--level-5 {
          > .civic-link {
            color: $civic-primary-navigation-light-sub-menu-item-color;
            background-color: $civic-primary-navigation-light-sub-menu-item-background-color;

            &:hover {
              color: $civic-primary-navigation-light-sub-menu-item-hover-color;
              background-color: $civic-primary-navigation-light-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $civic-primary-navigation-light-sub-menu-item-active-color;
              background-color: $civic-primary-navigation-light-sub-menu-item-active-background-color;
            }
          }

          &.civic-menu__item--active-trail {
            > .civic-link {
              background-color: $civic-primary-navigation-light-menu-item-active-trail-background-color;
              color: $civic-primary-navigation-light-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__menu {
      .civic-menu__item {
        // Links - level 0.
        &--level-0 {
          border-color: $civic-primary-navigation-dark-border-color;

          &:hover {
            background-color: $civic-primary-navigation-dark-menu-item-hover-background-color;
          }

          &:active {
            background-color: $civic-primary-navigation-dark-menu-item-active-border-color;
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $civic-primary-navigation-dark-menu-item-border-color;

            &:hover {
              background-color: $civic-primary-navigation-dark-menu-item-hover-background-color;
              border-bottom-color: $civic-primary-navigation-dark-menu-item-hover-border-color;
            }

            &:active {
              background-color: $civic-primary-navigation-dark-menu-item-active-background-color;
              border-bottom-color: $civic-primary-navigation-dark-menu-item-active-border-color;
            }
          }

          > .civic-link {
            background-color: $civic-primary-navigation-dark-menu-item-background-color;
            color: $civic-primary-navigation-dark-color;

            &:hover {
              color: $civic-primary-navigation-dark-hover-color;
              background-color: $civic-primary-navigation-dark-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $civic-primary-navigation-dark-active-color;
              background-color: $civic-primary-navigation-dark-menu-item-active-background-color;
            }
          }
        }
      }
    }
    #{$root}__has-dropdown {
      .civic-menu__sub-menu__wrapper--level-1 {
        background-color: $civic-primary-navigation-dark-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .civic-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .civic-menu__item--level-1 {
          > .civic-link {
            color: $civic-primary-navigation-dark-sub-menu-item-heading-hover-color;

            &:hover {
              color: $civic-primary-navigation-dark-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $civic-primary-navigation-dark-sub-menu-item-heading-active-color;
            }
          }
        }

        .civic-menu__item--level-2,
        .civic-menu__item--level-3,
        .civic-menu__item--level-4,
        .civic-menu__item--level-5 {
          > .civic-link {
            color: $civic-primary-navigation-dark-sub-menu-item-color;
            background-color: $civic-primary-navigation-dark-sub-menu-item-background-color;

            &:hover {
              color: $civic-primary-navigation-dark-sub-menu-item-hover-color;
              background-color: $civic-primary-navigation-dark-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $civic-primary-navigation-dark-sub-menu-item-active-color;
              background-color: $civic-primary-navigation-dark-sub-menu-item-active-background-color;
            }
          }

          &.civic-menu__item--active-trail {
            > .civic-link {
              background-color: $civic-primary-navigation-dark-menu-item-active-trail-background-color;
              color: $civic-primary-navigation-dark-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }
}
