{#
/**
 * @file
 * CivicTheme theme implementation for a filter chip form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 *
 * @ingroup themeable
 */
#}
<div class="ct-single-filter__list--row">
  {% include '@atoms/chip/chip.twig' with {
    theme: theme,
    kind: 'input',
    content: text,
    size: 'small',
    name: name,
    id: id,
    attributes: attributes,
    is_selected: is_selected,
    is_multiple: is_multiple,
    modifier_class: modifier_class
  } only %}
</div>
