{#
/**
 * @file
 * CivicTheme implementation to display a 'textarea' form element.
 */
#}
<div{{ wrapper_attributes }}>
  {% include '@atoms/input/input.twig' with {
    type: 'textarea',
    value: value,
    required: required,
    attributes: attributes,
  } only %}
</div>
