{#
/**
 * @file
 * CivicTheme implementation to display Image media on the page.
 *
 * @todo Review and refactor.
 */
#}
<div class="container">
  <div class="col-xs-12">
    {% include '@molecules/figure/figure.twig' %}
  </div>
</div>
