//
// Accordion.
//
// stylelint-disable scss/dollar-variable-pattern

@import '../../00-base/base';

.civic-accordion {
  $root: &;

  &__inner {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__header {
    $header: &;

    display: block;
    margin: 0;
    border-top-left-radius: $civic-border-radius;
    border-top-right-radius: $civic-border-radius;

    &__button--expanded {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      svg {
        transform: rotate(-180deg);
      }
    }

    &__button {
      @include civic-typography('heading-6');

      width: 100%;
      padding: civic-space(3);
      border-radius: $civic-border-radius;
      margin: 0;
      border: none;
      cursor: pointer;
      text-align: left;
      display: flex;
      justify-content: stretch;

      svg {
        margin-left: auto;
        transition: transform 0.5s;
      }
    }
  }

  &__content {
    $content: &;

    overflow: auto;
    visibility: hidden;
    height: 0;
    transition: height 0.5s, visibility 0.5s;

    @include civic-typography('body');

    &--expanded {
      height: auto;
      border-top: none;

      #{$content}--inner {
        opacity: 100%;
      }
    }

    &--inner {
      opacity: 0%;
      transition: opacity 0.5s;
      padding: 0 civic-space(3) civic-space(3);
    }
  }

  &__list-item {
    position: relative;
    border: 1px solid;
    border-radius: $civic-border-radius;
    margin-bottom: civic-space(2);

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      border-top-left-radius: $civic-border-radius;
      border-bottom-left-radius: $civic-border-radius;
      transition: width 0.25s;
    }

    &--expanded {
      &::before {
        width: 0.5rem;
      }
    }
  }

  &.civic-theme-light {
    color: $civic-accordion-light-color;

    #{$root}__header__button {
      background-color: $civic-accordion-light-button-background-color;
      color: $civic-accordion-light-color;

      svg {
        fill: $civic-accordion-light-icon-color;
      }
    }

    #{$root}__content {
      background-color: $civic-accordion-light-background-color;
    }

    #{$root}__list-item {
      border-color: $civic-accordion-light-border-color;

      &::before {
        background-color: $civic-accordion-light-expanded-border-color;
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-accordion-dark-color;

    #{$root}__header {
      background-color: $civic-accordion-dark-background-color;
    }

    #{$root}__header__button {
      border-top: 1px solid $civic-accordion-dark-border-color;
      background-color: $civic-accordion-dark-button-background-color;
      color: $civic-accordion-dark-color;

      svg {
        fill: $civic-accordion-dark-icon-color;
      }
    }

    #{$root}__content {
      background-color: $civic-accordion-dark-background-color;
    }

    #{$root}__list-item {
      border-color: $civic-accordion-dark-border-color;

      &::before {
        background-color: $civic-accordion-dark-expanded-border-color;
      }
    }
  }
}
