{# Example of extending of the base CivicTheme component. #}
{% extends '@civictheme-organisms/header/header.twig' %}

{% block content_middle2 %}
  <div class="col-xxs-6">
    <div class="civictheme-header__content-middle2">
      {{ content_middle2 }}
    </div>
  </div>
{% endblock %}

{% block content_middle3 %}
  <div class="col-xxs-6">
    <div class="civictheme-header__content-middle3 civictheme-header__content-middle3--civictheme_starter_kit">
      {{ content_middle3 }}
    </div>
  </div>
{% endblock %}
