{#
/**
 * @file
 * Example of extending of the base CivicTheme component.
 */
#}
{% extends '@ct-organisms/header/header.twig' %}

{# Overriding 'content_middle3' block to add a custom 'my-custom-class' CSS class. #}
{% block content_middle3 %}
  <div class="col">
    <div class="ct-header__content-middle3">
      {{ content_middle3 }}
    </div>
  </div>
{% endblock %}
