{#
/**
 * @file
 * Input component.
 *
 * Variables:
 * - type: [string] Input type: Text, Textarea, Email, Password, Tel.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - value: [string] Input field value.
 * - placeholder: [string] Input field placeholder text.
 * - id: [string] Input field html ID attribute.
 * - name: [string] Input field html name attribute.
 * - State: [string] Input field state: Error, Success.
 * - required: [boolean] Required state.
 * - disabled: [boolean] Disabled state.
 * - autocomplete: [boolean] Autocomplete state.
 */
#}

{% if type %}

  {% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
  {% set state = state is empty or state == 'none' ? 'default' : state %}
  {% set state_class = 'civic-input--%s'|format(state) %}
  {% set disabled_class = disabled ? 'civic-input--disabled disabled' : '' %}
  {% set required_class = required ? 'civic-input--required required' : '' %}
  {% set type_class = 'civic-input--%s'|format(type) %}
  {% set civic_input_modifier_class = '%s %s %s %s %s %s'|format(theme_class, state_class, disabled_class, required_class, type_class, modifier_class|default('')) %}

  <div class="civic-input {{ civic_input_modifier_class }}">
    {% if type == 'textarea' %}
      {% include '@atoms/input/textarea.twig' %}
    {% elseif type == 'radio' %}
      {% include '@atoms/radio/radio.twig' %}
    {% elseif type == 'checkbox' %}
      {% include '@atoms/checkbox/checkbox.twig' %}
    {% else %}
      {% include '@atoms/input/textfield.twig' %}
    {% endif %}
  </div>
{% endif %}
