//
// Back to Top component stories.
//

.example-container__page-content {
  &.example-civic-back-to-top {
    height: 2000px;

    &::before {
      box-shadow: 0 0 1px 1px #f00 inset;
      height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      content: '';
    }
  }
}
