//
// Back to Top component.
//

.civic-back-to-top {
  $root: &;

  position: fixed;
  right: civic-space(1);
  bottom: civic-space(8);

  &[data-scrollspy='true'] {
    display: none;

    &.civic-scrollspy-scrolled {
      display: block;
    }
  }

  .civic-icon-link {
    &.civic-icon-link--with-border {
      border-radius: rem(100px);
    }
  }

  &.civic-theme-light {
    .civic-icon-link {
      background-color: $civic-back-to-top-light-background-color;

      .civic-icon {
        fill: $civic-back-to-top-light-color;
      }
    }

    .civic-icon-link--with-border {
      border-color: $civic-back-to-top-light-background-color;
    }
  }

  &.civic-theme-dark {
    .civic-icon-link {
      background-color: $civic-back-to-top-dark-background-color;

      .civic-icon {
        fill: $civic-back-to-top-dark-color;
      }
    }

    .civic-icon-link--with-border {
      border-color: $civic-back-to-top-dark-background-color;
    }
  }
}
