//
// Attachment component.
//

.ct-attachment {
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0;

  @include ct-breakpoint(m) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__image {
    width: 100%;
    max-height: 250px;
    flex-basis: 100%;

    @include ct-breakpoint(m) {
      max-height: 100%;
      width: 25%;
      flex-basis: unset;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include ct-typography('text-regular');

    padding: ct-spacing(3);
    flex: 1;
    border-radius: $ct-attachment-border-radius;

    @include ct-breakpoint('m') {
      padding: ct-spacing(4);
    }
  }

  &__summary {
    margin-top: 16px;

    @include ct-typography('text-small');
  }

  &__title {
    @include ct-typography('heading-4');
  }

  &__links {
    list-style: none;
    margin: ct-spacing(2) 0 0 0;
    padding: 0;

    &--link {
      display: flex;
      margin-bottom: rem(4px);

      @include ct-breakpoint('m') {
        margin-bottom: ct-spacing();
      }

      svg {
        margin-right: ct-spacing();
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include ct-typography('label-regular');
    }

    &--icon {
      margin-right: ct-spacing();
    }

    &--last-updated {
      @include ct-typography('text-small');
    }
  }

  &__icon {
    padding: ct-spacing(3) ct-spacing(3) ct-spacing(3) 0;
    width: ct-spacing(3);

    @include ct-breakpoint('m') {
      padding-top: ct-spacing(4);
    }
  }

  .ct-link--attachment {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: ct-spacing() 0;

    @include ct-breakpoint(m) {
      margin: ct-spacing() ct-spacing() 0 0;
    }

    font-weight: 600;
  }

  &.ct-theme-light {
    &.ct-attachment--with-background {
      background-color: $ct-attachment-light-wrapper-background-color;
      padding-left: $ct-attachment-space-horizontal;
      padding-right: $ct-attachment-space-horizontal;
    }

    .ct-attachment {
      &__content {
        color: $ct-attachment-light-color;
        background-color: $ct-attachment-light-background-color;
        border: solid ct-particle(0.125) $ct-attachment-light-border-color;
      }

      &__title {
        color: $ct-attachment-light-title-color;
      }

      &__links {
        &--link {
          color: $ct-attachment-light-heading-color;

          svg {
            fill: $ct-attachment-light-icon-color;
          }
        }

        &--icon {
          color: $ct-attachment-light-icon-color;
        }

        &--last-updated {
          color: $ct-attachment-light-date-color;
        }
      }
    }
  }

  &.ct-theme-dark {
    &.ct-attachment--with-background {
      background-color: $ct-attachment-dark-wrapper-background-color;
      padding-left: $ct-attachment-space-horizontal;
      padding-right: $ct-attachment-space-horizontal;
    }

    .ct-attachment {
      &__content {
        color: $ct-attachment-dark-color;
        background-color: $ct-attachment-dark-background-color;
        border: solid ct-particle(0.125) $ct-attachment-dark-border-color;
      }

      &__title {
        color: $ct-attachment-dark-title-color;
      }

      &__links {
        &--last-updated {
          color: $ct-attachment-dark-date-color;
        }

        &--link {
          color: $ct-attachment-dark-heading-color;

          svg {
            fill: $ct-attachment-dark-icon-color;
          }
        }

        &--icon {
          color: $ct-attachment-dark-icon-color;
        }
      }
    }
  }
}
