//
// List list.
//

@import '../../00-base/base';

.civic-collapsible {
  $root: &;

  &__title {
    @include civic-typography('heading-6');
    margin: 0;
    border: none;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: stretch;
    padding: civic-space(2);
    border-bottom: solid 1px;

    svg {
      margin-left: auto;
      margin-right: civic-space();
      transition: transform .5s;
    }

    &--expanded {
      border-bottom: 0;

      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__content {
    $content: &;
    overflow: auto;
    visibility: hidden;
    height: 0;
    transition: height .5s, visibility .5s;
    @include civic-typography('body');

    &--inner {
      padding: civic-space(2);
    }

    &--expanded {
      height: auto;
      border-top: none;
      visibility: visible;
    }
  }

  &.civic-theme-light {
    color: $civic-collapsible-light-color;
    background-color: $civic-collapsible-light-background-color;

    #{$root}__title {
      border-bottom-color: $civic-collapsible-light-border-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-collapsible-dark-color;
    background-color: $civic-collapsible-dark-background-color;

    #{$root}__title {
      border-bottom-color: $civic-collapsible-dark-border-color;
    }
  }
}
