//
// Visibility classes.
//

@each $breakpoint, $value in $civic-breakpoints {
  @if $breakpoint == $civic-visibility-lowest-breakpoint {
    .show-#{$breakpoint} {
      display: block;
    }

    .show-#{$breakpoint}-table {
      display: table;
    }

    .hide-#{$breakpoint} {
      display: none;
    }
  }
  @else {
    @include civic-breakpoint($breakpoint) {
      .show-#{$breakpoint} {
        display: block;
      }

      .show-#{$breakpoint}-table {
        display: block;
      }

      .hide-#{$breakpoint} {
        display: none;
      }
    }
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
