//
// List list.
//

@import '../../00-base/base';

.civic-link-list {
  $root: &;
  list-style: none;
  margin: 0;
  padding: 0;

  &--inline {
    display: flex;

    #{$root}__item {
      margin-right: civic-space(2);
    }
  }

  &--default {
    #{$root}__item {
      margin-bottom: civic-space(2);
    }
  }
}
