//
// List List component.
//

.civic-link-list {
  $root: &;

  #{$root}__title {
    font-weight: bold;
    margin-bottom: civic-space(2);
  }

  #{$root}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{$root}__list__item {
    margin-bottom: civic-space(2);
  }

  &--inline {
    display: flex;

    #{$root}__title {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }

    #{$root}__list {
      display: flex;
    }

    #{$root}__list__item {
      margin-right: civic-space(2);
      margin-bottom: auto;
    }
  }

  &.civic-theme-light {
    #{$root}__title {
      color: $civic-link-list-light-color;
    }
  }

  &.civic-theme-dark {
    #{$root}__title {
      color: $civic-link-list-dark-color;
    }
  }
}
