{#
/**
 * @file
 * Link list component.
 *
 * Variables:
 * - type: [string] List type: default, inline.
 * - theme: [string] Light, Dark.
 * - links: [array] Links array.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set classes = ['civic-link-list'] %}
{% set type_class = 'civic-link-list--%s'|format(type|default('default')) %}
{% set classes = classes|merge([type_class]) %}
{% set classes = modifier_class ? classes|merge([modifier_class]) : classes %}
{% set theme_class = 'civic-theme--%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}

{% if links %}
  <ul class="{{ classes|join(' ') }}">
    {% for link in links %}
      <li class="civic-link-list__item">
        {% include '@atoms/link/link.twig' with {
          theme: theme,
          text: link.title,
          url: link.url,
          new_window: link.new_window ? link.new_window : false,
          is_external: link.is_external ? link.is_external : false,
        } only %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
