//
// Dropdown Filter component.
//

.ct-dropdown-filter {
  $root: &;

  position: relative;
  padding: rem(4px) 0;

  &:not(#{$root}--inline) {
    &#{$root}--right {
      #{$root}__filter-options {
        left: auto;
        right: -(ct-spacing(3));
      }
    }

    #{$root}__filter-text {
      display: inline-block;
      text-align: center;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
    }

    #{$root}__filter-options {
      margin-top: ct-spacing(2);
      min-width: ct-spacing() * 35;
      position: absolute;
      left: -(ct-spacing(3));
      z-index: $ct-dropdown-filter-zindex;
    }

    #{$root}__filter-options-wrapper {
      @include ct-elevation(2);

      padding: ct-spacing(2);
      border-radius: $ct-border-radius;
      border-style: solid;
      border-width: ct-particle(0.125);
      max-height: ct-spacing() * 35;
      overflow: auto;
    }
  }

  &--right {
    margin-left: auto;
  }

  &__filter-text {
    @include ct-typography('label-regular');

    background-color: transparent;
    border: 0;
    appearance: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-top: ct-spacing(2);
    padding-bottom: ct-spacing(2);

    &:focus {
      @include ct-outline();
    }
  }

  &__filter-options {
    position: relative;
  }

  &__filter-options-wrapper {
    padding-top: ct-spacing(3);
    padding-bottom: ct-spacing(3);
  }

  &__fieldset {
    &.ct-fieldset {
      padding: 0;

      legend {
        @include ct-typography('label-regular');

        margin-bottom: ct-spacing(4);
      }
    }
  }

  &[data-dropdown-filter-searchable] {
    legend {
      margin-bottom: ct-spacing(2);
    }

    [data-dropdown-filter-search-item--hidden] {
      display: none;
    }

    [data-dropdown-filter-search-item--visible] {
      display: flex;
    }

    #{$root}__search.ct-input {
      position: relative;
      margin-bottom: ct-spacing(2);

      input {
        padding-left: ct-spacing(5);
      }

      &::after {
        content: ' ';
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
        display: block;
        position: absolute;
        bottom: rem(12px);
        left: ct-spacing();
      }

      label {
        padding-left: 0;
      }
    }
  }

  &.ct-theme-light {
    &:not(#{$root}--inline) {
      #{$root}__filter-text {
        color: $ct-dropdown-filter-light-filter-text-color;
      }

      #{$root}__filter-options-wrapper {
        background-color: $ct-dropdown-filter-light-filter-options-background-color;
        border-color: $ct-dropdown-filter-light-filter-options-border-color;
      }
    }

    #{$root}__filter-text {
      color: $ct-dropdown-filter-light-inline-filter-text-color;

      &::after {
        content: ct-color-svg-fill($ct-collapsible-icon, $ct-dropdown-filter-light-filter-text-icon-color) !important;
      }
    }

    &[data-dropdown-filter-searchable] {
      #{$root}__search.ct-input {
        &::after {
          background-image: $ct-dropdown-filter-light-search-icon;
        }
      }
    }
  }

  &.ct-theme-dark {
    &:not(#{$root}--inline) {
      #{$root}__filter-text {
        color: $ct-dropdown-filter-dark-filter-text-color;
      }

      #{$root}__filter-options-wrapper {
        background-color: $ct-dropdown-filter-dark-filter-options-background-color;
        border-color: $ct-dropdown-filter-dark-filter-options-border-color;
      }
    }

    #{$root}__filter-text {
      color: $ct-dropdown-filter-dark-inline-filter-text-color;

      &::after {
        content: ct-color-svg-fill($ct-collapsible-icon, $ct-dropdown-filter-dark-filter-text-icon-color) !important;
      }
    }

    &[data-dropdown-filter-searchable] {
      #{$root}__search.ct-input {
        &::after {
          background-image: $ct-dropdown-filter-dark-search-icon;
        }
      }
    }
  }
}
