{#
/**
 * @file
 * Breadcrumb component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - links: [array] Array of link objects containing:
 *   - text: [string] Link text.
 *   - url: [string] Link URL.
 * - active_is_link: [boolean] Show active element as a link.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if links %}
  {% set links_count = links|length %}
  {% set parent = false %}

  <nav class="civictheme-breadcrumb {{ modifier_class }}" aria-label="breadcrumb">
    <ul class="civictheme-breadcrumb__links">
      {% for link in links %}
        {% if link.text is not empty %}
          <li class="civictheme-breadcrumb__links--link">

            {% if loop.index == links_count - 1 %}
              {% set parent = link %}
            {% endif %}

            {% if not active_is_link and (loop.index == links_count) %}
              <span aria-current="location">{{ link.text }}</span>
            {% else %}
              {% include '@atoms/link/link.twig' with {
                theme: theme,
                text: link.text,
                url: link.url,
                attributes: loop.index == links_count ? 'aria-current="location"' : '',
              } only %}
              {% if (loop.index < links_count) %}
                {% include '@atoms/icon/icon.twig' with {
                  symbol: 'arrows_rightarrow',
                } only %}
              {% endif %}
            {% endif %}

          </li>
        {% endif %}
      {% endfor %}

      {% if parent is not empty %}
        <li class="civictheme-breadcrumb__links--link mobile-only">
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'arrows_leftarrow_2',
          } only %}
          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: 'Parent',
            url: parent.url,
          } only %}
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
