.civic-button {
  font-size: 1.125rem;
  line-height: 24px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.civic-button.primary {
  background-color: #00698F;
  color: #FFFFFF;
}

.civic-button.primary:focus {
  outline: 3px solid #0055FF;
  outline-offset: 0;
}

.civic-button.primary:hover {
  background-color: #004a64;
}

.civic-button.primary:active {
  background-color: #002a39;
}

.civic-button.primary[disabled] {
  background-color: #99A7B0;
}
