{% extends '@organisms/content/content.twig' %}

{% block content %}
  {% if components is not empty %}
    <div class="civic-page-content--components">
      {{ components }}
    </div>
  {% endif %}
{% endblock %}
