//
// Listing component.
//

.civictheme-listing {
  $root: &;

  &__pager {
    display: flex;
    margin: 0 auto;
  }

  &__emptyresults {
    padding: civictheme-space(6) 0;
  }

  &__results-below {
    padding: civictheme-space(3) 0 civictheme-space(10);
  }

  &.civictheme-theme-light {
    &#{$root}--with-background {
      #{$root}__results-below {
        background-color: $civictheme-listing-light-background-color;
      }
    }
  }

  &.civictheme-theme-dark {
    &#{$root}--with-background {

      #{$root}__results-below {
        background-color: $civictheme-listing-dark-background-color;
      }
    }
  }
}
