@use 'sass:math';
@import '../../00-base/base';

.civic-icon-link {
  $root: &;

  display: block;
  background: none;
  border-bottom: none;
  border-radius: $civic-border-radius;
  text-decoration: none;

  &#{$root}--with-border {
    .civic-icon {
      border: 1px solid currentColor;
      border-radius: rem(100px);
      padding: civic-space();

      @include civic-breakpoint('m') {
        padding: civic-space() * 1.5;
      }
    }
  }

  &,
  &.civic-theme-light {
    color: $civic-icon-link-light-color;

    &:hover {
      color: $civic-icon-link-light-color-hover;
    }

    &:focus {
      @include civic-outline(false);

      color: $civic-icon-link-light-color-focus;
    }

    &:active {
      color: $civic-icon-link-light-color-active;
    }

    &:visited {
      color: $civic-icon-link-light-color-visited;
    }
  }

  &.civic-theme-dark {
    color: $civic-icon-link-dark-color;

    &:hover {
      color: $civic-icon-link-dark-color-hover;
    }

    &:focus {
      @include civic-outline(false);

      color: $civic-icon-link-dark-color-focus;
    }

    &:active {
      color: $civic-icon-link-dark-color-active;
    }

    &:visited {
      color: $civic-icon-link-dark-color-visited;
    }
  }
}
