# This file is used by the release publishing script to replace current
# .gitignore in order to selectively include and exclude directories that
# are going into release.
node_modules
civictheme-library/.gitignore.release
