@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@import 'mixins/color';

//
// Colors.
//

// All Civic palette is defined in $civic-default-colors maps. $civic-colors is
// available (and empty) so that any sub-themes can place their colours in
// here to override the defaults. This allows Civic to make palette additions
// (if required) without breaking sub-themes.
$civic-colors: () !default;
$civic-default-colors: (
  'primary': #00698f,
  'secondary': #9263de,
  'accent': #61daff,
  'neutral': #fff,
);
$civic-default-colors-shades: (
  'shade_15': color.mix(black, civic-base-color('primary'), 15%),
  'shade_30': color.mix(black, civic-base-color('primary'), 30%),
  'shade_45': color.mix(black, civic-base-color('primary'), 45%),
  'shade_60': color.mix(black, civic-base-color('primary'), 60%),
  'shade_90': color.mix(white, civic-base-color('primary'), 90%),
);
$civic-default-colors-neutral-base: civic-base-color('primary') !default;
$civic-default-colors-neutral: color.adjust(color.adjust($civic-default-colors-neutral-base, $saturation: -20%), $lightness: -1 * math.max(color.lightness($civic-default-colors-neutral-base) - 5%, 0%));
$civic-default-colors-neutrals: (
  'neutral_5': color.mix($civic-default-colors-neutral, white, 5%),
  'neutral_10': color.mix($civic-default-colors-neutral, white, 10%),
  'neutral_20': color.mix($civic-default-colors-neutral, white, 20%),
  'neutral_40': color.mix($civic-default-colors-neutral, white, 40%),
  'neutral_60': color.mix($civic-default-colors-neutral, white, 60%),
  'neutral_80': color.mix($civic-default-colors-neutral, white, 80%),
  'neutral_90': color.mix($civic-default-colors-neutral, white, 90%),
);

// @todo: Refactor these into component variables.
$civic-default-colors-elements: (
  'translucent': #0000,
  'heading': #1f2833,
  'heading-link': civic-base-color('primary'),
  'body': #536570,
  'link': #8258c4,
  'link-light-visited': #8258c4,
  'link-dark-visited': #a275eb,
  'status': #007cbf,
  'information': #007cbf,
  'success': #008583,
  'warning': #c95100,
  'error': #cf3836,
  'outline': #05f,
  'dark-text': #e5f0f4,
  'validation-light-error': #f8e1e1,
  'validation-light-warning': #fae6d9,
  'validation-light-info': #d9f2f8,
  'validation-light-status': #d9f2f8,
  'validation-light-success': color.mix(#088c8a, white, 15%),
  'validation-dark-error': #cf3836,
  'validation-dark-warning': #dc5800,
  'validation-dark-info': #00a7ce,
  'validation-dark-status': #00a7ce,
  'validation-dark-success': #009694,
);

//
// Breakpoints.
//
// Do not use these directly, except for calculations.
// Use @include breakpoint(name) color.mixin instead.
//
// First breakpoint is set to 0 so styles apply to all window sizes (not just small mobile - 368px and above).
//
$civic-breakpoints: (
  'xxs': 0,
  'xs': 368px,
  's': 576px,
  'm': 768px,
  'l': 992px,
  'xl': 1280px,
  'xxl': 1440px
) !default;

//
// Spacing.
//
$civic-space: 0.5rem !default; // 8px
$civic-spaces: (
  $civic-space, // 8px
  $civic-space * 2, // 16px
  $civic-space * 3, // 24px
  $civic-space * 4, // 32px
  $civic-space * 5, // 40px
  $civic-space * 6, // 48px
  $civic-space * 8, // 64px
  $civic-space * 10 // 80px
) !default;

//
// Grid.
//
$civic-grid-columns: 12 !default;
$civic-grid-gutter: $civic-space * 3 !default;
$civic-grid-offset-xs: 24px !default;
$civic-grid-offset-xxl: 92px !default;
$civic-grid-lowest-breakpoint: 'xs' !default;

// Limit the width of the fluid container at max width. Used with .container-max-width class.
$civic-grid-max-width: map.get($civic-breakpoints, xxl) !default;
$civic-grid-visible-lowest-breakpoint: 'xs' !default;
$civic-grid-gutters: (
  'xxs': 15px,
  'xs': 15px,
  's': $civic-space * 3
) !default;
$civic-grid-offsets: (
  'xxs': $civic-grid-offset-xs,
  'xs': $civic-grid-offset-xs,
  's': $civic-grid-offset-xs,
  'm': $civic-grid-offset-xxl * 0.25,
  'l': $civic-grid-offset-xxl * 0.5,
  'xl': $civic-grid-offset-xxl * 0.5,
  'xxl': $civic-grid-offset-xxl
) !default;

//
// Misc Variables.
//
$civic-border-radius: 0.25rem !default;
$civic-border-width: 0.125rem !default;
$civic-outline: 0.1875rem solid civic-color('outline') !default;
$civic-outline-accent: 0.1875rem solid civic-color('accent') !default;
$civic-outline-offset: 0 !default;
$civic-outline-boxshadow: 0 0 0 3pt civic-color('outline') !default;
$civic-outline-accent-boxshadow: 0 0 0 3pt civic-color('accent') !default;

//
// Icon size.
//
$civic-icon-sizes: (
  'small': (
    'xxs': (16px, 16px),
    'm': (20px, 20px),
  ),
  'regular': (
    'xxs': (20px, 20px),
    'm': (24px, 24px),
  ),
  'large': (
    'xxs': (40px, 40px),
    'm': (48px, 48px),
  ),
  'extra-large': (
    'xxs': (48px, 48px),
    'm': (64px, 64px),
  )
) !default;

//
// Typography.
//
$civic-font-import-default: true !default;
$civic-font-base-size: 16px !default;
$civic-font-scale: 1.25 !default;
$civic-font-primary: 'Lexend', sans-serif;
$civic-font: (
  'primary': $civic-font-primary
) !default;
$civic-typography: (
  'display-xl': (56px, 60px, 700, 'primary', -1px),
  'display-l': (39px, 44px, 700, 'primary', -0.7px),
  'display-m': (28px, 32px, 700, 'primary'),
  'display-s': (32px, 40px, 700, 'primary', -0.3px),
  'display-support': (18px, 31px, 400, 'primary', 0),
  'heading-1': (
    'xxs': (32px, 40px, 700, 'primary', -0.6px),
    'm': (48px, 60px, 700, 'primary', -1px)
  ),
  'heading-2': (
    'xxs': (28px, 35px, 700, 'primary', -0.5px),
    'm': (39px, 48px, 700, 'primary', -0.8px)
  ),
  'heading-3': (
    'xxs': (24px, 31px, 700, 'primary', 0.35px),
    'm': (32px, 40px, 700, 'primary', -0.6px)
  ),
  'heading-4': (
    'xxs': (20px, 25px, 700, 'primary', -0.25px),
    'm': (25px, 31px, 700, 'primary', -0.4px)
  ),
  'heading-5': (
    'xxs': (16px, 22px, 700, 'primary', 0),
    'm': (20px, 25px, 700, 'primary', -0.2px)
  ),
  'heading-6': (16px, 26px, 700, 'primary', 0),
  'lead': (
    'xxs': (18px, 29px, 400, 'primary', 0),
    'm': (20px, 34px, 400, 'primary', '0')
  ),
  'subtitle': (
    'xxs': (16px, 26px, 600, 'primary', 0),
    'm': (16px, 28px, 600, 'primary', 0)
  ),
  'body': (
    'xxs': (16px, 26px, 400, 'primary', 0),
    'm': (16px, 28px, 400, 'primary', 0)
  ),
  'small': (
    'xxs': (14px, 23px, 400, 'primary', 0),
    'm': (14px, 25px, 400, 'primary', 0)
  ),
  'text-large': (
    'xxs': (18px, 29px, 400, 'primary', 0),
    'm': (20px, 34px, 400, 'primary', '0')
  ),
  'text-regular': (
    'xxs': (14px, 25px, 400, 'primary', 0),
    'm': (16px, 28px, 400, 'primary', 0)
  ),
  'text-small': (
    'xxs': (12px, 20px, 400, 'primary', 0),
    'm': (14px, 25px, 400, 'primary', 0),
  ),
  'card-summary': (
    'xxs': (14px, 25px, 400, 'primary', 0),
    'm': (16px, 28px, 400, 'primary', 0)
  ),
  'quote': (
    'xxs': (18px, 29px, 400, 'primary', -0.15px),
    'm': (25px, 40px, 400, 'primary', -0.35px)
  ),
  'unordered-list': (
    'xxs': (16px, 26px, 400, 'primary', 0),
    'm': (16px, 28px, 400, 'primary', 0)
  ),
  'ordered-list': (
    'xxs': (16px, 26px, 400, 'primary', 0),
    'm': (16px, 28px, 400 'primary', 0)
  ),
  'label-large': (
    'xxs': (18px, 24px, 600, 'primary', -0.1px),
    'm': (18px, 24px, 600, 'primary', 0)
  ),
  'label-regular': (
    'xxs': (16px, 20px, 600, 'primary', -0.1px),
    'm': (16px, 20px, 600, 'primary', 0)
  ),
  'label-tag': (
    'xxs': (12px, 20px, 400, 'primary', -0.1px),
    'm': (14px, 20px, 400, 'primary', -0.1px)
  ),
  'label-small': (12px, 26px, 600, 'primary'),
  'tag': (14px, 20px, 400, 'primary', -0.1px),
  'small-and-captions': (14px, 23px, 400, 'primary'),
) !default;

//
// Link.
//
$civic-link-light-color: civic-color('primary') !default;
$civic-link-light-color-hover: civic-color('neutral') !default;
$civic-link-light-background-hover: civic-color('primary') !default;
$civic-link-dark-color: civic-color('accent') !default;
$civic-link-dark-color-hover: civic-color('shade_60') !default;
$civic-link-dark-background-hover: civic-color('accent') !default;
$civic-link-light-color-visited: civic-color('link-light-visited') !default;
$civic-link-light-color-visited-hover: civic-color('neutral') !default;
$civic-link-light-background-visited-hover: civic-color('link-light-visited') !default;
$civic-link-dark-color-visited: civic-color('link-dark-visited') !default;
$civic-link-dark-color-visited-hover: civic-color('shade_60') !default;
$civic-link-dark-background-visited-hover: civic-color('link-dark-visited') !default;

//
// Table.
//
$civic-table-light-color: civic-color('body') !default;
$civic-table-light-link-color: $civic-link-light-color !default;
$civic-table-light-link-hover-color: $civic-link-light-color-hover !default;
$civic-table-light-heading-color: civic-color('neutral_90') !default;
$civic-table-light-border-color: civic-color('body') !default;
$civic-table-light-background-color: civic-color('neutral') !default;
$civic-table-light-row-odd-color: civic-color('body') !default;
$civic-table-light-row-odd-link-color: $civic-link-light-color !default;
$civic-table-light-row-odd-link-hover-color: $civic-link-light-color-hover !default;
$civic-table-light-row-odd-background-color: civic-color('neutral') !default;
$civic-table-light-row-even-color: civic-color('body') !default;
$civic-table-light-row-even-link-color: $civic-link-light-color !default;
$civic-table-light-row-even-link-hover-color: $civic-link-light-color-hover !default;
$civic-table-light-row-even-background-color: civic-color('neutral_5') !default;
$civic-table-dark-color: civic-color('shade_90') !default;
$civic-table-dark-link-color: civic-color('accent') !default;
$civic-table-dark-link-hover-color: $civic-table-dark-link-color !default;
$civic-table-dark-heading-color: civic-color('neutral') !default;
$civic-table-dark-border-color: civic-color('shade_90') !default;
$civic-table-dark-background-color: civic-color('shade_45') !default;
$civic-table-dark-row-odd-color: $civic-table-dark-color !default;
$civic-table-dark-row-odd-link-color: $civic-table-dark-link-color !default;
$civic-table-dark-row-odd-link-hover-color: $civic-table-dark-link-hover-color !default;
$civic-table-dark-row-odd-background-color: civic-color('primary') !default;
$civic-table-dark-row-even-color: $civic-table-dark-color !default;
$civic-table-dark-row-even-link-color: $civic-table-dark-link-color !default;
$civic-table-dark-row-even-link-hover-color: $civic-table-dark-link-hover-color !default;
$civic-table-dark-row-even-background-color: civic-color('shade_30') !default;

//
// Callout.
//
$civic-callout-light-background-color: civic-color('neutral_5') !default;
$civic-callout-light-color: civic-color('body') !default;
$civic-callout-light-heading-color: civic-color('heading') !default;
$civic-callout-dark-background-color: civic-color('shade_15') !default;
$civic-callout-dark-color: civic-color('dark-text') !default;
$civic-callout-dark-heading-color: civic-color('neutral') !default;
$civic-callout-light-stripe-color: civic-color('secondary') !default;
$civic-callout-dark-stripe-color: $civic-callout-light-stripe-color !default;

// Basic content
$civic-basic-content-light-background-color: inherit !default;
$civic-basic-content-light-base-color: civic-color('body') !default;
$civic-basic-content-light-heading-1-color: civic-color('heading') !default;
$civic-basic-content-light-heading-2-color: civic-color('heading') !default;
$civic-basic-content-light-heading-3-color: civic-color('heading') !default;
$civic-basic-content-light-heading-4-color: civic-color('heading') !default;
$civic-basic-content-light-heading-5-color: civic-color('heading') !default;
$civic-basic-content-light-heading-6-color: civic-color('heading') !default;
$civic-basic-content-light-blockquote-color: civic-color('neutral_80') !default;
$civic-basic-content-light-blockquote-block: civic-color('secondary') !default;
$civic-basic-content-light-ul-li-color: civic-color('neutral_80') !default;
$civic-basic-content-light-ul-li-marker-color: civic-color('primary') !default;
$civic-basic-content-light-ol-li-color: civic-color('neutral_80') !default;
$civic-basic-content-light-ol-li-marker-color: civic-color('primary') !default;
$civic-basic-content-dark-background-color: civic-color('shade_45') !default;
$civic-basic-content-dark-base-color: civic-color('neutral') !default;
$civic-basic-content-dark-heading-1-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-heading-2-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-heading-3-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-heading-4-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-heading-5-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-heading-6-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-blockquote-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-blockquote-block: civic-color('secondary') !default;
$civic-basic-content-dark-ul-li-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-ul-li-marker-color: civic-color('accent') !default;
$civic-basic-content-dark-ol-li-color: $civic-basic-content-dark-base-color !default;
$civic-basic-content-dark-ol-li-marker-color: civic-color('accent') !default;

//
// Attachment.
//
$civic-attachment-light-color: civic-color('body') !default;
$civic-attachment-light-icon-color: civic-color('primary') !default;
$civic-attachment-light-border-color: civic-color('neutral_20') !default;
$civic-attachment-light-date-color: civic-color('neutral_60') !default;
$civic-attachment-light-heading-color: civic-color('heading') !default;
$civic-attachment-light-heading-color-hover: civic-color('secondary') !default;
$civic-attachment-light-heading-color-active: civic-color('shade_30') !default;
$civic-attachment-dark-background-color: civic-color('shade_45') !default;
$civic-attachment-dark-color: civic-color('neutral_10') !default;
$civic-attachment-dark-heading-color-hover: civic-color('accent') !default;
$civic-attachment-dark-heading-color-active: civic-color('neutral') !default;
$civic-attachment-dark-heading-color: civic-color('neutral') !default;
$civic-attachment-dark-date-color: civic-color('neutral_10') !default;
$civic-attachment-dark-icon-color: civic-color('accent') !default;

//
// Card container.
//
$civic-card-container-light-color: civic-color('neutral_80') !default;
$civic-card-container-light-background: civic-color('neutral_5') !default;
$civic-card-container-light-heading-color: civic-color('heading') !default;
$civic-card-container-dark-background: civic-color('shade_60') !default;
$civic-card-container-dark-heading-color: civic-color('neutral') !default;
$civic-card-container-dark-color: civic-color('neutral') !default;

//
// Navigation card.
//
$civic-navigation-card-light-background-color: civic-color('neutral') !default;
$civic-navigation-card-light-color: civic-color('body') !default;
$civic-navigation-card-light-heading-color: civic-color('heading') !default;
$civic-navigation-card-light-color-hover: civic-color('secondary') !default;
$civic-navigation-card-light-heading-color-active: civic-color('shade_30') !default;
$civic-navigation-card-dark-background-color: civic-color('shade_45') !default;
$civic-navigation-card-dark-color: civic-color('neutral_5') !default;
$civic-navigation-card-dark-heading-color: civic-color('neutral') !default;
$civic-navigation-card-dark-color-accent: civic-color('accent') !default;
$civic-navigation-card-dark-heading-color-active: civic-color('neutral_20') !default;

//
// Event card.
//
$civic-event-card-border-top-color: civic-color('secondary') !default;
$civic-event-card-light-background-color: civic-color('neutral') !default;
$civic-event-card-light-heading-color: civic-color('heading') !default;
$civic-event-card-light-body-color: civic-color('body') !default;
$civic-event-card-light-date-background-color: civic-color('neutral_5') !default;
$civic-event-card-light-date-color: civic-color('neutral_80') !default;
$civic-event-card-light-tag-background-color: civic-color('primary') !default;
$civic-event-card-light-tag-color: civic-color('neutral') !default;
$civic-event-card-light-color-hover: civic-color('secondary') !default;
$civic-event-card-light-color-active: civic-color('shade_30') !default;
$civic-event-card-dark-background-color: civic-color('shade_45') !default;
$civic-event-card-dark-heading-color: civic-color('neutral') !default;
$civic-event-card-dark-body-color: civic-color('neutral_5') !default;
$civic-event-card-dark-date-background-color: civic-color('shade_30') !default;
$civic-event-card-dark-date-color: civic-color('neutral') !default;
$civic-event-card-dark-tag-color: civic-color('neutral_80') !default;
$civic-event-card-dark-color-accent: civic-color('accent') !default;
$civic-event-card-dark-color-active: civic-color('neutral_20') !default;

//
// Promo Card
//
$civic-promo-card-light-border-top-color: civic-color('secondary') !default;
$civic-promo-card-light-background-color: civic-color('neutral') !default;
$civic-promo-card-light-heading-color: civic-color('heading') !default;
$civic-promo-card-light-body-color: civic-color('body') !default;
$civic-promo-card-light-date-color: civic-color('neutral_80') !default;
$civic-promo-card-light-color-hover: civic-color('secondary') !default;
$civic-promo-card-light-color-active: civic-color('shade_30') !default;
$civic-promo-card-light-tag-color: civic-color('neutral') !default;
$civic-promo-card-light-tag-background-color: civic-color('primary') !default;
$civic-promo-card-light-link-color: civic-color('primary') !default;
$civic-promo-card-dark-border-top-color: civic-color('secondary') !default;
$civic-promo-card-dark-background-color: civic-color('shade_45') !default;
$civic-promo-card-dark-heading-color: civic-color('neutral') !default;
$civic-promo-card-dark-body-color: civic-color('neutral_5') !default;
$civic-promo-card-dark-date-color: civic-color('neutral') !default;
$civic-promo-card-dark-tag-color: civic-color('neutral_80') !default;
$civic-promo-card-dark-tag-background-color: civic-color('accent') !default;
$civic-promo-card-dark-color-accent: civic-color('accent') !default;
$civic-promo-card-dark-color-active: civic-color('neutral_20') !default;
$civic-promo-card-dark-link-color: civic-color('accent') !default;

//
// Button
//
$civic-button-light-primary-background-color: civic-color('primary') !default;
$civic-button-light-primary-color: civic-color('neutral') !default;
$civic-button-light-secondary-background-color: civic-color('translucent') !default;
$civic-button-light-secondary-border-color: civic-color('primary') !default;
$civic-button-light-secondary-color: civic-color('primary') !default;
$civic-button-light-tertiary-background-color: civic-color('translucent') !default;
$civic-button-light-tertiary-color: civic-color('primary') !default;
$civic-button-light-focus-background-color: civic-color('primary') !default;
$civic-button-light-hover-background-color: civic-color('secondary') !default;
$civic-button-light-active-background-color: civic-color('shade_30') !default;
$civic-button-light-disabled-background-color: civic-color('neutral_20') !default;
$civic-button-light-disabled-color: civic-color('neutral_60') !default;
$civic-button-light-state-color: civic-color('neutral') !default;
$civic-button-dark-primary-background-color: civic-color('accent') !default;
$civic-button-dark-primary-color: civic-color('primary') !default;
$civic-button-dark-secondary-background-color: civic-color('translucent') !default;
$civic-button-dark-secondary-color: civic-color('accent') !default;
$civic-button-dark-secondary-border-color: civic-color('accent') !default;
$civic-button-dark-tertiary-background-color: civic-color('neutral') !default;
$civic-button-dark-tertiary-color: civic-color('primary') !default;
$civic-button-dark-focus-color: civic-color('primary') !default;
$civic-button-dark-focus-background-color: civic-color('accent') !default;
$civic-button-dark-hover-background-color: civic-color('link') !default;
$civic-button-dark-active-background-color: civic-color('shade_30') !default;
$civic-button-dark-disabled-background-color: civic-color('neutral_60') !default;
$civic-button-dark-state-color: civic-color('neutral') !default;

//
// Message.
//
$civic-message-light-color: civic-color('neutral_90') !default;
$civic-message-light-background-colors: (
  'info': civic-color('validation-light-info'),
  'status': civic-color('validation-light-status'),
  'warning': civic-color('validation-light-warning'),
  'error': civic-color('validation-light-error'),
  'success': civic-color('validation-light-success'),
) !default;
$civic-message-light-icon-colors: (
  'info': civic-color('information'),
  'status': civic-color('status'),
  'warning': civic-color('warning'),
  'error': civic-color('error'),
  'success': civic-color('success'),
) !default;
$civic-message-dark-color: civic-color('neutral_90') !default;
$civic-message-dark-background-colors: (
  'info': civic-color('validation-light-info'),
  'status': civic-color('validation-light-status'),
  'warning': civic-color('validation-light-warning'),
  'error': civic-color('validation-light-error'),
  'success': civic-color('validation-light-success'),
) !default;
$civic-message-dark-icon-colors: (
  'info': civic-color('information'),
  'status': civic-color('status'),
  'warning': civic-color('warning'),
  'error': civic-color('error'),
  'success': civic-color('success'),
) !default;

//
// Alert.
//

$civic-alert-light-color: civic-color('neutral') !default;
$civic-alert-light-background-colors: (
  'info': civic-color('information'),
  'status': civic-color('information'),
  'warning': civic-color('warning'),
  'error': civic-color('error'),
  'success': civic-color('success'),
) !default;
$civic-alert-light-icon-colors: (
  'info': $civic-alert-light-color,
  'status': $civic-alert-light-color,
  'warning': $civic-alert-light-color,
  'error': $civic-alert-light-color,
  'success': $civic-alert-light-color,
) !default;
$civic-alert-dark-color: civic-color('neutral') !default;
$civic-alert-dark-background-colors: (
  'info': civic-color('information'),
  'status': civic-color('information'),
  'warning': civic-color('warning'),
  'error': civic-color('error'),
  'success': civic-color('success'),
) !default;
$civic-alert-dark-icon-colors: (
  'info': $civic-alert-dark-color,
  'status': $civic-alert-dark-color,
  'warning': $civic-alert-dark-color,
  'error': $civic-alert-dark-color,
  'success': $civic-alert-dark-color,
) !default;

//
// Tag.
//
$civic-tag-light-background-color: civic-color('neutral_5') !default;
$civic-tag-light-color: civic-color('body') !default;
$civic-tag-dark-background-color: civic-color('shade_30') !default;
$civic-tag-dark-color: civic-color('neutral') !default;

//
// Service card.
//
$civic-service-card-border-top-color: civic-color('secondary') !default;
$civic-service-card-light-background-color: civic-color('neutral') !default;
$civic-service-card-light-color-hover: civic-color('secondary') !default;
$civic-service-card-light-color-active: civic-color('shade_30') !default;
$civic-service-card-light-heading-color: civic-color('heading') !default;
$civic-service-card-dark-background-color: civic-color('shade_45') !default;
$civic-service-card-dark-heading-color: civic-color('neutral') !default;
$civic-service-card-dark-color-hover: civic-color('accent') !default;
$civic-service-card-dark-color-active: civic-color('neutral_20') !default;

//
// Progress indicator.
//
$civic-progress-indicator-light-color: civic-color('body') !default;
$civic-progress-indicator-light-icon-color: civic-color('primary') !default;
$civic-progress-indicator-light-border-color: civic-color('neutral_40') !default;
$civic-progress-indicator-light-active-color: civic-color('neutral_5') !default;
$civic-progress-indicator-dark-color: civic-color('neutral') !default;
$civic-progress-indicator-dark-background-color: transparent !default;
$civic-progress-indicator-dark-icon-color: civic-color('accent') !default;
$civic-progress-indicator-dark-active-color: civic-color('shade_30') !default;

//
// Breadcrumb.
//
$civic-breadcrumb-light-icon-color: civic-color('neutral_40') !default;
$civic-breadcrumb-light-color: civic-color('neutral_90') !default;
$civic-breadcrumb-light-color-hover: civic-color('neutral_5') !default;
$civic-breadcrumb-dark-icon-color: civic-color('neutral_40') !default;
$civic-breadcrumb-dark-color: civic-color('neutral_5') !default;
$civic-breadcrumb-dark-color-hover: civic-color('shade_60') !default;

//
// Skip link.
//
$civic-skip-link-light-background-color: civic-color('shade_90') !default;
$civic-skip-link-light-color: civic-color('shade_30') !default;
$civic-skip-link-dark-background-color: civic-color('shade_60') !default;
$civic-skip-link-dark-color: civic-color('dark-text') !default;

//
// Directional link
//
$civic-directional-link-light-disabled-color: civic-color('neutral_40') !default;
$civic-directional-link-light-color: civic-color('neutral_90') !default;
$civic-directional-link-light-hover-color: civic-color('shade_30') !default;
$civic-directional-link-dark-disabled-color: civic-color('neutral_40') !default;
$civic-directional-link-dark-color: civic-color('neutral') !default;
$civic-directional-link-dark-hover-color: civic-color('accent') !default;

//
// Filter chip.
//
$civic-filter-chip-light-color: civic-color('neutral_80') !default;
$civic-filter-chip-light-border-color: civic-color('neutral_20') !default;
$civic-filter-chip-light-background-color: civic-color('neutral') !default;
$civic-filter-chip-light-hover-color: civic-color('neutral_80') !default;
$civic-filter-chip-light-hover-border-color: civic-color('neutral_80') !default;
$civic-filter-chip-light-hover-background-color: civic-color('neutral_5') !default;
$civic-filter-chip-light-active-color: civic-color('neutral') !default;
$civic-filter-chip-light-active-border-color: civic-color('primary') !default;
$civic-filter-chip-light-active-background-color: civic-color('primary') !default;
$civic-filter-chip-dark-color: civic-color('neutral_5') !default;
$civic-filter-chip-dark-border-color: civic-color('neutral_40') !default;
$civic-filter-chip-dark-background-color: civic-color('shade_45') !default;
$civic-filter-chip-dark-hover-color: civic-color('neutral_5') !default;
$civic-filter-chip-dark-hover-border-color: civic-color('neutral_40') !default;
$civic-filter-chip-dark-hover-background-color: civic-color('shade_45') !default;
$civic-filter-chip-dark-active-color: civic-color('accent') !default;
$civic-filter-chip-dark-active-background-color: civic-color('shade_60') !default;
$civic-filter-chip-dark-active-border-color: civic-color('accent') !default;

// Next steps.
$civic-next-steps-stripe-color: civic-color('secondary') !default;
$civic-next-steps-light-background-color: civic-color('neutral_5') !default;
$civic-next-steps-light-color: civic-color('body') !default;
$civic-next-steps-light-heading-color: civic-color('heading') !default;
$civic-next-steps-light-color-hover: civic-color('secondary') !default;
$civic-next-steps-light-color-active: civic-color('shade_30') !default;
$civic-next-steps-dark-background-color: civic-color('shade_15') !default;
$civic-next-steps-dark-color-hover: civic-color('accent') !default;
$civic-next-steps-dark-color-active: civic-color('neutral_20') !default;
$civic-next-steps-dark-color: civic-color('neutral_10') !default;
$civic-next-steps-dark-heading-color: civic-color('neutral_10') !default;

//
// Accordion.
//
$civic-accordion-light-color: civic-color('body') !default;
$civic-accordion-light-button-background-color: civic-color('neutral') !default;
$civic-accordion-light-icon-color: civic-color('primary') !default;
$civic-accordion-light-border-color: civic-color('neutral_20') !default;
$civic-accordion-light-background-color: civic-color('neutral') !default;
$civic-accordion-light-expanded-border-color: civic-color('secondary') !default;
$civic-accordion-dark-color: civic-color('neutral') !default;
$civic-accordion-dark-button-background-color: transparent !default;
$civic-accordion-dark-icon-color: civic-color('accent') !default;
$civic-accordion-dark-border-color: civic-color('primary') !default;
$civic-accordion-dark-background-color: civic-color('shade_45') !default;
$civic-accordion-dark-expanded-border-color: civic-color('secondary') !default;

// Icon link.
$civic-icon-link-light-color: civic-color('primary') !default;
$civic-icon-link-light-color-hover: civic-color('link') !default;
$civic-icon-link-light-color-focus: civic-color('primary') !default;
$civic-icon-link-light-color-active: civic-color('shade_30') !default;
$civic-icon-link-light-color-visited: civic-color('primary') !default;
$civic-icon-link-light-color-disabled: civic-color('neutral_40') !default;
$civic-icon-link-dark-color: civic-color('neutral') !default;
$civic-icon-link-dark-color-hover: civic-color('accent') !default;
$civic-icon-link-dark-color-focus: civic-color('neutral') !default;
$civic-icon-link-dark-color-active: civic-color('shade_90') !default;
$civic-icon-link-dark-color-visited: civic-color('neutral') !default;
$civic-icon-link-dark-color-disabled: civic-color('neutral_40') !default;

// Image.
$civic-image-border-radius: $civic-border-radius !default;
$civic-image-caption-light-color: civic-color('neutral_60') !default;
$civic-image-caption-icon-light-color: $civic-image-caption-light-color !default;
$civic-image-caption-dark-color: civic-color('shade_90') !default;
$civic-image-caption-icon-dark-color: $civic-image-caption-dark-color !default;

// Video
$civic-video-padding-bottom: 56.25% !default;
$civic-video-light-icon-color: civic-color('primary') !default;
$civic-video-light-icon-hover-color: civic-color('primary') !default;
$civic-video-dark-link-color: civic-color('neutral') !default;
$civic-video-dark-link-hover-color: civic-color('shade_60') !default;
$civic-video-dark-icon-color: civic-color('accent') !default;
$civic-video-dark-icon-hover-color: civic-color('accent') !default;

//
// Subject card.
//
$civic-subject-card-color: civic-color('neutral') !default;
$civic-subject-card-light-color-hover: civic-color('secondary') !default;
$civic-subject-card-light-color-active: civic-color('shade_30') !default;
$civic-subject-card-dark-color-accent: civic-color('accent') !default;
$civic-subject-card-dark-color-active: civic-color('neutral_20') !default;

//
// Banner.
//
$civic-banner-light-background-color: civic-color('neutral_20') !default;
$civic-banner-dark-background-color: civic-color('shade_60') !default;
$civic-banner-light-color: civic-color('neutral_90') !default;
$civic-banner-dark-color: civic-color('neutral') !default;
$civic-banner-decorative-mobile-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{civic-space(5)}), 0% 100%) !default;
$civic-banner-decorative-desktop-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{$civic-space * 11}), 0% 100%) !default;
$civic-banner-featured-image-clip-path: polygon(13% 10%, 100% 0, 100% 100%, 0% 100%) !default;

//
// Pagination.
//
$civic-pagination-light-link-color: civic-color('neutral_90') !default;
$civic-pagination-light-link-hover-color: civic-color('shade_30') !default;
$civic-pagination-light-link-active-border-color: civic-color('primary') !default;
$civic-pagination-dark-link-color: civic-color('neutral') !default;
$civic-pagination-dark-link-hover-color: civic-color('accent') !default;
$civic-pagination-dark-link-active-border-color: civic-color('accent') !default;

//
// Footer
//
$civic-footer-logo-desktop-width: 190px;
$civic-footer-logo-mobile-width: 190px;
$civic-footer-light-color: civic-color('neutral_90') !default;
$civic-footer-light-link-color: civic-color('neutral_90') !default;
$civic-footer-light-link-hover-color: civic-color('shade_30') !default;
$civic-footer-light-background-color: civic-color('neutral_20') !default;
$civic-footer-light-border-color: civic-color('neutral_40') !default;
$civic-footer-light-outline-color: civic-color('link-light-visited') !default;
$civic-footer-collapsible-light-border-color: civic-color('neutral_40') !default;
$civic-footer-dark-color: civic-color('neutral') !default;
$civic-footer-dark-background-color: civic-color('shade_60') !default;
$civic-footer-dark-border-color: civic-color('primary') !default;
$civic-footer-dark-mobile-border-color: civic-color('shade_15') !default;
$civic-footer-dark-link-color: civic-color('neutral') !default;
$civic-footer-dark-link-hover-color: civic-color('accent') !default;
$civic-footer-dark-outline-color: civic-color('link-dark-visited') !default;
$civic-footer-collapsible-dark-border-color: civic-color('shade_30') !default;

//
// Collapsible.
//
$civic-collapsible-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='' class='civic-icon civic-icon--color-primary civic-icon--size-small ' title='downarrow_1' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M16.9997 9.17C16.8123 8.98375 16.5589 8.87921 16.2947 8.87921C16.0305 8.87921 15.7771 8.98375 15.5897 9.17L11.9997 12.71L8.4597 9.17C8.27234 8.98375 8.01889 8.87921 7.7547 8.87921C7.49052 8.87921 7.23707 8.98375 7.0497 9.17C6.95598 9.26297 6.88158 9.37357 6.83081 9.49543C6.78004 9.61729 6.75391 9.74799 6.75391 9.88C6.75391 10.012 6.78004 10.1427 6.83081 10.2646C6.88158 10.3864 6.95598 10.497 7.0497 10.59L11.2897 14.83C11.3827 14.9237 11.4933 14.9981 11.6151 15.0489C11.737 15.0997 11.8677 15.1258 11.9997 15.1258C12.1317 15.1258 12.2624 15.0997 12.3843 15.0489C12.5061 14.9981 12.6167 14.9237 12.7097 14.83L16.9997 10.59C17.0934 10.497 17.1678 10.3864 17.2186 10.2646C17.2694 10.1427 17.2955 10.012 17.2955 9.88C17.2955 9.74799 17.2694 9.61729 17.2186 9.49543C17.1678 9.37357 17.0934 9.26297 16.9997 9.17Z'%3E%3C/path%3E%3C/svg%3E");
$civic-collapsible-icon-size: 'm';
$civic-collapsible-light-color: civic-color('neutral_90') !default;
$civic-collapsible-light-background-color: civic-color('neutral_5') !default;
$civic-collapsible-light-icon-color: $civic-collapsible-light-color;
$civic-collapsible-dark-color: civic-color('neutral') !default;
$civic-collapsible-dark-background-color: civic-color('shade_60') !default;
$civic-collapsible-dark-icon-color: $civic-collapsible-dark-color;

//
// Tooltip.
//
$civic-tooltip-width: rem(230px);
$civic-tooltip-triangle-width: civic-space();
$civic-tooltip-triangle-height: civic-space();
$civic-tooltip-light-icon-color: civic-color('shade_30');
$civic-tooltip-light-icon-hover-color: civic-color('secondary');
$civic-tooltip-light-description-color: civic-color('neutral');
$civic-tooltip-light-description-background-color: civic-color('primary');
$civic-tooltip-dark-icon-color: civic-color('neutral');
$civic-tooltip-dark-icon-hover-color: civic-color('accent');
$civic-tooltip-dark-description-color: civic-color('neutral');
$civic-tooltip-dark-description-background-color: civic-color('shade_30');

//
// Search.
//
$civic-search-light-color: civic-color('neutral_60');
$civic-search-light-background-color: civic-color('neutral');
$civic-search-light-border-color: civic-color('shade_30');
$civic-search-light-help-color: $civic-search-light-color;
$civic-search-dark-color: civic-color('neutral_60');
$civic-search-dark-background-color: civic-color('neutral');
$civic-search-dark-border-color: civic-color('shade_30');
$civic-search-dark-help-color: $civic-search-dark-color;
