@import '../variables';
@import 'base.scss';

// Set default styles for the Storybook viewport.
#root {
  font-family: sans-serif;
}

.sb-show-main.sb-main-centered #root {
  padding: 0  ;
}

.story-wrapper-size--small,
.civic-promo-card,
.civic-event-card,
.civic-service-card {
  max-width: 376px;
}

.story-wrapper-size--medium,
.civic-navigation-card {
  max-width: 576px;
}

.story-wrapper-size--large,
.civic-callout {
  max-width: 992px;
}

.story-slot {
  display: block;
  background-color: transparentize(purple, 0.7);
  padding: 1em;
  text-align: center;
  font-family: 'Courier New', Monospace;
}

.story-slot--image_over {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}
