@import '../variables';
@import 'base.scss';

// Set default styles for the Storybook viewport.
#root {
  font-family: sans-serif;
  padding: civic-space(2);
}

.sb-show-main.sb-main-fullscreen #root,
.sb-show-main.sb-main-centered #root {
  padding: 0;
}

.story-wrapper-size--small {
  max-width: 376px;
}

.story-wrapper-size--medium {
  max-width: 576px;
}

.story-wrapper-size--large {
  max-width: 992px;
}

.story-slot {
  display: block;
  background-color: transparentize(purple, 0.7);
  padding: 1em;
  text-align: center;
  font-family: 'Courier New', Monospace;
  border: dotted 1px purple;

  .civic-theme-dark & {
    background-color: transparentize(white, 0.7);
    border: dotted 1px purple;
  }
}

.story-slot--image_over {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}
