//
// Tabs component.
//

.ct-tabs {
  $root: &;

  margin-top: ct-spacing(2);

  #{$root}__links {
    border-bottom-style: solid;
    border-bottom-width: ct-particle(0.125);

    .ct-link-list__list__item {
      margin-right: 0;
    }

    .ct-link {
      @include ct-typography('label-regular');
      @include ct-link-decoration(false, false, false, false);

      margin-bottom: -1 * ct-particle(0.125);
      outline-offset: -1 * ct-particle(0.375);
      display: block;
      padding: ct-spacing(1) ct-spacing(2);
      border-radius: $ct-tabs-link-border-radius $ct-tabs-link-border-radius 0 0;
      border: solid ct-particle(0.125);

      @include ct-breakpoint('m') {
        padding: ct-spacing(1.5) ct-spacing(2);
      }
    }
  }

  .ct-tabs__panels {
    margin-top: ct-spacing(3);
  }

  .ct-tabs__panels__panel {
    display: none;

    &.ct-tabs__panel--selected {
      display: block;
    }
  }

  &.ct-theme-light {
    #{$root}__links {
      border-bottom-color: $ct-tabs-light-links-stripe-border-color;
    }

    .ct-link {
      background-color: $ct-tabs-light-links-background-color;
      border-color: $ct-tabs-light-links-border-color;
      border-bottom-color: $ct-tabs-light-links-stripe-border-color;

      &#{$root}__tab--selected {
        background-color: $ct-tabs-light-links-active-background-color;
        border-color: $ct-tabs-light-links-active-border-color;
        border-bottom-color: $ct-tabs-light-links-stripe-border-color;
      }
    }

    #{$root}__panels {
      background-color: $ct-tabs-light-panel-background-color;
      border-color: $ct-tabs-light-panel-border-color;
    }
  }

  &.ct-theme-dark {
    #{$root}__links {
      border-bottom-color: $ct-tabs-dark-links-stripe-border-color;
    }

    .ct-link {
      background-color: $ct-tabs-dark-links-background-color;
      border-color: $ct-tabs-dark-links-border-color;
      border-bottom-color: $ct-tabs-dark-links-stripe-border-color;

      &#{$root}__tab--selected {
        background-color: $ct-tabs-dark-links-active-background-color;
        border-color: $ct-tabs-dark-links-active-border-color;
        border-bottom-color: $ct-tabs-dark-links-stripe-border-color;
      }
    }

    #{$root}__panels {
      background-color: $ct-tabs-dark-panel-background-color;
      border-color: $ct-tabs-dark-panel-border-color;
    }
  }
}
