<div class="layout-container">

  {% block header %}
    {% include '@organisms/header/header.twig' with {
      top: header_top,
      logo: header_logo,
      content: header_content,
      bottom: header_bottom,
    } only %}
  {% endblock %}

  {% block banner %}
    {{ banner }}
  {% endblock %}

  <div class="container">
    {% block highlighted %}
      {{ highlighted }}
    {% endblock %}
  </div>

  {% block content %}
    {% include '@organisms/content/content.twig' with {
      content: content,
      content_left: content_left,
    } only %}
  {% endblock %}

  {% block footer %}
    {% include '@organisms/footer/footer.twig' with {
      top_left: footer_top_left,
      top_right: footer_top_right,
      middle: footer_middle,
      bottom_left: footer_bottom_left,
      bottom_right: footer_bottom_right,
    } only %}
  {% endblock %}
</div>
