//
// List component.
//

.ct-list {
  $root: &;

  &#{$root}--with-background {
    padding-left: $ct-accordion-space-horizontal;
    padding-right: $ct-accordion-space-horizontal;
  }

  &__header {
    margin-bottom: ct-spacing(3);
  }

  &__title {
    .ct-heading {
      margin: 0;
    }

    @include ct-breakpoint(m) {
      margin-right: auto;
    }
  }

  &__link-above {
    @include ct-breakpoint(m) {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      margin-left: auto;
    }

    @include ct-breakpoint-upto('m') {
      margin-top: ct-spacing(3);
    }
  }

  &__content {
    margin-bottom: ct-spacing(3);
  }

  &__pager {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &__results-count {
    margin-bottom: ct-spacing(2);
  }

  &__rows-above {
    margin-bottom: ct-spacing(2);
  }

  &__rows-below {
    margin-top: ct-spacing(2);
    margin-bottom: ct-spacing(2);
  }

  &__link-below {
    display: flex;
    justify-content: center;
    padding-top: ct-spacing(2);
    padding-bottom: ct-spacing(2);
  }

  &__results-below {
    margin-top: ct-spacing(3);
  }

  &__feed_icons {
    @include ct-breakpoint(m) {
      margin-bottom: ct-spacing(3);
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    &#{$root}__content,
    &#{$root}__header,
    &#{$root}__rows-header {
      @include ct-component-property($root, $theme, color);
    }

    &#{$root}--with-background {
      @include ct-component-property($root, $theme, background-color);

      #{$root}__results-below {
        @include ct-component-property($root, $theme, background-color);
      }
    }
  }
}
