//
// List component.
//

.ct-list {
  $root: &;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: ct-spacing(3);

    @include ct-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__header-title {
    @include ct-breakpoint('m') {
      margin-right: auto;
    }
  }

  &__header-link-above {
    @include ct-typography('label-regular');

    @include ct-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__filters {
    margin-bottom: ct-spacing(5);
  }

  &__pager {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &__emptyresults {
    padding: ct-spacing(6) 0;
  }

  &__results-below {
    padding: ct-spacing(3) 0 ct-spacing(10);
  }

  &__rows-header {
    @include ct-typography('label-regular');

    padding: ct-spacing(2) 0 ct-spacing(6);
  }

  &__link-below {
    display: flex;
    justify-content: center;
  }

  &__empty-results,
  &__feed_icons {
    @include ct-content();

    padding: ct-spacing(6) 0;
  }

  &--with-background {
    #{$root}__header,
    #{$root}__filters,
    #{$root}__pager,
    #{$root}__empty-results,
    #{$root}__results-below {
      padding-left: $ct-list-space-horizontal;
      padding-right: $ct-list-space-horizontal;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    &#{$root}__content,
    &#{$root}__header,
    &#{$root}__rows-header {
      @include ct-component-property($root, $theme, color);
    }

    &#{$root}--with-background {
      @include ct-component-property($root, $theme, background-color);

      #{$root}__results-below {
        @include ct-component-property($root, $theme, background-color);
      }
    }
  }
}
