//
// List component.
//

.ct-list {
  $root: &;

  &__header {
    margin-bottom: ct-spacing(3);
  }

  &__header-title {
    .ct-heading {
      margin: 0;
    }

    @include ct-breakpoint('m') {
      margin-right: auto;
    }
  }

  &__link-above {
    @include ct-breakpoint('m') {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      margin-left: auto;
    }
  }

  &__content {
    margin-bottom: ct-spacing(3);
  }

  &__filters {
    margin-bottom: ct-spacing(5);
  }

  &__pager {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  &__emptyresults {
    padding: ct-spacing(6) 0;
  }

  &__rows-header {
    @include ct-typography('label-regular');

    padding: ct-spacing(2) 0 ct-spacing(6);
  }

  &__link-below {
    display: flex;
    justify-content: center;
    padding-top: ct-spacing(2);
    padding-bottom: ct-spacing(2);
  }

  &__results-below {
    margin-top: ct-spacing(3);
  }

  &__empty-results,
  &__feed_icons {
    @include ct-content();

    @include ct-breakpoint('m') {
      padding: ct-spacing(6) 0;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    &#{$root}__content,
    &#{$root}__header,
    &#{$root}__rows-header {
      @include ct-component-property($root, $theme, color);
    }

    &#{$root}--with-background {
      @include ct-component-property($root, $theme, background-color);

      #{$root}__results-below {
        @include ct-component-property($root, $theme, background-color);
      }
    }
  }
}
