@use 'sass:map';
@import '../../00-base/base';

.civic-icon {
  vertical-align: bottom;
  fill: currentColor;

  // Generate color classes for all pre-set colors.
  // stylelint-disable-next-line scss/dollar-variable-pattern
  $all-colors: map.merge($civic-default-colors, $civic-colors);

  @each $key, $value in $all-colors {
    &--color-#{$key} {
      fill: civic-color($key);
    }
  }

  // Generate size classes for all pre-set sizes.
  @each $size, $values in $civic-icon-sizes {
    &--size-#{$size} {
      @include civic-icon-size($size);
    }
  }
}
