//
// Base rules for Storybook stories.
//

@use 'sass:color';
@use 'sass:map';

// Set default styles for the Storybook viewport.
#root {
  font-family: sans-serif;
  padding: civictheme-space(2);

  // Only apply wrappers used directly in preview, but not within other
  // components.
  > .story-wrapper-size--small {
    max-width: map.get($civictheme-breakpoints, 'xs');
  }

  > .story-wrapper-size--medium {
    max-width: map.get($civictheme-breakpoints, 's');
  }

  > .story-wrapper-size--large {
    max-width: map.get($civictheme-breakpoints, 'xxl');
  }

  > .story-wrapper--centered {
    margin-left: auto;
    margin-right: auto;
  }

  > .story-wrapper--centered-both {
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
}

.sb-show-main {
  &.sb-main-fullscreen,
  &.sb-main-centered {
    #root {
      padding: 0;
    }
  }
}

.story-slot {
  display: block;
  background-color: color.adjust(purple, $alpha: -0.7);
  padding: 1em;
  text-align: center;
  font-family: 'Courier New', monospace;
  border: dotted 1px purple;

  .civictheme-theme-dark & {
    background-color: color.adjust(white, $alpha: -0.7);
    border: dotted 1px purple;
  }
}

.story-slot--image_over {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}

.example-container {
  $root: &;

  margin-bottom: civictheme-space(4);

  #{$root}__title {
    @include civictheme-typography('label-large');

    border-bottom: solid 1px;
    margin-bottom: civictheme-space(2);

    code {
      text-transform: lowercase;
      font-family: 'Courier New', monospace;
      background: #eee;
      padding: 0 0.25em;
    }
  }

  #{$root}__subtitle {
    @include civictheme-typography('label-regular');

    margin-bottom: civictheme-space(1);
  }

  #{$root}__content {
    margin-bottom: civictheme-space(4);
  }

  #{$root}__subcontent {
    margin-bottom: civictheme-space(2);
  }

  &#{$root}--columns {
    display: flex;
  }

  &#{$root}--columns--2 {
    #{$root}__column {
      width: 50%;
      padding: civictheme-space(2);
    }
  }

  #{$root}__column {
    flex: 1;

    &--light {
      background: civictheme-color-light('background');

      #{$root}__title,
      #{$root}__subtitle {
        color: civictheme-color-light('heading');
      }

      #{$root}__content,
      #{$root}__subcontent {
        color: civictheme-color-light('body');
      }
    }

    &--dark {
      background: civictheme-color-dark('background');

      #{$root}__title,
      #{$root}__subtitle {
        color: civictheme-color-dark('heading');
      }

      #{$root}__content,
      #{$root}__subcontent {
        color: civictheme-color-dark('body');
      }
    }
  }
}

.docs-container {
  $root: &;

  border: solid 1px #ccc;
  padding: civictheme-space(4);
  margin: civictheme-space(4) auto;
  max-width: 60%;

  &--large {
    margin: civictheme-space(8) auto;
    max-width: 60%;
    min-width: 600px;
  }

  &--content-centered {
    text-align: center;
  }

  #{$root}__title {
    @include civictheme-typography('label-large');
  }

  #{$root}__content {
    margin-bottom: civictheme-space(4);
  }
}
