//
// Base rules for Storybook stories.
//

@use 'sass:color';
@use 'sass:map';

// Set default styles for the Storybook viewport.
#root {
  font-family: sans-serif;
  padding: civictheme-space(2);
}

.sb-show-main {
  &.sb-main-fullscreen,
  &.sb-main-centered {
    #root {
      padding: 0;
    }
  }
}

.story-wrapper-size--small {
  max-width: 376px;
}

.story-wrapper-size--medium {
  max-width: 576px;
}

.story-wrapper-size--large {
  max-width: map.get($civictheme-breakpoints, 'xxl');
}

.story-wrapper-centered {
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.story-slot {
  display: block;
  background-color: color.adjust(purple, $alpha: -0.7);
  padding: 1em;
  text-align: center;
  font-family: 'Courier New', monospace;
  border: dotted 1px purple;

  .civictheme-theme-dark & {
    background-color: color.adjust(white, $alpha: -0.7);
    border: dotted 1px purple;
  }
}

.story-slot--image_over {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
}

.example-container {
  margin-bottom: civictheme-space(4);
}

.example-container__title {
  @include civictheme-typography('label-large');

  border-bottom: solid 1px;
  margin-bottom: civictheme-space(2);

  code {
    text-transform: lowercase;
    font-family: 'Courier New', monospace;
    background: #eee;
    padding: 0 0.25em;
  }
}

.example-container__subtitle {
  @include civictheme-typography('label-regular');

  margin-bottom: civictheme-space(1);
}

.example-container__content {
  margin-bottom: civictheme-space(4);
}

.example-container__subcontent {
  margin-bottom: civictheme-space(2);
}

.docs-container {
  border: solid 1px #ccc;
  padding: civictheme-space(4);
  margin: civictheme-space(4) auto;
  max-width: 60%;

  &--large {
    margin: civictheme-space(8) auto;
    max-width: 60%;
    min-width: 600px;
  }
}

.docs-container__title {
  @include civictheme-typography('label-large');
}

.docs-container__content {
  margin-bottom: civictheme-space(4);
}
