//
// Drupal Header component.
//

@import 'components/00-base/variables';

.toolbar-tray-open.toolbar-fixed {
    .civictheme-header {
      :target {
        &::before {
          @include civictheme-breakpoint($civictheme-header-desktop-menu-breakpoint) {
            content: '';
            display: block;
            height: $civictheme-header-sticky-scroll-offset;
            margin: -$civictheme-header-sticky-scroll-offset 0 0;
          }
        }
      }
    }
}
