//
// Select component.
//

.civic-select {
  $root: &;

  @include civic-typography('text-regular');

  display: block;
  font-weight: 600;
  margin: 0 auto 0.5rem;
  padding: civic-space(1.5) civic-space(3) civic-space(1.5) civic-space(2);

  &.civic-theme-light {
    color: $civic-select-light-color;
    background-color: $civic-select-light-background-color;

    &:hover {
      box-shadow: 0 0 0 1px $civic-select-light-hover-border-color;
    }

    &.error,
    &.civic-input--error {
      border-color: $civic-input-light-error-border-color;
      box-shadow: 0 0 0 1px $civic-input-light-error-border-color;
    }

    &.civic-input--success {
      border-color: $civic-select-light-border-success-color;
      box-shadow: 0 0 0 1px $civic-select-light-border-success-color;
    }

    &.disabled {
      color: $civic-select-light-disabled-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-select-dark-color;
    background-color: $civic-select-dark-background-color;
    border-color: $civic-input-dark-error-border-color;

    &:hover {
      border-color: $civic-select-dark-hover-border-color;
      box-shadow: 0 0 0 1px $civic-select-dark-hover-border-color;
    }

    &:focus {
      border-color: $civic-select-dark-focus-border-color;
      box-shadow: 0 0 0 1px $civic-select-dark-focus-border-color;
    }

    &:invalid,
    &.error,
    &.civic-input--error {
      border-color: $civic-select-dark-border-error-color;
      box-shadow: 0 0 0 1px $civic-select-dark-border-error-color;
    }

    &:valid,
    &.civic-input--success {
      border-color: $civic-select-dark-border-success-color;
      box-shadow: 0 0 0 1px $civic-select-dark-border-success-color;
    }

    &.disabled {
      border-color: $civic-select-dark-disabled-color;
      color: $civic-select-dark-disabled-color;
      background-color: $civic-select-dark-disabled-background-color;
    }
  }
}
