//
// Alert.
//

@import '../../00-base/base';

.civic-alert {
  $root: &;
  position: relative;
  border-radius: $civic-border-radius;
  border-left: solid rem(6px) transparent;
  padding: civic-space(3) civic-space(3) civic-space(3) civic-space(2);
  @include civic-typography('body');

  #{$root}__title {
    display: flex;
    font-weight: 600;
  }

  #{$root}__icon {
    width: rem(26px);
    margin-right: civic-space(2);
  }

  .civic-icon {
    width: rem(26px);
    height: rem(26px);
  }

  #{$root}__summary {
    display: flex;
  }

  #{$root}__close-icon {
    cursor: pointer;
    margin-left: civic-space(3);
    position: absolute;
    top: 0;
    right: 0;

    @include civic-breakpoint(m) {
      position: static;
    }
  }

  &.civic-theme-light {
    color: $civic-alert-light-color;
  }

  &.civic-theme-dark {
    color: $civic-alert-dark-color;
  }

  @each $type, $values in $civic-alert-light-background-colors {
    &#{$root}--#{$type} {
      &.civic-theme-light {
        background-color: map-get($civic-alert-light-background-colors, '#{$type}');
        border-color: map-get($civic-alert-light-icon-colors, '#{$type}');

        #{$root}__icon {
          .civic-icon {
            fill: map-get($civic-alert-light-icon-colors, '#{$type}');
          }
        }
      }
    }
  }

  @each $type, $values in $civic-alert-dark-background-colors {
    &#{$root}--#{$type} {
      &.civic-theme-dark {
        background-color: map-get($civic-alert-dark-background-colors, '#{$type}');
        border-color: map-get($civic-alert-dark-icon-colors, '#{$type}');

        #{$root}__icon {
          .civic-icon {
            fill: map-get($civic-alert-dark-icon-colors, '#{$type}');
          }
        }
      }
    }
  }
}
