//
// Event card.
//

.civic-event-card {
  $root: &;

  position: relative;
  border-radius: $civic-event-card-border-radius;

  // Prevent image from "spilling" over the border radius.
  overflow: hidden;

  @include civic-elevation(3);

  &:focus-within {
    @include civic-outline();
  }

  &#{$root}--no-image {
    border-top-width: civic-space(0.75);
    border-top-style: solid;
  }

  #{$root}__image-wrapper {
    position: relative;

    @include civic-image-fit ();
  }

  #{$root}__content {
    padding: civic-space(3);
  }

  #{$root}__date {
    margin-bottom: civic-space(2);
  }

  #{$root}__title {
    @include civic-typography('heading-4');

    margin-bottom: civic-space(2);
  }

  #{$root}__title-link {
    @include civic-link-decoration ();
    @include civic-link-no-outline ();
    @include civic-link-cover-parent ();
  }

  #{$root}__location {
    @include civic-typography('text-regular');

    font-weight: 600;
    margin-bottom: civic-space(2);
  }

  #{$root}__summary {
    @include civic-typography('text-regular');
  }

  #{$root}__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: civic-space(3);
  }

  #{$root}__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: auto;
    margin-top: -1 * civic-space(0.5);

    .civic-tag {
      margin-top: civic-space(0.5);
      margin-right: civic-space(0.5);
    }
  }

  &.civic-theme-light {
    background-color: $civic-event-card-light-background-color;

    &:focus {
      @include civic-outline(false);
    }

    &#{$root}--no-image {
      border-top-color: $civic-event-card-light-border-top-color;
    }

    #{$root}__title {
      color: $civic-event-card-light-heading-color;
    }

    #{$root}__title-link {
      @include civic-link-colors($civic-event-card-light-heading-color, $civic-event-card-light-heading-hover-color, $active: $civic-event-card-light-heading-active-color);
    }

    #{$root}__location {
      color: $civic-event-card-light-location-color;
    }

    #{$root}__summary {
      color: $civic-event-card-light-summary-color;
    }

    #{$root}__icon--arrow {
      @include civic-icon-fill-color($civic-event-card-light-icon-arrow-color);
    }
  }

  &.civic-theme-dark {
    background-color: $civic-event-card-dark-background-color;

    &:focus {
      @include civic-outline(true);
    }

    &#{$root}--no-image {
      border-top-color: $civic-event-card-dark-border-top-color;
    }

    #{$root}__title {
      color: $civic-event-card-dark-heading-color;
    }

    #{$root}__title-link {
      @include civic-link-colors($civic-event-card-dark-heading-color, $civic-event-card-dark-heading-hover-color, $active: $civic-event-card-dark-heading-active-color);
    }

    #{$root}__location {
      color: $civic-event-card-dark-location-color;
    }

    #{$root}__summary {
      color: $civic-event-card-dark-summary-color;
    }

    #{$root}__icon--arrow {
      @include civic-icon-fill-color($civic-event-card-dark-icon-arrow-color, true);
    }
  }
}
