//
// Tag component.
//

.ct-tag {
  $root: &;

  border-radius: $ct-tag-border-radius;
  border-style: solid;
  border-width: $ct-tag-border-width;
  display: inline-block;

  @include ct-typography('label-small');
  @include ct-link-no-decoration();

  &--icon-before {
    .ct-icon {
      margin-right: ct-spacing(0.25);
    }
  }

  &--icon-after {
    .ct-icon {
      margin-left: ct-spacing(0.25);
    }
  }

  .ct-icon {
    vertical-align: text-bottom;
  }

  &.ct-theme-light {
    &#{$root}--primary {
      background-color: $ct-tag-light-primary-background-color;
      border-color: $ct-tag-light-primary-border-color;
      color: $ct-tag-light-primary-color;
      padding: ct-spacing(0.5) ct-spacing();

      @include ct-icon-fill-color($ct-tag-light-primary-color);
    }

    &#{$root}--secondary {
      background-color: $ct-tag-light-secondary-background-color;
      border-color: $ct-tag-light-secondary-border-color;
      color: $ct-tag-light-secondary-color;
      padding: ct-spacing(0.5) ct-spacing();

      @include ct-icon-fill-color($ct-tag-light-secondary-color);
    }

    &#{$root}--tertiary {
      background-color: $ct-tag-light-tertiary-background-color;
      border-color: $ct-tag-light-tertiary-border-color;
      color: $ct-tag-light-tertiary-color;

      @include ct-icon-fill-color($ct-tag-light-tertiary-color);
    }
  }

  &.ct-theme-dark {
    &#{$root}--primary {
      background-color: $ct-tag-dark-primary-background-color;
      border-color: $ct-tag-dark-primary-border-color;
      color: $ct-tag-dark-primary-color;
      padding: ct-spacing(0.5) ct-spacing();

      @include ct-icon-fill-color($ct-tag-dark-primary-color);
    }

    &#{$root}--secondary {
      background-color: $ct-tag-dark-secondary-background-color;
      border-color: $ct-tag-dark-secondary-border-color;
      color: $ct-tag-dark-secondary-color;
      padding: ct-spacing(0.5) ct-spacing();

      @include ct-icon-fill-color($ct-tag-dark-secondary-color);
    }

    &#{$root}--tertiary {
      background-color: $ct-tag-dark-tertiary-background-color;
      border-color: $ct-tag-dark-tertiary-border-color;
      color: $ct-tag-dark-tertiary-color;

      @include ct-icon-fill-color($ct-tag-dark-tertiary-color);
    }
  }
}
