//
// Visibility mixins.
//

//
// Make element visually hidden but readable by screen readers.
//
@mixin civictheme-visually-hidden() {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;

  &.focusable {
    &:active,
    &:focus {
      position: static !important;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
    }
  }
}
