{#
/**
 * @file
 * Description List component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - is_inline: [boolean] Flag to render items inline.
 * - items: [array] Array of items. Each item contains:
 *   - title: [string] Title.
 *   - description: [description] Description.
 *   - modifier_class: [string] Addtional term classes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set display_class = is_inline  ? 'civic-description-list--inline' :'' %}
{% set modifier_class = '%s %s %s'|format(theme_class, display_class, modifier_class|default('')) %}

{% if items %}
  <dl class="civic-description-list {{ modifier_class }}">
    {% for item in items %}
      <div class="civic-description-list__item {% if item.modifier_class is not empty %}{{ item.modifier_class }}{% endif %}">
        <dt class="civic-description-list__item__term">{{ item.title }}</dt>
        <dd class="civic-description-list__item__description">{{ item.description }}</dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}
