//
// Button.
//

@import '../../00-base/base';

//
// Mixins.
//
@mixin civic-link-visited() {
  &.civic-theme-light {
    color: $civic-link-light-color-visited;

    &:hover {
      background-color: $civic-link-light-background-visited-hover;
      color: $civic-link-light-color-visited-hover;
    }
  }
  &.civic-theme-dark {
    color: $civic-link-dark-color-visited;

    &:hover {
      background-color: $civic-link-dark-background-visited-hover;
      color: $civic-link-dark-color-visited-hover;
    }
  }
}

@mixin civic-link-base() {
  &,
  &.civic-theme-light {
    color: $civic-link-light-color;

    &:hover {
      background-color: $civic-link-light-background-hover;
      color: $civic-link-light-color-hover;
    }

    .civic-link__external-icon {
      vertical-align: top;
      margin-left: -2px;
    }
  }
  &.civic-theme-dark {
    color: $civic-link-dark-color;

    &:hover {
      background-color: $civic-link-dark-background-hover;
      color: $civic-link-dark-color-hover;
    }
  }
  &:visited {
    @include civic-link-visited;
  }

  text-decoration: none;
  border-bottom: 2px solid;
  padding: 3px 0 2px 0;
  &:hover {
    padding: 3px 0 4px 0;
  }
}

//
// Classes.
//

.civic-link {
  @include civic-link-base;

  &--visited {
    @include civic-link-visited;
  }
}
