//
// Button.
//

@import '../../00-base/base';

//
// Mixins.
//
@mixin civic-link-base() {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  padding: 3px 0 2px;

  &:hover {
    text-decoration: none;
    padding: 3px 0 4px;
  }

  &:focus {
    @include civic-outline();
  }

  &,
  &.civic-theme-light {
    color: $civic-link-light-color;

    &:hover {
      background-color: $civic-link-light-background-hover;
      color: $civic-link-light-color-hover;
    }

    .civic-link__external-icon {
      vertical-align: middle;
    }
  }

  &.civic-theme-dark {
    color: $civic-link-dark-color;

    &:hover {
      background-color: $civic-link-dark-background-hover;
      color: $civic-link-dark-color-hover;
    }
  }

  &:visited {
    @include civic-link-visited ();
  }
}

@mixin civic-link-visited() {
  &.civic-theme-light {
    color: $civic-link-light-color-visited;

    &:hover {
      background-color: $civic-link-light-background-visited-hover;
      color: $civic-link-light-color-visited-hover;
    }
  }

  &.civic-theme-dark {
    color: $civic-link-dark-color-visited;

    &:hover {
      background-color: $civic-link-dark-background-visited-hover;
      color: $civic-link-dark-color-visited-hover;
    }
  }
}

//
// Classes.
//

.civic-link {
  @include civic-link-base();

  &--visited {
    @include civic-link-visited();
  }
}
