//
// Button.
//

//
// Mixins.
//
@mixin civic-link-base() {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  padding: 3px 0 2px;

  &:hover {
    text-decoration: none;
    padding: 3px 0 4px;
  }

  &,
  &.civic-theme-light {
    color: $civic-link-light-color;

    &:focus {
      @include civic-outline();
    }

    &:hover {
      background-color: $civic-link-light-hover-background-color;
      color: $civic-link-light-hover-color;
    }

    .civic-link__external-icon {
      vertical-align: middle;
    }
  }

  &.civic-theme-dark {
    color: $civic-link-dark-color;

    &:focus {
      @include civic-outline(true);
    }

    &:hover {
      background-color: $civic-link-dark-hover-background-color;
      color: $civic-link-dark-hover-color;
    }
  }

  &:visited {
    @include civic-link-visited ();
  }
}

@mixin civic-link-visited() {
  &.civic-theme-light {
    color: $civic-link-light-visited-color;

    &:hover {
      background-color: $civic-link-light-visited-hover-background-color;
      color: $civic-link-light-visited-hover-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-link-dark-visited-color;

    &:hover {
      background-color: $civic-link-dark-visited-hover-background-color;
      color: $civic-link-dark-visited-hover-color;
    }
  }
}

//
// Classes.
//

.civic-link {
  @include civic-link-base();
}
