//
// Spacing.
//

$space: 0.5rem !default;       // 8px
$space2: $space * 2 !default;  // 16px
$space3: $space * 3 !default;  // 24px
$space4: $space * 4 !default;  // 32px
$space5: $space * 5 !default;  // 40px
$space6: $space * 6 !default;  // 48px
$space7: $space * 8 !default;  // 64px
$space8: $space * 10 !default; // 80px
