{#
/**
 * @file
 * Logo component.
 *
 * Variables:
 * - theme: [string] theme: light, dark.
 * - logos: [object] Desktop and mobile Image object
 *    - link: [string] URL for the logo.
 *    - alt: [string] Image alt text.
 * - modifier_class: [string] Additional classes for the component.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% for type, logo in logos %}
  {% set visibility_class = type == 'mobile' ? 'show-xs show-sm hide-m' : 'hide-xs hide-sm show-m' %}
  {% if logo.src is not empty %}
    <div class="civic-logo {{ visibility_class }} {{ modifier_class }}">
      <img src="{{ logo.src }}" {% if logo.alt is not empty %}alt="{{ logo.alt }}"{% endif %}/>
    </div>
  {% endif %}
{% endfor %}
