//
// Webform component.
//

.ct-webform {
  $root: &;

  &.ct-theme-light {
    color: $ct-webform-light-color;

    &#{$root}--with-background {
      background-color: $ct-webform-light-wrapper-background-color;
      padding-left: $ct-webform-space-horizontal;
      padding-right: $ct-webform-space-horizontal;
    }

    &#{$root}--with-spacing {
      background-color: $ct-webform-light-background-color;
    }
  }

  &.ct-theme-dark {
    color: $ct-webform-dark-color;

    &#{$root}--with-background {
      background-color: $ct-webform-dark-wrapper-background-color;
      padding-left: $ct-webform-space-horizontal;
      padding-right: $ct-webform-space-horizontal;
    }

    &#{$root}--with-spacing {
      background-color: $ct-webform-dark-background-color;
    }
  }
}
