{#
/**
 * @file
 * Side Navigation component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Array of menu items.
 * - title: [string] Navigation title.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing-inset--%s'|format(vertical_spacing) : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, vertical_spacing_class, modifier_class|default('')) %}

{% if items is not empty %}
  <div class="ct-side-navigation {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    {% include '@organisms/skip-link/skip-link.twig' with {
      theme: theme,
      url: '#main-content',
    } only %}
    {% if title %}
      {% block title %}
        {% include '@atoms/heading/heading.twig' with {
          content: title,
          level: 2,
          theme: theme,
          modifier_class: 'ct-side-navigation__title',
        } only %}
      {% endblock %}
    {% endif %}
    {% include '@base/menu/menu.twig' with {
      theme: theme,
      items: items,
      modifier_class: 'ct-side-navigation__menu',
      is_collapsible: true,
    } only %}
  </div>
{% endif %}
