//
// Side Navigation component.
//

.civictheme-side-navigation {
  $root: &;

  @include civictheme-component-with-vertical-space(bottom, $civictheme-side-navigation-space-vertical);

  &.civictheme-side-navigation--vertical-space-top {
    @include civictheme-component-with-vertical-space(top, $civictheme-side-navigation-space-vertical);
  }

  &.civictheme-side-navigation--vertical-space-bottom {
    @include civictheme-component-with-vertical-space(bottom, $civictheme-side-navigation-space-vertical);
  }

  &.civictheme-side-navigation--vertical-space-both {
    @include civictheme-component-with-vertical-space(both, $civictheme-side-navigation-space-vertical);
  }

  &__title {
    @include civictheme-typography('heading-5');

    margin-top: 0;
    margin-bottom: civictheme-space(2);
  }

  @for $i from 0 through 10 {
    .civictheme-menu--level-#{$i} {
      .civictheme-menu__item__link {
        padding-left: ($i + 1) * civictheme-space(2);
      }
    }
  }

  &__menu {
    &,
    .civictheme-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .civictheme-menu__item--expanded {
      .civictheme-menu {
        display: block;
      }
    }

    .civictheme-menu__item {
      position: relative;
    }

    .civictheme-menu__item__link {
      @include civictheme-typography('text-regular');

      display: block;
      position: relative;
      padding: civictheme-space() civictheme-space(2) civictheme-space() civictheme-space(2.5);
      border-bottom-width: 1px;
      border-bottom-style: solid;
      text-decoration: none;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        width: rem(4px);
      }

      &:active {
        outline: 0 !important;
        border-radius: 0 $civictheme-side-navigation-link-active-border-radius $civictheme-side-navigation-link-active-border-radius 0;
      }

      &:focus {
        z-index: 1;
      }
    }

    [data-collapsible]:not([data-collapsible-trigger-no-icon]) .civictheme-menu__item__link-trigger[data-collapsible-trigger] {
      position: absolute;
      top: 0;
      right: 0;
      width: civictheme-space(3);
      height: civictheme-space(3);
      padding: civictheme-space() civictheme-space(0.25);
      z-index: 1;

      @include civictheme-breakpoint('m') {
        padding: civictheme-space(1.25) civictheme-space(0.25);
      }
    }
  }

  @mixin _civictheme-side-navigation-print-menu-item($background-color, $border-color, $color, $stripe-color) {
    background-color: $background-color;
    border-color: $border-color;
    color: $color;

    &::before {
      background-color: $stripe-color;
    }

    &:focus {
      @include civictheme-outline();
    }
  }

  &.civictheme-theme-light {
    #{$root}__title {
      color: $civictheme-side-navigation-light-title-color;
    }

    #{$root}__menu {
      .civictheme-menu__item {
        .civictheme-menu__item__link-trigger {
          @include civictheme-icon-collapsible($civictheme-side-navigation-light-link-expanded-icon-color, true);
        }

        .civictheme-menu__item__link {
          @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-child-background-color, $civictheme-side-navigation-light-link-child-border-color, $civictheme-side-navigation-light-link-child-color, $civictheme-side-navigation-light-link-child-stripe-color);

          &:hover,
          &:focus {
            @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-child-hover-background-color, $civictheme-side-navigation-light-link-child-hover-border-color, $civictheme-side-navigation-light-link-child-hover-color, $civictheme-side-navigation-light-link-child-hover-stripe-color);
          }
        }

        &.civictheme-menu__item--active-trail {
          > .civictheme-menu__item__link {
            &,
            &:active,
            &:visited {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-child-active-background-color, $civictheme-side-navigation-light-link-child-active-border-color, $civictheme-side-navigation-light-link-child-active-color, $civictheme-side-navigation-light-link-child-active-stripe-color);
            }

            &:hover,
            &:focus {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-child-hover-background-color, $civictheme-side-navigation-light-link-child-hover-border-color, $civictheme-side-navigation-light-link-child-hover-color, $civictheme-side-navigation-light-link-child-hover-stripe-color);
            }
          }
        }

        &.civictheme-menu__item--level-0 {
          > .civictheme-menu__item__link {
            @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-parent-background-color, $civictheme-side-navigation-light-link-parent-border-color, $civictheme-side-navigation-light-link-parent-color, $civictheme-side-navigation-light-link-parent-stripe-color);

            &:hover,
            &:focus {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-parent-hover-background-color, $civictheme-side-navigation-light-link-parent-hover-border-color, $civictheme-side-navigation-light-link-parent-hover-color, $civictheme-side-navigation-light-link-parent-hover-stripe-color);
            }
          }

          &.civictheme-menu__item--active-trail {
            > .civictheme-menu__item__link {
              &,
              &:active,
              &:visited {
                @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-parent-active-background-color, $civictheme-side-navigation-light-link-parent-active-border-color, $civictheme-side-navigation-light-link-parent-active-color, $civictheme-side-navigation-light-link-parent-active-stripe-color);
              }

              &:hover,
              &:focus {
                @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-light-link-parent-hover-background-color, $civictheme-side-navigation-light-link-parent-hover-border-color, $civictheme-side-navigation-light-link-parent-hover-color, $civictheme-side-navigation-light-link-parent-hover-stripe-color);
              }
            }
          }
        }
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__title {
      color: $civictheme-side-navigation-dark-title-color;
    }

    #{$root}__menu {
      .civictheme-menu__item {
        .civictheme-menu__item__link-trigger {
          @include civictheme-icon-collapsible($civictheme-side-navigation-dark-link-expanded-icon-color, true);
        }

        .civictheme-menu__item__link {
          @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-child-background-color, $civictheme-side-navigation-dark-link-child-border-color, $civictheme-side-navigation-dark-link-child-color, $civictheme-side-navigation-dark-link-child-stripe-color);

          &:hover,
          &:focus {
            @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-child-hover-background-color, $civictheme-side-navigation-dark-link-child-hover-border-color, $civictheme-side-navigation-dark-link-child-hover-color, $civictheme-side-navigation-dark-link-child-hover-stripe-color);
          }
        }

        &.civictheme-menu__item--active-trail {
          > .civictheme-menu__item__link {
            &,
            &:active,
            &:visited {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-child-active-background-color, $civictheme-side-navigation-dark-link-child-active-border-color, $civictheme-side-navigation-dark-link-child-active-color, $civictheme-side-navigation-dark-link-child-active-stripe-color);
            }

            &:hover,
            &:focus {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-child-hover-background-color, $civictheme-side-navigation-dark-link-child-hover-border-color, $civictheme-side-navigation-dark-link-child-hover-color, $civictheme-side-navigation-dark-link-child-hover-stripe-color);
            }
          }
        }

        &.civictheme-menu__item--level-0 {
          > .civictheme-menu__item__link {
            @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-parent-background-color, $civictheme-side-navigation-dark-link-parent-border-color, $civictheme-side-navigation-dark-link-parent-color, $civictheme-side-navigation-dark-link-parent-stripe-color);

            &:hover,
            &:focus {
              @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-parent-hover-background-color, $civictheme-side-navigation-dark-link-parent-hover-border-color, $civictheme-side-navigation-dark-link-parent-hover-color, $civictheme-side-navigation-dark-link-parent-hover-stripe-color);
            }
          }

          &.civictheme-menu__item--active-trail {
            > .civictheme-menu__item__link {
              &,
              &:active,
              &:visited {
                @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-parent-active-background-color, $civictheme-side-navigation-dark-link-parent-active-border-color, $civictheme-side-navigation-dark-link-parent-active-color, $civictheme-side-navigation-dark-link-parent-active-stripe-color);
              }

              &:hover,
              &:focus {
                @include _civictheme-side-navigation-print-menu-item($civictheme-side-navigation-dark-link-parent-hover-background-color, $civictheme-side-navigation-dark-link-parent-hover-border-color, $civictheme-side-navigation-dark-link-parent-hover-color, $civictheme-side-navigation-dark-link-parent-hover-stripe-color);
              }
            }
          }
        }
      }
    }
  }
}
