{#
/**
 * @file
 * Mobile Navigation Nenu Trigger component.
 *
 * Variables:
 * - theme: [string] theme: light, dark.
 * - text: [string] Button text.
 * - icon: [string] Icon symbol name.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
{% set icon = icon|default('content_justifyalignment') %}

<button class="civic-mobile-navigation__trigger {{ modifier_class }}" data-flyout-open-trigger data-flyout-target=".civic-mobile-navigation">
  {% if text %}
    {{ text }}
  {% endif %}
  {% if icon %}
    {% include '@atoms/icon/icon.twig' with {
      symbol: icon,
      size: 'regular',
    } %}
  {% endif %}
</button>
