//
// Callout.
//

.civic-subject-card {
  $root: &;

  width: 100%;

  &__image-wrapper {
    position: relative;
    border-radius: $civic-subject-card-border-radius;
    box-sizing: border-box;
    padding: civic-space(3) civic-space(2);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    min-height: rem(200px);
    width: 100%;

    @include civic-elevation(3);

    &:focus-within {
      @include civic-outline();
    }

    @include civic-breakpoint('m') {
      padding: civic-space(4) civic-space(3);
    }

    @include civic-image-fit();
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
  }

  &__title {
    @include civic-typography('heading-5');

    margin-bottom: civic-space(2);
    z-index: 1;
  }

  &__title-link {
    @include civic-link-decoration();
    @include civic-link-no-outline();
    @include civic-link-cover-parent();

    display: flex;
    justify-content: space-between;
  }

  &.civic-theme-light {
    &:focus {
      @include civic-outline(false);
    }

    #{$root}__image-wrapper {
      background-color: $civic-subject-card-light-image-background-color;
    }

    #{$root}__title {
      color: $civic-subject-card-light-color;
    }

    #{$root}__title-link {
      @include civic-link-colors($civic-subject-card-light-color, $civic-subject-card-light-hover-color, $active: $civic-subject-card-light-active-color);
    }

    #{$root}__icon--arrow,
    #{$root}__icon--external {
      @include civic-icon-fill-color($civic-subject-card-light-icon-color, true);
    }
  }

  &.civic-theme-dark {
    &:focus {
      @include civic-outline(true);
    }

    #{$root}__image-wrapper {
      background-color: $civic-subject-card-dark-image-background-color;
    }

    #{$root}__title {
      color: $civic-subject-card-dark-color;
    }

    #{$root}__title-link {
      @include civic-link-colors($civic-subject-card-dark-color, $civic-subject-card-dark-hover-color, $active: $civic-subject-card-dark-active-color);
    }

    #{$root}__icon--arrow,
    #{$root}__icon--external {
      @include civic-icon-fill-color($civic-subject-card-dark-icon-color, true);
    }
  }
}
