{#
/**
 * @file
 * Map component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - url: [string] URL for the google map iframe.
 * - address: [string] Optional address.
 * - view_link: [string] View link.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing-inset--%s'|format(vertical_spacing) : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, vertical_spacing_class, modifier_class|default('')) %}

{% if url is not empty %}
  <div class="ct-map {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-xxs-12">
          {% block map %}
            <div class="ct-map__canvas">
              {% set attributes = 'allowfullscreen data-chromatic="ignore"' %}
              {% if address is not empty %}
                {% set attributes = atributes ~ 'title="' ~ address ~ '"' %}
              {% endif %}
              {% include '@atoms/iframe/iframe.twig' with {
                url: url,
                attributes: attributes,
                modifier_class: 'ct-video__action-icon',
              } only %}
            </div>
          {% endblock %}

          {% block links %}
            <div class="ct-map__links">
            {% if view_link is not empty %}
              <div class="ct-map__view_link">
                {% set view_text = view_text|trim ~ 'View in Google Maps' %}
                {% include '@atoms/button/button.twig' with {
                  kind: 'link',
                  theme: theme,
                  type: 'tertiary',
                  text: view_text,
                  url: view_link,
                  is_new_window: true,
                  is_external: true,
                  icon: 'locationandmaps_map',
                  icon_placement: 'before',
                } only %}
              </div>
            {% endif %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
