//
// Map component.
//

.civictheme-map {
  &.civictheme-map--vertical-space-top {
    @include civictheme-component-with-vertical-space(top, $civictheme-map-space-vertical);
  }

  &.civictheme-map--vertical-space-bottom {
    @include civictheme-component-with-vertical-space(bottom, $civictheme-map-space-vertical);
  }

  &.civictheme-map--vertical-space-both {
    @include civictheme-component-with-vertical-space(both, $civictheme-map-space-vertical);
  }

  &__canvas {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 civictheme-space() $civictheme-map-padding-bottom civictheme-space();

    iframe {
      position: absolute;
    }
  }

  &__links {
    display: flex;
    margin-top: civictheme-space(4);
    padding: 0 civictheme-space();

    @include civictheme-breakpoint-upto(s) {
      display: block;
    }
  }

  &__view_link {
    padding-right: civictheme-space(2);

    @include civictheme-breakpoint(m) {
      padding-right: civictheme-space(3);
    }
  }

  &.civictheme-theme-light {
    background-color: $civictheme-map-light-background-color;

    &.civictheme-map--with-background {
      background-color: $civictheme-map-light-wrapper-background-color;
      padding-left: $civictheme-map-space-horizontal;
      padding-right: $civictheme-map-space-horizontal;
    }
  }

  &.civictheme-theme-dark {
    background-color: $civictheme-map-dark-background-color;

    &.civictheme-map--with-background {
      background-color: $civictheme-map-dark-wrapper-background-color;
      padding-left: $civictheme-map-space-horizontal;
      padding-right: $civictheme-map-space-horizontal;
    }
  }
}
