//
// Map component.
//

.ct-map {
  &__canvas {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 ct-spacing() $ct-map-padding-bottom ct-spacing();

    iframe {
      position: absolute;
    }
  }

  &__links {
    display: flex;
    margin-top: ct-spacing(4);
    padding: 0 ct-spacing();

    @include ct-breakpoint-upto(s) {
      display: block;
    }
  }

  &__view_link {
    padding-right: ct-spacing(2);

    @include ct-breakpoint(m) {
      padding-right: ct-spacing(3);
    }
  }

  &.ct-theme-light {
    background-color: $ct-map-light-background-color;

    &.ct-map--with-background {
      background-color: $ct-map-light-wrapper-background-color;
      padding-left: $ct-map-space-horizontal;
      padding-right: $ct-map-space-horizontal;
    }
  }

  &.ct-theme-dark {
    background-color: $ct-map-dark-background-color;

    &.ct-map--with-background {
      background-color: $ct-map-dark-wrapper-background-color;
      padding-left: $ct-map-space-horizontal;
      padding-right: $ct-map-space-horizontal;
    }
  }
}
