//
// Pagination.
//

@import '../../00-base/base';

.civic-pager {
  @include civic-typography('label-large');

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-right: rem(4px);

    .civic-link {
      width: civic-space(3);
      display: block;
      text-align: center;

      &:hover {
        background: transparent;
        padding: rem(3px) 0 rem(2px) 0;
      }

      &:not(.is-active) {
        border-bottom-color: transparent;
      }
    }
  }

  &.civic-theme-light {
    color: $civic-pagination-light-link-color;

    .civic-link {
      color: $civic-pagination-light-link-color;

      &.is-active {
        border-bottom-color: $civic-pagination-light-link-active-border-color;
      }

      &:hover {
        color: $civic-pagination-light-link-hover-color;
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-pagination-dark-link-color;

    .civic-link {
      color: $civic-pagination-dark-link-color;

      &.is-active {
        border-bottom-color: $civic-pagination-dark-link-active-border-color;
      }

      &:hover {
        color: $civic-pagination-dark-link-hover-color;
      }
    }
  }
}
