//
// Input component.
//

.civictheme-input {
  $root: &;

  margin-bottom: civictheme-space(2);

  &__label {
    display: block;
    margin-bottom: civictheme-space();
  }

  &__element {
    border: rem(1px) solid;
    border-radius: $civictheme-input-border-radius;
    box-sizing: border-box;
    padding: civictheme-space(1.5) civictheme-space(5) civictheme-space(1.5) civictheme-space(2);
    width: 100%;

    &::placeholder {
      @include civictheme-typography('text-regular');
    }
  }

  &--tel {
    width: 50%;
    margin: 0 auto 0 0;
  }

  &--radio {
    display: inline;
  }

  &--checkbox {
    display: inline;
  }

  &--hidden {
    margin-bottom: 0;
  }

  &__state {
    position: relative;
    margin-left: - civictheme-space(4);

    svg {
      width: civictheme-space(2);
      height: civictheme-space(2);
      vertical-align: middle;
    }
  }

  &.civictheme-theme-light {
    color: $civictheme-input-light-color;

    #{$root}__element {
      border-color: $civictheme-input-light-border-color;
      color: $civictheme-input-light-color;
      background-color: $civictheme-input-light-background-color;

      &:hover {
        box-shadow: 0 0 0 1px $civictheme-input-light-border-color;
      }

      &:focus {
        background-color: $civictheme-input-light-focus-background-color;
        color: $civictheme-input-light-focus-color;
        outline: $civictheme-input-light-focus-outline-color;
        border-color: $civictheme-input-light-focus-border-color;
        box-shadow: 0 0 0 1px $civictheme-input-light-focus-border-color;
      }
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-input-dark-color;

    #{$root}__element {
      background-color: $civictheme-input-dark-background-color;
      color: $civictheme-input-dark-color;
      border-color: $civictheme-input-dark-border-color;

      &:hover {
        box-shadow: 0 0 0 1px $civictheme-input-dark-border-color;
      }

      &:focus {
        color: $civictheme-input-dark-focus-color;
        background-color: $civictheme-input-dark-focus-background-color;
        outline: $civictheme-input-dark-focus-outline-color;
        border-color: $civictheme-input-dark-focus-border-color;
        box-shadow: 0 0 0 1px $civictheme-input-dark-focus-border-color;
      }
    }

    #{$root}__state {
      svg {
        fill: $civictheme-input-dark-focus-color;
      }
    }
  }

  &.disabled,
  &--disabled {
    &.civictheme-theme-light {
      #{$root}__element {
        pointer-events: none;
        opacity: 50%;
      }
    }

    &.civictheme-theme-dark {
      #{$root}__element {
        pointer-events: none;
        opacity: 50%;
      }
    }
  }

  &.error,
  &--error {
    #{$root}__element {
      border-color: $civictheme-input-error-border-color !important;
      box-shadow: 0 0 0 1px $civictheme-input-error-border-color !important;
    }

    #{$root}__state {
      svg {
        fill: $civictheme-input-error-icon-color;
      }
    }
  }

  &.success,
  &--success {
    #{$root}__element {
      border-color: $civictheme-input-success-border-color !important;
      box-shadow: 0 0 0 1px $civictheme-input-success-border-color;
    }

    #{$root}__state {
      svg {
        fill: $civictheme-input-success-icon-color;
      }
    }
  }
}
