@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");
.spacing-wrapper {
  max-width: 960px;
}

.spacing-wrapper:hover div::before {
  display: block;
}

.spacing-wrapper div {
  position: relative;
  width: 100%;
  min-height: 8px;
  box-sizing: border-box;
}

.spacing-wrapper div::before {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
}

.spacing-wrapper .spacing-1 {
  padding: 0.5rem 0 0 0.5rem;
  background-color: #d8f6ff;
}

.spacing-wrapper .spacing-1::before {
  content: 'Space (8px)';
}

.spacing-wrapper .spacing-2 {
  padding: 1rem 0 0 1rem;
  background-color: #b0edff;
}

.spacing-wrapper .spacing-2::before {
  content: 'Space 2 (16px)';
}

.spacing-wrapper .spacing-3 {
  padding: 1.5rem 0 0 1.5rem;
  background-color: #d8f6ff;
}

.spacing-wrapper .spacing-3::before {
  content: 'Space 3 (24px)';
}

.spacing-wrapper .spacing-4 {
  padding: 2rem 0 0 2rem;
  background-color: #b0edff;
}

.spacing-wrapper .spacing-4::before {
  content: 'Space 4 (32px)';
}

.spacing-wrapper .spacing-5 {
  padding: 2.5rem 0 0 2.5rem;
  background-color: #d8f6ff;
}

.spacing-wrapper .spacing-5::before {
  content: 'Space 5 (40px)';
}

.spacing-wrapper .spacing-6 {
  padding: 3rem 0 0 3rem;
  background-color: #b0edff;
}

.spacing-wrapper .spacing-6::before {
  content: 'Space 6 (48px)';
}

.spacing-wrapper .spacing-7 {
  padding: 4rem 0 0 4rem;
  background-color: #d8f6ff;
}

.spacing-wrapper .spacing-7::before {
  content: 'Space 7 (64px)';
}

.spacing-wrapper .spacing-8 {
  padding: 5rem 0 0 5rem;
  background-color: #b0edff;
}

.spacing-wrapper .spacing-8::before {
  content: 'Space 8 (80px)';
}

.colors-wrapper .colors-group {
  display: flex;
  width: 100%;
}

.colors-wrapper .colors-group div {
  width: 150px;
  height: 150px;
  border: 1px solid #CCD4D8;
  border-radius: 12px;
  margin: 8px;
}

.colors-wrapper .color-primary {
  background-color: #00698F;
}

.colors-wrapper .color-secondary {
  background-color: #9263DE;
}

.colors-wrapper .color-accent {
  background-color: #61DAFF;
}

.colors-wrapper .color-white {
  background-color: #FFFFFF;
}

.colors-wrapper .color-heading-general {
  background-color: #1F2833;
}

.colors-wrapper .color-heading-links {
  background-color: #00698F;
}

.colors-wrapper .color-body-copy {
  background-color: #536570;
}

.colors-wrapper .color-shade_-90 {
  background-color: #e6f0f4;
}

.colors-wrapper .color-shade_15 {
  background-color: #00597a;
}

.colors-wrapper .color-shade_30 {
  background-color: #004a64;
}

.colors-wrapper .color-shade_45 {
  background-color: #003a4f;
}

.colors-wrapper .color-shade_60 {
  background-color: #002a39;
}

.colors-wrapper .color-neutral_5 {
  background-color: #F2F4F5;
}

.colors-wrapper .color-neutral_10 {
  background-color: #E6E9EB;
}

.colors-wrapper .color-neutral_20 {
  background-color: #CCD4D8;
}

.colors-wrapper .color-neutral_40 {
  background-color: #99A7B0;
}

.colors-wrapper .color-neutral_60 {
  background-color: #546570;
}

.colors-wrapper .color-neutral_80 {
  background-color: #35414B;
}

.colors-wrapper .color-neutral_90 {
  background-color: #1F2833;
}

.colors-wrapper .color-informtion {
  background-color: #00A7CE;
}

.colors-wrapper .color-success {
  background-color: #009694;
}

.colors-wrapper .color-warning {
  background-color: #DC5800;
}

.colors-wrapper .color-error {
  background-color: #CF3836;
}

.typography-wrapper .display-xl {
  font-size: 3.5rem;
  line-height: 60px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .display-l {
  font-size: 2.4375rem;
  line-height: 44px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .display-m {
  font-size: 1.75rem;
  line-height: 32px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .display-s {
  font-size: 1.25rem;
  line-height: 24px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-1 {
  font-size: 3rem;
  line-height: 60px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-2 {
  font-size: 2.4375rem;
  line-height: 48px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-3 {
  font-size: 2rem;
  line-height: 40px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-4 {
  font-size: 1.5625rem;
  line-height: 31px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-5 {
  font-size: 1.25rem;
  line-height: 25px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}

.typography-wrapper .heading-6 {
  font-size: 1rem;
  line-height: 26px;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
}
