//
// Tag.
//

.civic-tag {
  $root: &;

  border-radius: $civic-tag-border-radius;
  padding: civic-space(0.5) civic-space();
  display: inline-block;

  @include civic-typography('label-small');

  &--icon-after {
    padding-right: rem(4px);
    padding-left: civic-space();
  }

  .civic-icon {
    padding-right: rem(2px);
    vertical-align: middle;
  }

  &.civic-theme-light {
    background-color: $civic-tag-light-background-color;
    color: $civic-tag-light-color;

    @include civic-icon-fill-color($civic-tag-light-color);

    &#{$root}--is-alt {
      background-color: $civic-tag-light-alt-background-color;
      color: $civic-tag-light-alt-color;

      @include civic-icon-fill-color($civic-tag-light-alt-color);
    }
  }

  &.civic-theme-dark {
    background-color: $civic-tag-dark-background-color;
    color: $civic-tag-dark-color;

    @include civic-icon-fill-color($civic-tag-dark-color);

    &#{$root}--is-alt {
      background-color: $civic-tag-dark-alt-background-color;
      color: $civic-tag-dark-alt-color;

      @include civic-icon-fill-color($civic-tag-dark-alt-color);
    }
  }
}
