//
// Tag.
//

.civic-tag {
  $root: &;

  border-radius: $civic-tag-border-radius;
  border-style: solid;
  border-width: $civic-tag-border-width;
  padding: civic-space(0.5) civic-space();
  display: inline-block;

  @include civic-typography('label-small');

  &--icon-after {
    padding-right: rem(4px);
    padding-left: civic-space();
  }

  .civic-icon {
    padding-right: rem(2px);
    vertical-align: middle;
  }

  &__link {
    text-decoration: none;
  }

  &.civic-theme-light {
    background-color: $civic-tag-light-background-color;
    border-color: $civic-tag-light-border-color;
    color: $civic-tag-light-color;

    @include civic-icon-fill-color($civic-tag-light-color);

    &#{$root}--is-alt {
      background-color: $civic-tag-light-alt-background-color;
      color: $civic-tag-light-alt-color;

      #{$root}__link {
        color: $civic-tag-light-alt-color;
      }

      @include civic-icon-fill-color($civic-tag-light-alt-color);
    }

    #{$root}__link {
      color: $civic-tag-light-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-tag-dark-background-color;
    border-color: $civic-tag-dark-border-color;
    color: $civic-tag-dark-color;

    @include civic-icon-fill-color($civic-tag-dark-color);

    &#{$root}--is-alt {
      background-color: $civic-tag-dark-alt-background-color;
      color: $civic-tag-dark-alt-color;

      #{$root}__link {
        color: $civic-tag-dark-alt-color;
      }

      @include civic-icon-fill-color($civic-tag-dark-alt-color);
    }

    #{$root}__link {
      color: $civic-tag-dark-color;
    }
  }
}
