{#
/**
 * @file
 * Example Dialog component.
 *
 * Used to show project custom molecule-level component.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - title: [string] Dialog title.
 * - text: [string] Dialog text.
 */
#}

<div class="civic-dialog {{ modifier_class }}">
  <div class="civic-dialog__title">
    {{ title | default('Default dialog title') }}
  </div>

  {% if text is not empty %}
    <div class="civic-dialog__summary">
      {{ text }}
    </div>
  {% endif %}

  {#  An atom example. #}
  {% include '@atoms/button/button.twig' with {
    text: 'Cancel'
  } %}

  {#  Another atom example. #}
  {% include '@atoms/link/link.twig' with {
    text: 'I am a link'
  } %}

</div>
