//
// Attachment.
//

@import '../../00-base/base';

@mixin civic-card-heading-state() {
  & {
    border-bottom: 0;
    padding: 0;
    text-decoration: underline;

    &:hover {
      background-color: unset;
      padding: 0;
    }

    &:active {
      text-underline: none;
    }
  }

  &.civic-theme-light {
    color: $civic-attachment-light-heading-color;

    &:hover {
      color: $civic-attachment-light-heading-color-hover;
    }

    &:active {
      color: $civic-attachment-light-heading-color-active;
    }
  }

  &.civic-theme-dark {
    color: $civic-attachment-dark-heading-color;

    &:hover {
      color: $civic-attachment-dark-heading-color-hover;
    }

    &:active {
      color: $civic-attachment-dark-heading-color-active;
    }
  }
}

.civic-attachment {
  border-radius: $civic-border-radius;
  border: solid $civic-border-width $civic-attachment-light-border-color;
  display: flex;
  flex-wrap: wrap;

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0;

  @include civic-breakpoint(m) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__image {
    width: 100%;
    max-height: 250px;
    flex-basis: 100%;
    @include civic-breakpoint(m) {
      max-height: 100%;
      width: 25%;
      flex-basis: unset;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: civic-space(3);
    flex: 1;
    color: $civic-attachment-light-color;

    @include civic-breakpoint('m') {
      padding: civic-space(4);
    }
  }

  &__summary {
    margin-top: 16px;
    @include civic-typography((
      'xs': (14px, 25px, 400),
      'l': (16px, 28px, 400)
    ));
  }

  &__title {
    @include civic-typography('heading-4');
  }

  &__link {
    margin: civic-space(2) 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    flex-wrap: wrap;

    @include civic-breakpoint(m) {
      flex-direction: row;
    }

    &--link {
      display: flex;

      svg {
        margin-right: civic-space();
      }
    }

    ul {
      list-style: none;
      margin: civic-space(2) 0 0 0;
      padding: 0;

      li {
        margin-bottom: civic-space(2);
      }
    }

    a {
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: civic-space() 0;
      @include civic-breakpoint(m) {
        margin: civic-space() civic-space() 0 0;
      }
    }

    &:last-child {
      @include civic-breakpoint(m) {
        margin: civic-space() 0 0 0;
      }
    }

    &--last-updated {
      @include civic-typography('small');
    }
  }

  &__icon {
    padding: civic-space(3) civic-space(3) civic-space(3) 0;
    width: civic-space(3);

    @include civic-breakpoint('m') {
      padding-top: civic-space(4);
    }
  }

  .civic-link--attachment {
    @include civic-card-heading-state();
  }

  &.civic-theme-light {
    .civic-attachment {
      &__title {
        color: $civic-attachment-light-heading-color;
      }
      &__icon {
        svg {
          fill: $civic-attachment-light-icon-color;
        }
      }
      &__links {
        &--link {
          svg {
            fill: civic-color('link');
          }
        }
        &--last-updated {
          color: $civic-attachment-light-date-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-attachment-dark-background-color;

    .civic-attachment {
      &__content {
        color: $civic-attachment-dark-color;
      }

      &__title {
        color: $civic-attachment-dark-heading-color;
      }

      &__icon {
        svg {
          fill: $civic-attachment-dark-icon-color;
        }
      }

      &__links {
        &--last-updated {
          color: $civic-attachment-dark-date-color;
        }

        &--link {
          svg {
            fill: civic-color('primary-accent');
          }
        }
      }
    }
  }
}
