//
// Attachment.
//

@mixin civic-card-heading-state() {
  & {
    border-bottom: 0;
    padding: 0;
    text-decoration: underline;

    &:hover {
      background-color: unset;
      padding: 0;
    }

    &:active {
      text-underline: none;
    }
  }

  &.civic-theme-light {
    color: $civic-attachment-light-heading-color;

    &:hover {
      color: $civic-attachment-light-heading-hover-color;
    }

    &:active {
      color: $civic-attachment-light-heading-active-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-attachment-dark-heading-color;

    &:hover {
      color: $civic-attachment-dark-heading-hover-color;
    }

    &:active {
      color: $civic-attachment-dark-heading-active-color;
    }
  }
}

.civic-attachment {
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0;

  &.civic_attachment--with-space-top {
    padding-top: $civic-attachment-padding-vertical;
  }

  &.civic_attachment--with-space-bottom {
    padding-bottom: $civic-attachment-padding-vertical;
  }

  &.civic_attachment--with-space-both {
    padding: $civic-attachment-padding-vertical 0;
  }

  @include civic-breakpoint(m) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__image {
    width: 100%;
    max-height: 250px;
    flex-basis: 100%;

    @include civic-breakpoint(m) {
      max-height: 100%;
      width: 25%;
      flex-basis: unset;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include civic-typography('text-regular');

    padding: civic-space(3);
    flex: 1;
    color: $civic-attachment-light-color;
    border-radius: $civic-attachment-border-radius;
    border: solid 1px $civic-attachment-light-border-color;

    @include civic-breakpoint('m') {
      padding: civic-space(4);
    }
  }

  &__summary {
    margin-top: 16px;
  }

  &__title {
    @include civic-typography('heading-4');
  }

  &__links {
    list-style: none;
    margin: civic-space(2) 0 0 0;
    padding: 0;

    &--link {
      display: flex;
      margin-bottom: rem(4px);

      @include civic-breakpoint('m') {
        margin-bottom: civic-space();
      }

      svg {
        margin-right: civic-space();
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--last-updated {
      @include civic-typography('text-small');
    }
  }

  &__icon {
    padding: civic-space(3) civic-space(3) civic-space(3) 0;
    width: civic-space(3);

    @include civic-breakpoint('m') {
      padding-top: civic-space(4);
    }
  }

  .civic-link--attachment {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: civic-space() 0;

    @include civic-breakpoint(m) {
      margin: civic-space() civic-space() 0 0;
    }

    font-weight: 600;

    @include civic-card-heading-state();
  }

  &.civic-theme-light {
    &.civic_attachment--with-background {
      background-color: $civic-attachment-light-wrapper-background-color;
      padding-left: $civic-attachment-padding-horizontal;
      padding-right: $civic-attachment-padding-horizontal;
    }

    .civic-attachment {
      &__content {
        background-color: $civic-attachment-light-background-color;
      }

      &__title {
        color: $civic-attachment-light-title-color;
      }

      &__links {
        &--link {
          color: $civic-attachment-light-heading-color;

          svg {
            fill: $civic-attachment-light-icon-color;
          }
        }

        &--last-updated {
          color: $civic-attachment-light-date-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-attachment-dark-background-color;

    &.civic_attachment--with-background {
      background-color: $civic-attachment-dark-wrapper-background-color;
      padding-left: $civic-attachment-padding-horizontal;
      padding-right: $civic-attachment-padding-horizontal;
    }

    .civic-attachment {
      &__content {
        color: $civic-attachment-dark-color;
      }

      &__title {
        color: $civic-attachment-dark-title-color;
      }

      &__links {
        &--last-updated {
          color: $civic-attachment-dark-date-color;
        }

        &--link {
          color: $civic-attachment-dark-heading-color;

          svg {
            fill: $civic-attachment-dark-icon-color;
          }
        }
      }
    }
  }
}
