//
// Next steps.
//

.civic-next-steps {
  $root: &;

  display: block;
  position: relative;
  text-decoration: none;

  &.civic_next_step--with-space-top {
    padding-top: $civic-next-steps-padding-vertical;
  }

  &.civic_next_step--with-space-bottom {
    padding-bottom: $civic-next-steps-padding-vertical;
  }

  &.civic_next_step--with-space-both {
    padding: $civic-next-steps-padding-vertical 0;
  }

  &__content {
    display: block;
    position: relative;
    border-radius: $civic-next-steps-border-radius;
    border-left-width: civic-space(0.75);
    border-left-style: solid;
    padding: civic-space(3) civic-space(3);

    @include civic-breakpoint(m) {
      padding: civic-space(3) civic-space(5) civic-space(4) civic-space(3);
    }
  }

  &__title {
    @include civic-typography('heading-4');
  }

  &__summary {
    margin-top: civic-space(2);

    @include civic-typography('text-regular');
  }

  &__read-more {
    position: absolute;
    top: civic-space(3);
    right: civic-space(2);

    @include civic-breakpoint(m) {
      right: civic-space(4);
    }
  }

  &.civic-theme-light {
    #{$root}__content {
      color: $civic-next-steps-light-color;
      background-color: $civic-next-steps-light-background-color;
      border-left-color: $civic-next-steps-light-stripe-color;
    }

    &:focus {
      @include civic-outline(false);
    }

    &:hover {
      #{$root}__title {
        color: $civic-next-steps-light-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .civic-icon {
          fill: $civic-next-steps-light-hover-color;
        }
      }
    }

    &:active {
      .civic-next-steps__title {
        color: $civic-next-steps-light-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .civic-icon {
          fill: $civic-next-steps-light-active-color;
        }
      }
    }

    #{$root}__title {
      color: $civic-next-steps-light-heading-color;
    }

    #{$root}__read-more {
      .civic-icon {
        fill: $civic-next-steps-light-icon-color;
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__content {
      color: $civic-next-steps-dark-color;
      background-color: $civic-next-steps-dark-background-color;
      border-left-color: $civic-next-steps-dark-stripe-color;
    }

    &:focus {
      @include civic-outline(true);
    }

    &:hover {
      #{$root}__title {
        color: $civic-next-steps-dark-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .civic-icon {
          fill: $civic-next-steps-dark-hover-color;
        }
      }
    }

    &:active {
      #{$root}__title {
        color: $civic-next-steps-dark-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .civic-icon {
          fill: $civic-next-steps-dark-active-color;
        }
      }
    }

    #{$root}__title {
      color: $civic-next-steps-dark-heading-color;
    }

    #{$root}__read-more {
      .civic-icon {
        fill: $civic-next-steps-dark-icon-color;
      }
    }
  }
}
