//
// Slider component.
//

.ct-slider {
  $root: &;

  &__upper-control-panel {
    margin-bottom: ct-spacing(3);

    @include ct-breakpoint('m') {
      display: flex;
      align-items: center;
      margin-bottom: ct-spacing(4);
    }
  }

  &__title {
    @include ct-typography('heading-3');

    & + #{$root}__link {
      margin-top: ct-spacing(3);

      @include ct-breakpoint('m') {
        margin-top: 0;
      }
    }
  }

  &__link {
    margin-left: auto;
  }

  &__slides {
    @include ct-elevation(3);

    border-radius: $ct-slider-border-radius;
    position: relative;
    overflow: hidden;
  }

  &__slides-inner {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 0%;
    transition: 0.5s left;

    @include ct-breakpoint('m') {
      transition: 1s left;
    }
  }

  &__lower-control-panel {
    margin-top: ct-spacing(2);

    @include ct-breakpoint('m') {
      display: flex;
      align-items: center;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    @include ct-breakpoint('m') {
      display: block;
    }

    .ct-button {
      padding-left: ct-spacing(2);
      padding-right: ct-spacing(2);
      width: calc(50% - #{ct-spacing()});

      @include ct-breakpoint('m') {
        width: auto;
        min-width: ct-particle(20);
        margin-right: ct-spacing(2);
      }
    }
  }

  &__steps {
    @include ct-typography('label-small');

    display: block;
    margin-left: auto;
    margin-top: ct-spacing(2);
    text-align: center;

    @include ct-breakpoint('m') {
      margin-top: 0;
      text-align: left;
    }
  }

  &__progress-indicator {
    border-radius: $ct-slider-progress-indicator-border-radius;
    padding: ct-spacing(0.5) ct-spacing();
    display: inline-block;
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);

    &.ct-slider--with-background {
      @include ct-component-property($root, $theme, background-color);
      @include ct-component-property($root, $theme, padding-left);
      @include ct-component-property($root, $theme, padding-right);
    }

    #{$root}__title {
      @include ct-component-property($root, $theme, title, color);
    }

    #{$root}__progress-indicator {
      @include ct-component-property($root, $theme, progress-indicator, background-color);
      @include ct-component-property($root, $theme, progress-indicator, color);
    }
  }
}

.ct-slide {
  $root: &;

  position: absolute;
  height: $ct-slide-mobile-height;

  @include ct-breakpoint('l') {
    height: $ct-slide-desktop-height;
  }

  @include ct-breakpoint('l') {
    display: flex;
    flex-wrap: nowrap;
  }

  &--image-position-right {
    @include ct-breakpoint('l') {
      flex-direction: row-reverse;
    }
  }

  &--hidden {
    display: none !important;
  }

  &__content-top {
    margin-bottom: ct-spacing(3);

    @include ct-breakpoint('l') {
      margin-bottom: ct-spacing(4);
    }
  }

  &__title {
    @include ct-typography('heading-2');

    margin-bottom: ct-spacing(3);

    @include ct-breakpoint('l') {
      margin-bottom: ct-spacing(2);
    }
  }

  &__title-link {
    color: currentcolor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include ct-outline();
    }
  }

  &__summary {
    @include ct-typography('text-regular');

    margin-bottom: ct-spacing(4);

    @include ct-breakpoint('l') {
      margin-bottom: ct-spacing(5);
    }
  }

  &__links {
    margin-bottom: ct-spacing(4);

    @include ct-breakpoint('l') {
      margin-bottom: ct-spacing(5);
    }

    .ct-button {
      margin: 0 ct-spacing() ct-spacing() 0;
    }
  }

  &__content {
    flex-grow: 1;
    padding: ct-spacing(4) ct-spacing(3);
    display: flex;
    align-items: center;

    @include ct-breakpoint('l') {
      padding: (ct-spacing() * 13) ct-spacing(10);
    }
  }

  &__content-inner {
    width: 100%;

    & > div:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    @include ct-breakpoint('l') {
      width: ct-particle(60);
    }

    @include ct-image-fit();
  }

  &__date {
    font-weight: 600;
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);

    #{$root}__title {
      @include ct-component-property($root, $theme, title, color);
    }

    #{$root}__summary {
      @include ct-component-property($root, $theme, summary, color);
    }
  }
}
