//
// Table.
//

.civic-table {
  $root: &;

  caption-side: bottom;

  &__header {
    margin: civic-space(3) 0;
  }

  table {
    @include civic-table();
  }

  &.civic-theme-light {
    @include civic-table-light();
  }

  &.civic-theme-dark {
    @include civic-table-dark();
  }
}
