//
// Table component.
//

.civic-table {
  $root: &;

  @include civic-table();

  &.civic-theme-light {
    @include civic-table-light();
  }

  &.civic-theme-dark {
    @include civic-table-dark();
  }
}
