//
// Table.
//

.civic-table {
  $root: &;

  caption-side: bottom;

  &__header {
    margin: civic-space(3) 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
    text-align: left;
    vertical-align: middle;

    @include civic-breakpoint-upto('m') {
      thead {
        @include civic-visually-hidden();
      }

      tbody tr {
        display: flex;
        flex-direction: column;
        width: 100%;

        td {
          border: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: stretch;

          &:first-of-type::after {
            visibility: hidden;
          }

          &::after {
            content: '';
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
          }

          &::before {
            content: attr(data-title);
            display: table-cell;
            height: 100%;
            width: 30%;
            max-width: rem(100px);
            flex-shrink: 0;
            vertical-align: middle;

            @include civic-typography('label-regular');

            padding-right: civic-space(2);
          }
        }
      }
    }
  }

  thead {
    @include civic-typography('label-regular');
  }

  tr {
    th,
    td {
      padding: civic-space(1.5) civic-space();

      @include civic-breakpoint('m') {
        padding: civic-space(1.5) civic-space(3);
      }
    }
  }

  caption {
    text-align: left;
    padding: civic-space(2);
  }

  &.civic-theme-light {
    color: $civic-table-light-color;

    table {
      background-color: $civic-table-light-background-color;
    }

    thead {
      @include civic-breakpoint('m') {
        border-bottom: solid 1px $civic-table-light-border-color;
      }

      color: $civic-table-light-heading-color;
    }

    tbody {
      @include civic-breakpoint('m') {
        tr:first-child {
          td {
            border-top: solid 2px $civic-table-light-border-color;
          }
        }
      }

      @include civic-breakpoint-upto('m') {
        tr {
          border-bottom: solid 2px $civic-table-light-border-color;

          &:first-child {
            border-top: solid 2px $civic-table-light-border-color;
          }
        }
      }
    }

    .civic-link {
      color: $civic-table-light-link-color;

      &:hover {
        color: $civic-table-light-link-hover-color;
      }
    }

    &#{$root}--striped {
      tr:nth-child(odd) {
        background: $civic-table-light-row-odd-background-color;

        td {
          color: $civic-table-light-row-odd-color;

          .civic-link {
            color: $civic-table-light-row-odd-link-color;

            &:hover {
              color: $civic-table-light-row-odd-link-hover-color;
            }
          }
        }
      }

      tr:nth-child(even) {
        background: $civic-table-light-row-even-background-color;

        td {
          color: $civic-table-light-row-even-color;

          .civic-link {
            color: $civic-table-light-row-even-link-color;

            &:hover {
              color: $civic-table-light-row-odd-link-hover-color;
            }
          }
        }
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-table-dark-color;

    table {
      background-color: $civic-table-dark-background-color;
    }

    thead {
      @include civic-breakpoint('m') {
        border-bottom: solid 1px $civic-table-dark-border-color;
      }

      color: $civic-table-dark-heading-color;
    }

    tbody {
      @include civic-breakpoint('m') {
        tr:first-child {
          td {
            border-top: solid 2px $civic-table-dark-border-color;
          }
        }
      }

      @include civic-breakpoint-upto('m') {
        tr {
          border-bottom: solid 2px $civic-table-dark-border-color;

          &:first-child {
            border-top: solid 2px $civic-table-dark-border-color;
          }
        }
      }
    }

    .civic-link {
      color: $civic-table-dark-link-color;

      &:hover {
        color: $civic-table-dark-link-hover-color;
      }
    }

    &#{$root}--striped {
      tr:nth-child(odd) {
        background: $civic-table-dark-row-odd-background-color;

        td {
          color: $civic-table-dark-row-odd-color;

          .civic-link {
            color: $civic-table-dark-row-odd-link-color;

            &:hover {
              color: $civic-table-dark-row-odd-link-hover-color;
            }
          }
        }
      }

      tr:nth-child(even) {
        background: $civic-table-dark-row-even-background-color;

        td {
          color: $civic-table-dark-row-even-color;

          .civic-link {
            color: $civic-table-dark-row-even-link-color;

            &:hover {
              color: $civic-table-dark-row-odd-link-hover-color;
            }
          }
        }
      }
    }
  }
}
