{#
/**
 * @file
 * Button component.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - text: [string] Button text.
 * - disabled: [boolean] Disabled state.
 */
#}
<button class="civic-button {{ modifier_class }}" {{ disabled ? 'disabled' }}>{{ text }}</button>
