//
// Card container.
//

.civic-card-container {
  $root: &;

  &--fill-width {
    [class*='col-'] {
      max-width: 100%;
      flex-grow: 1;
    }
  }

  &--with-spacing {
    padding-top: civic-space(6);
    padding-bottom: civic-space(6);
  }

  &__card {
    margin-bottom: civic-space(3);
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__header-title {
    @include civic-typography('heading-3');

    @include civic-breakpoint('m') {
      margin-right: auto;
    }
  }

  &__header-link {
    @include civic-typography('label-regular');

    @include civic-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__cards {
    // stylelint-disable-line block-no-empty
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @include civic-breakpoint('m') {
      flex-direction: row;
    }
  }

  &__footer-link {
    @include civic-typography('label-regular');

    margin-top: civic-space(4);

    @include civic-breakpoint('m') {
      align-self: center;
      margin-left: auto;
    }
  }

  &__description {
    @include civic-typography('text-regular');

    margin-bottom: civic-space(3);
  }

  &.civic-theme-light {
    color: $civic-card-container-light-color;

    &#{$root}--with-spacing {
      background-color: $civic-card-container-light-background-color;
    }

    #{$root}__header-link {
      .civic-link {
        color: $civic-card-container-light-heading-color;

        &:hover {
          color: $civic-card-container-light-heading-hover-color;
        }
      }
    }

    #{$root}__footer-link {
      .civic-link {
        color: $civic-card-container-light-footer-link-color;

        &:hover {
          color: $civic-card-container-light-footer-link-hover-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-card-container-dark-color;

    &#{$root}--with-spacing {
      background-color: $civic-card-container-dark-background-color;
    }

    #{$root}__header-link {
      .civic-link {
        color: $civic-card-container-dark-heading-color;

        &:hover {
          color: $civic-card-container-dark-heading-hover-color;
        }
      }
    }

    #{$root}__footer-link {
      .civic-link {
        color: $civic-card-container-dark-footer-link-color;

        &:hover {
          color: $civic-card-container-dark-footer-link-hover-color;
        }
      }
    }
  }
}
