{#
/**
 * @file
 * Social links Component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - links: [array] Array of links.
 * - items: [array] Array of alternative links.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if links is not empty or items is not empty %}
  <div class="civic-social-links {{ modifier_class }}">
    {% if links is not empty %}
      {% for link in links %}
        <div class="civic-social-links__item">
          {% include '@molecules/icon-link/icon-link.twig' with {
            theme: theme,
            symbol: link.symbol,
            size: link.size,
            url: link.url,
            text: link.text,
            with_border: with_border,
          } only %}
        </div>
      {% endfor %}
    {% endif %}

    {% if items is not empty %}
      {% for item in items %}
        {% if item.content is not empty %}
          <div class="civic-social-links__item">
            {{ item.content }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
