//
// Social links.
//

.civic-social-links {
  display: flex;

  &__item {
    margin-right: civic-space(2);

    &:last-child {
      margin-right: 0;
    }
  }

  .civic-icon-link {
    &--with-border {
      border-radius: rem(100px);
    }
  }
}
