//
// Button component.
//

@use 'sass:map';
@use 'sass:math';

//
// Mixins.
//

@mixin civictheme-button-type($type) {
  // SASS does not allow variables interpolation, so we are creating a local
  // map to easily generate rules.
  $map: (
    'primary': (
      'light': (
        'normal': (
          'color': $civictheme-button-light-primary-color,
          'background-color': $civictheme-button-light-primary-background-color,
          'border-color': $civictheme-button-light-primary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-light-primary-hover-color,
          'background-color': $civictheme-button-light-primary-hover-background-color,
          'border-color': $civictheme-button-light-primary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-light-primary-visited-color,
          'background-color': $civictheme-button-light-primary-visited-background-color,
          'border-color': $civictheme-button-light-primary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-light-primary-active-color,
          'background-color': $civictheme-button-light-primary-active-background-color,
          'border-color': $civictheme-button-light-primary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-light-primary-focus-color,
          'background-color': $civictheme-button-light-primary-focus-background-color,
          'border-color': $civictheme-button-light-primary-focus-border-color,
          'outline-color': $civictheme-button-light-primary-focus-outline-color,
        ),
      ),
      'dark': (
        'normal': (
          'color': $civictheme-button-dark-primary-color,
          'background-color': $civictheme-button-dark-primary-background-color,
          'border-color': $civictheme-button-dark-primary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-dark-primary-hover-color,
          'background-color': $civictheme-button-dark-primary-hover-background-color,
          'border-color': $civictheme-button-dark-primary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-dark-primary-visited-color,
          'background-color': $civictheme-button-dark-primary-visited-background-color,
          'border-color': $civictheme-button-dark-primary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-dark-primary-active-color,
          'background-color': $civictheme-button-dark-primary-active-background-color,
          'border-color': $civictheme-button-dark-primary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-dark-primary-focus-color,
          'background-color': $civictheme-button-dark-primary-focus-background-color,
          'border-color': $civictheme-button-dark-primary-focus-border-color,
          'outline-color': $civictheme-button-dark-primary-focus-outline-color,
        ),
      )
    ),
    'secondary': (
      'light': (
        'normal': (
          'color': $civictheme-button-light-secondary-color,
          'background-color': $civictheme-button-light-secondary-background-color,
          'border-color': $civictheme-button-light-secondary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-light-secondary-hover-color,
          'background-color': $civictheme-button-light-secondary-hover-background-color,
          'border-color': $civictheme-button-light-secondary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-light-secondary-visited-color,
          'background-color': $civictheme-button-light-secondary-visited-background-color,
          'border-color': $civictheme-button-light-secondary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-light-secondary-active-color,
          'background-color': $civictheme-button-light-secondary-active-background-color,
          'border-color': $civictheme-button-light-secondary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-light-secondary-focus-color,
          'background-color': $civictheme-button-light-secondary-focus-background-color,
          'border-color': $civictheme-button-light-secondary-focus-border-color,
          'outline-color': $civictheme-button-light-secondary-focus-outline-color,
        ),
      ),
      'dark': (
        'normal': (
          'color': $civictheme-button-dark-secondary-color,
          'background-color': $civictheme-button-dark-secondary-background-color,
          'border-color': $civictheme-button-dark-secondary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-dark-secondary-hover-color,
          'background-color': $civictheme-button-dark-secondary-hover-background-color,
          'border-color': $civictheme-button-dark-secondary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-dark-secondary-visited-color,
          'background-color': $civictheme-button-dark-secondary-visited-background-color,
          'border-color': $civictheme-button-dark-secondary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-dark-secondary-active-color,
          'background-color': $civictheme-button-dark-secondary-active-background-color,
          'border-color': $civictheme-button-dark-secondary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-dark-secondary-focus-color,
          'background-color': $civictheme-button-dark-secondary-focus-background-color,
          'border-color': $civictheme-button-dark-secondary-focus-border-color,
          'outline-color': $civictheme-button-dark-secondary-focus-outline-color,
        ),
      )
    ),
    'tertiary': (
      'light': (
        'normal': (
          'color': $civictheme-button-light-tertiary-color,
          'background-color': $civictheme-button-light-tertiary-background-color,
          'border-color': $civictheme-button-light-tertiary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-light-tertiary-hover-color,
          'background-color': $civictheme-button-light-tertiary-hover-background-color,
          'border-color': $civictheme-button-light-tertiary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-light-tertiary-visited-color,
          'background-color': $civictheme-button-light-tertiary-visited-background-color,
          'border-color': $civictheme-button-light-tertiary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-light-tertiary-active-color,
          'background-color': $civictheme-button-light-tertiary-active-background-color,
          'border-color': $civictheme-button-light-tertiary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-light-tertiary-focus-color,
          'background-color': $civictheme-button-light-tertiary-focus-background-color,
          'border-color': $civictheme-button-light-tertiary-focus-border-color,
          'outline-color': $civictheme-button-light-tertiary-focus-outline-color,
        ),
      ),
      'dark': (
        'normal': (
          'color': $civictheme-button-dark-tertiary-color,
          'background-color': $civictheme-button-dark-tertiary-background-color,
          'border-color': $civictheme-button-dark-tertiary-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-dark-tertiary-hover-color,
          'background-color': $civictheme-button-dark-tertiary-hover-background-color,
          'border-color': $civictheme-button-dark-tertiary-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-dark-tertiary-visited-color,
          'background-color': $civictheme-button-dark-tertiary-visited-background-color,
          'border-color': $civictheme-button-dark-tertiary-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-dark-tertiary-active-color,
          'background-color': $civictheme-button-dark-tertiary-active-background-color,
          'border-color': $civictheme-button-dark-tertiary-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-dark-tertiary-focus-color,
          'background-color': $civictheme-button-dark-tertiary-focus-background-color,
          'border-color': $civictheme-button-dark-tertiary-focus-border-color,
          'outline-color': $civictheme-button-dark-tertiary-focus-outline-color,
        ),
      )
    ),
    'chip': (
      'light': (
        'normal': (
          'color': $civictheme-button-light-chip-color,
          'background-color': $civictheme-button-light-chip-background-color,
          'border-color': $civictheme-button-light-chip-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-light-chip-hover-color,
          'background-color': $civictheme-button-light-chip-hover-background-color,
          'border-color': $civictheme-button-light-chip-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-light-chip-visited-color,
          'background-color': $civictheme-button-light-chip-visited-background-color,
          'border-color': $civictheme-button-light-chip-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-light-chip-active-color,
          'background-color': $civictheme-button-light-chip-active-background-color,
          'border-color': $civictheme-button-light-chip-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-light-chip-focus-color,
          'background-color': $civictheme-button-light-chip-focus-background-color,
          'border-color': $civictheme-button-light-chip-focus-border-color,
          'outline-color': $civictheme-button-light-chip-focus-outline-color,
        ),
        'dismiss': (
          'fill': $civictheme-button-light-chip-dismiss-color,
          'fill-selected': $civictheme-button-light-chip-selected-color,
        ),
        'selected': (
          'color': $civictheme-button-light-chip-selected-color,
          'background-color': $civictheme-button-light-chip-selected-background-color,
          'border-color': $civictheme-button-light-chip-selected-border-color,
        ),
      ),
      'dark': (
        'normal': (
          'color': $civictheme-button-dark-chip-color,
          'background-color': $civictheme-button-dark-chip-background-color,
          'border-color': $civictheme-button-dark-chip-border-color,
          'outline-color': false,
        ),
        'hover': (
          'color': $civictheme-button-dark-chip-hover-color,
          'background-color': $civictheme-button-dark-chip-hover-background-color,
          'border-color': $civictheme-button-dark-chip-hover-border-color,
          'outline-color': false,
        ),
        'visited': (
          'color': $civictheme-button-dark-chip-visited-color,
          'background-color': $civictheme-button-dark-chip-visited-background-color,
          'border-color': $civictheme-button-dark-chip-visited-border-color,
          'outline-color': false,
        ),
        'active': (
          'color': $civictheme-button-dark-chip-active-color,
          'background-color': $civictheme-button-dark-chip-active-background-color,
          'border-color': $civictheme-button-dark-chip-active-border-color,
          'outline-color': false,
        ),
        'focus': (
          'color': $civictheme-button-dark-chip-focus-color,
          'background-color': $civictheme-button-dark-chip-focus-background-color,
          'border-color': $civictheme-button-dark-chip-focus-border-color,
          'outline-color': $civictheme-button-dark-chip-focus-outline-color,
        ),
        'dismiss': (
          'fill': $civictheme-button-dark-chip-dismiss-color,
          'fill-selected': $civictheme-button-dark-chip-selected-color
        ),
        'selected': (
          'color': $civictheme-button-dark-chip-selected-color,
          'background-color': $civictheme-button-dark-chip-selected-background-color,
          'border-color': $civictheme-button-dark-chip-selected-border-color,
        ),
      )
    ),
  );
  $types: map.keys($map);

  @if not index($types, $type) {
    @error '"#{$type}" is not one of allowed #{$types}.';
  }

  display: inline-block;
  text-decoration: none;
  outline-offset: $civictheme-button-outline-offset;
  outline-width: $civictheme-button-outline-width;

  @if $civictheme-animation-enabled {
    transition: all $civictheme-animation-duration ease;
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &[disabled] {
    text-decoration: none;
    pointer-events: none;
    user-select: none;
    opacity: 50%;
  }

  .civictheme-icon {
    vertical-align: middle;
  }

  input {
    @include civictheme-visually-hidden();
  }

  $map-per-type: map.get($map, $type);

  @each $theme, $type-kinds in $map-per-type {
    &.civictheme-theme-#{$theme} {
      @each $type-kind, $type-kind-values in $type-kinds {
        @if $type-kind == 'normal' {
          @include _civictheme-button-print-rules($type-kind-values);
        }
        @else if $type-kind == 'hover' {
          &:hover {
            @include _civictheme-button-print-rules($type-kind-values);
          }
        }
        @else if $type-kind == 'active' {
          &:active,
          &.active {
            @include _civictheme-button-print-rules($type-kind-values);
          }
        }
        @else if $type-kind == 'focus' {
          &:focus,
          &.focus,
          &:focus:hover,
          &.focus:hover,
          &:focus:active,
          &.focus:active,
          &:focus:hover:active,
          &.focus:hover:active {
            @include _civictheme-button-print-rules($type-kind-values);
          }
        }
        @else if $type-kind == 'selected' {
          &.selected,
          &.selected:hover,
          &.selected:active,
          &.selected:hover:active {
            @include _civictheme-button-print-rules($type-kind-values);
          }
        }
        @else if $type-kind == 'dismiss' {
          &.civictheme-button--dismiss {
            padding-right: civictheme-space(2);
          }

          .civictheme-button__dismiss {
            user-select: none;
            pointer-events: none;

            &:hover {
              @include civictheme-icon-fill-color(map.get($type-kind-values, 'fill'));
            }
          }

          &.selected {
            .civictheme-button__dismiss {
              @include civictheme-icon-fill-color(map.get($type-kind-values, 'fill-selected'));
            }
          }
        }
      }
    }
  }

  @if $type == 'chip' {
    border-radius: civictheme-space(6);

    @include civictheme-link-decoration(false, false, false, false);
  }
}

@mixin _civictheme-button-print-rules($rules) {
  $map: (
    'background-color',
    'border-color',
    'color',
    'outline-color',
  );

  @each $property in $map {
    $value: map.get($rules, $property);

    @if $value {
      #{$property}: $value;
    }
  }

  @if map.get($rules, 'outline-color') {
    outline-style: solid;
  }
}

@mixin civictheme-button-size($size, $with-padding: true) {
  // stylelint-disable-next-line scss/dollar-variable-pattern
  $sizes: ('large', 'regular', 'small');

  @if $size == 'large' {
    @include civictheme-typography('label-extra-large');

    @if $with-padding {
      padding: civictheme-space(2) civictheme-space(5);
    }
  }
  @else if $size == 'regular' {
    @include civictheme-typography('label-regular');

    @if $with-padding {
      padding: civictheme-space(2) civictheme-space(5);
    }
  }
  @else if $size == 'small' {
    @include civictheme-typography('label-small');

    border-width: math.div($civictheme-button-border-width, 2);

    @if $with-padding {
      padding: civictheme-space() civictheme-space(3);
    }
  }
  @else {
    @error '"#{$size}" is not one of allowed #{$sizes}.';
  }
}

//
// Classes.
//

.civictheme-button {
  $root: &;

  cursor: pointer;
  border: $civictheme-button-border-width solid transparent;
  border-radius: $civictheme-button-border-radius;

  @include civictheme-button-size('regular');

  &--primary {
    @include civictheme-button-type('primary');
  }

  &--secondary {
    @include civictheme-button-type('secondary');
  }

  // Type.
  &--tertiary {
    @include civictheme-button-type('tertiary');

    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &--large {
      @include civictheme-button-size('large', false);

      &__dismiss {
        margin-left: civictheme-space(3);
      }
    }

    &--regular {
      @include civictheme-button-size('regular', false);

      &__dismiss {
        margin-left: civictheme-space(3);
      }
    }

    &--small {
      @include civictheme-button-size('small', false);

      &__dismiss {
        margin-left: civictheme-space(2);
      }
    }
  }

  &--chip {
    @include civictheme-button-type('chip');
  }

  // Size.
  &--large {
    @include civictheme-button-size('large');

    &__dismiss {
      margin-left: civictheme-space(3);
    }

    &#{$root}--tertiary {
      padding: 0;
    }
  }

  &--regular {
    @include civictheme-button-size('regular');

    &__dismiss {
      margin-left: civictheme-space(3);
    }

    &#{$root}--tertiary {
      padding: 0;
    }
  }

  &--small {
    @include civictheme-button-size('small');

    &__dismiss {
      margin-left: civictheme-space(2);
    }

    &#{$root}--tertiary {
      padding: 0;
    }
  }
}
