{#
/**
 * @file
 * Filter Chip Button component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Text.
 * - is_selected: [string] Additional attributes.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set selected_class = is_selected ? 'civic-filter-chip-button--selected' : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, selected_class, modifier_class|default('')) %}

{% if text %}
  <button class="civic-filter-chip-button {{ modifier_class }}" {% if attributes is not empty %}{{ attributes }}{% endif %}>
    <span class="civic-filter-chip-button__text">{{ text }}</span>
    <span class="civic-filter-chip-button__selected-icon"></span>
  </button>
{% endif %}
