{#
/**
 * @file
 * CivicTheme implementation to display local tasks.
 */
#}
{% if links.primary %}
  <h2 class="ct-visually-hidden">{{ 'Primary tabs'|t }}</h2>
  {% include '@molecules/tabs/tabs.twig' with {
    links: links.primary,
    vertical_spacing: 'top',
    modifier_class: 'ct-tabs--local-tasks ct-tabs--local-tasks--primary',
  } %}
{% endif %}

{% if links.secondary %}
  <h2 class="ct-visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  {% include '@molecules/tabs/tabs.twig' with {
    links: links.secondary,
    modifier_class: 'ct-tabs--local-tasks ct-tabs--local-tasks--secondary',
  } %}
{% endif %}
