{#
/**
 * @file
 * Civic theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * links: [object] consisting of:
 * - primary: [array] primary task links.
 * - secondary: [array] secondary task links.
 *
 */
#}
{% if links.primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  {% include '@molecules/link-list/link-list.twig' with {
    links: links.primary,
    is_inline: true,
    modifier_class: 'civic-link-list--local-tasks',
  } %}
{% endif %}
{% if links.secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  {% include '@molecules/link-list/link-list.twig' with {
    links: links.secondary,
    is_inline: true,
    modifier_class: 'civic-link-list--local-tasks',
  } %}
{% endif %}
