//
// Navigation Card component.
//

@use 'sass:map';

.ct-navigation-card {
  $root: &;

  position: relative;
  border-radius: $ct-navigation-card-border-radius;

  // Prevent image from "spilling" over the border radius.
  overflow: hidden;
  width: 100%;

  @include ct-elevation-interaction();

  #{$root}__image-wrapper {
    position: relative;

    @include ct-image-fit();
  }

  #{$root}__content {
    padding: ct-spacing(3);
  }

  #{$root}__title {
    @include ct-typography('heading-5');

    margin-bottom: ct-spacing(2);
  }

  #{$root}__title-link {
    @include ct-link-decoration ();
    @include ct-link-no-outline ();
    @include ct-link-cover-parent ();

    display: flex;
    justify-content: space-between;
  }

  #{$root}__icon {
    margin-bottom: ct-spacing(2);
  }

  #{$root}__summary {
    @include ct-typography('text-regular');

    padding-right: ct-spacing(3);
  }

  &#{$root}--large {
    @include ct-breakpoint(m) {
      display: flex;
    }

    #{$root}__image-wrapper {
      width: $ct-navigation-card-large-image-width-mobile;
      height: $ct-navigation-card-large-image-height-mobile;

      @include ct-breakpoint(m) {
        width: $ct-navigation-card-large-image-width-desktop;
        height: $ct-navigation-card-large-image-height-desktop;
        flex-shrink: 0;
      }
    }

    #{$root}__content {
      flex-grow: 1;
    }

    #{$root}__title {
      @include ct-typography('heading-4');
    }
  }

  &#{$root}--small {
    display: flex;
    flex-direction: column;

    #{$root}__title {
      @include ct-typography('heading-5');
    }

    #{$root}__image-wrapper {
      width: 100%;
      height: $ct-navigation-card-image-height-mobile;

      @include ct-breakpoint('m') {
        height: $ct-navigation-card-image-height-desktop;
      }
    }
  }

  &#{$root}--image-as-icon {
    #{$root}__image-wrapper {
      min-width: ct-particle(6);
      padding: ct-spacing(3);
      padding-bottom: 0;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);

    #{$root}__title {
      @include ct-component-property($root, $theme, heading, color);
    }

    #{$root}__title-link {
      @include ct-component-property($root, $theme, heading, color);

      &:hover,
      &:visited:hover {
        @include ct-component-property($root, $theme, heading, hover, color);
      }

      &--active,
      &:active {
        @include ct-component-property($root, $theme, heading, active, color);
      }
    }

    #{$root}__summary {
      @include ct-component-property($root, $theme, color);
    }

    #{$root}__icon-wrapper {
      @include ct-component-property($root, $theme, icon, color);
    }

    #{$root}__icon {
      @include ct-icon-fill-color(ct-component-var($root, $theme, icon, color), true);
    }

    #{$root}__icon--arrow,
    #{$root}__icon--external {
      @include ct-icon-fill-color(ct-component-var($root, $theme, icon, arrow, color), true);
    }
  }
}
