//
// Search component.
//

.ct-search {
  $root: &;

  @include ct-print-hide();

  // Make button appear as a "Navigation with Drawer" item.
  // @see navigation.scss
  display: flex;
  align-items: center;

  &__link {
    @include ct-typography('label-regular');

    text-decoration: none;
    border-bottom: solid ct-particle(0.5);
    padding-left: ct-spacing(2);
    padding-right: ct-spacing(2);
    padding-top: $ct-navigation-drawer-top-offset;
    padding-bottom: $ct-navigation-drawer-top-offset;

    .ct-button__icon {
      margin-left: ct-spacing(0.5);

      .ct-icon {
        vertical-align: middle;
      }
    }
  }

  &.ct-theme-light {
    > .ct-link {
      background-color: $ct-navigation-light-drawer-menu-item-background-color;
      border-bottom-color: $ct-navigation-light-drawer-menu-item-border-color;
      color: $ct-navigation-light-drawer-color;

      &:hover {
        background-color: $ct-navigation-light-drawer-menu-item-hover-background-color;
        border-bottom-color: $ct-navigation-light-drawer-menu-item-hover-border-color;
        color: $ct-navigation-light-drawer-hover-color;
      }

      &[aria-expanded='true'],
      &:active {
        background-color: $ct-navigation-light-drawer-menu-item-active-background-color;
        border-bottom-color: $ct-navigation-light-drawer-menu-item-active-border-color;
        color: $ct-navigation-light-drawer-active-color;
      }
    }
  }

  &.ct-theme-dark {
    > .ct-link {
      background-color: $ct-navigation-dark-drawer-menu-item-background-color;
      border-bottom-color: $ct-navigation-dark-drawer-menu-item-border-color;
      color: $ct-navigation-dark-drawer-color;

      &:hover {
        background-color: $ct-navigation-dark-drawer-menu-item-hover-background-color;
        border-bottom-color: $ct-navigation-dark-drawer-menu-item-hover-border-color;
        color: $ct-navigation-dark-drawer-hover-color;
      }

      &[aria-expanded='true'],
      &:active {
        background-color: $ct-navigation-dark-drawer-menu-item-active-background-color;
        border-bottom-color: $ct-navigation-dark-drawer-menu-item-active-border-color;
        color: $ct-navigation-dark-drawer-active-color;
      }
    }
  }
}
