//
// Search component.
//

.civictheme-search {
  $root: &;

  @include civictheme-print-hide();

  padding: civictheme-space(2) 0;

  &__link {
    @include civictheme-typography('label-regular');

    // Make button appear as a Primary Navigation item.
    // @see civictheme-primary-navigation.scss
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: civictheme-space(2);
    border-bottom: solid 4px;

    .civictheme-button__icon {
      margin-left: civictheme-space(0.5);

      .civictheme-icon {
        vertical-align: middle;
      }
    }
  }

  &.civictheme-theme-light {
    #{$root}__link {
      color: $civictheme-search-light-color;
      border-bottom-color: $civictheme-search-light-menu-item-border-color;

      &:hover {
        color: $civictheme-search-light-hover-color;
        border-bottom-color: $civictheme-search-light-menu-item-hover-border-color;
      }

      &:active {
        color: $civictheme-search-light-active-color;
        border-bottom-color: $civictheme-search-light-menu-item-active-border-color;
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__link {
      color: $civictheme-search-dark-color;
      border-bottom-color: $civictheme-search-dark-menu-item-border-color;

      &:hover {
        color: $civictheme-search-dark-hover-color;
        border-bottom-color: $civictheme-search-dark-menu-item-hover-border-color;
      }

      &:active {
        color: $civictheme-search-dark-active-color;
        border-bottom-color: $civictheme-search-dark-menu-item-active-border-color;
      }
    }
  }
}
