//
// Civic input.
//

@import '../../00-base/mixins/form';

.civic-checkbox {
  position: absolute;

  &__element {
    @include civic-checkbox-radio('checkbox');

    &.civic-input__element + .civic-checkbox__state {
      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        display: inline-block;
        width: rem(22px);
        height: rem(22px);
        content: '';
      }
    }

    &.civic-theme-light {
      &:checked {
        & + .civic-checkbox__state {
          &::after {
            content: civic-color-svg-fill($civic-radio-check, $civic-radio-light-check-color);
          }
        }
      }
    }

    &.civic-theme-dark {
      &:checked {
        & + .civic-checkbox__state {
          &::after {
            content: civic-color-svg-fill($civic-radio-check, $civic-radio-dark-check-color);
          }
        }
      }
    }
  }
}

.checkboxes--wrapper {
  @include civic-typography('text-regular');
}
