//
// Debug helpers.
//

.ct-block-debug {
  @include ct-block-debug();
}

.ct-breakpoint-debug {
  @each $bp, $value in $ct-breakpoints {
    &::before {
      @include ct-breakpoint($bp) {
        content: '#{$bp}: >=#{$value}';
        position: fixed;
        bottom: 0;
        right: 0;
        background: rgba(purple, 0.75);
        display: block;
        padding: 0.25em 0.5em;
        z-index: 1000;
      }
    }
  }
}
