//
// Video component.
//

@use 'sass:math';

.civictheme-video-player {
  $root: &;

  &__wrapper {
    position: relative;
    padding-bottom: math.div($civictheme-video-ratio-height, $civictheme-video-ratio-width) * 100%;
    padding-top: civictheme-space(3);
    height: 0;
    overflow: hidden;

    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__links {
    display: flex;
    margin-top: civictheme-space(4);

    @include civictheme-breakpoint(m) {
      margin-top: civictheme-space(3);
    }
  }

  &__links__transcript {
    padding-right: civictheme-space(2);

    @include civictheme-breakpoint(m) {
      padding-right: civictheme-space(3);
    }
  }

  .civictheme-icon {
    vertical-align: middle;
  }
}
