//
// Basic Content component.
//

.civictheme-basic-content {
  @include civictheme-content();

  &.civictheme-content--vertical-space-top {
    @include civictheme-component-with-vertical-space(top, $civictheme-basic-content-space-vertical);
  }

  &.civictheme-content--vertical-space-bottom {
    @include civictheme-component-with-vertical-space(bottom, $civictheme-basic-content-space-vertical);
  }

  &.civictheme-content--vertical-space-both {
    @include civictheme-component-with-vertical-space(both, $civictheme-basic-content-space-vertical);
  }

  &.civictheme-theme-light {
    @include civictheme-content-light();

    &.civictheme-content--with-background {
      background-color: $civictheme-basic-content-light-wrapper-background-color;
      padding-left: $civictheme-basic-content-space-horizontal;
      padding-right: $civictheme-basic-content-space-horizontal;
    }
  }

  &.civictheme-theme-dark {
    @include civictheme-content-dark();

    &.civictheme-content--with-background {
      background-color: $civictheme-basic-content-dark-wrapper-background-color;
      padding-left: $civictheme-basic-content-space-horizontal;
      padding-right: $civictheme-basic-content-space-horizontal;
    }
  }
}
