//
// Promo Card component.
//

@use 'sass:map';

.ct-promo-card {
  $root: &;

  position: relative;
  border-radius: $ct-promo-card-border-radius;

  // Promo image from "spilling" over the border radius.
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include ct-elevation(3);

  &:focus-within {
    @include ct-outline();
  }

  &#{$root}--no-image {
    border-top-width: ct-spacing(0.75);
    border-top-style: solid;
  }

  #{$root}__image-wrapper {
    @include ct-image-fit();

    position: relative;
    height: $ct-promo-card-image-height-mobile;
    width: $ct-promo-card-image-width-mobile;

    @include ct-breakpoint('m') {
      height: $ct-promo-card-image-height-desktop;
      width: $ct-promo-card-image-width-desktop;
    }
  }

  #{$root}__content {
    padding: ct-spacing(3);
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  #{$root}__date {
    @include ct-typography('label-regular');

    margin-bottom: ct-spacing(2);
  }

  #{$root}__title {
    @include ct-typography('heading-5');

    margin-bottom: ct-spacing(2);
  }

  #{$root}__location {
    @include ct-typography('text-regular');

    font-weight: 600;
    margin-bottom: ct-spacing(2);
  }

  #{$root}__summary {
    @include ct-typography('text-regular');
  }

  #{$root}__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: ct-spacing(3);
  }

  #{$root}__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: auto;
    margin-top: -1 * ct-spacing(0.5);

    .ct-tag {
      margin-top: ct-spacing(0.5);
      margin-right: ct-spacing(0.5);
    }
  }

  &.ct-theme-light {
    background-color: $ct-promo-card-light-background-color;

    &:focus {
      @include ct-outline(false);
    }

    &#{$root}--no-image {
      border-top-color: $ct-promo-card-light-border-top-color;
    }

    #{$root}__title {
      color: $ct-promo-card-light-heading-color;
    }

    #{$root}__summary {
      color: $ct-promo-card-light-summary-color;
    }

    #{$root}__icon--arrow {
      @include ct-icon-fill-color($ct-promo-card-light-icon-arrow-color);
    }
  }

  &.ct-theme-dark {
    background-color: $ct-promo-card-dark-background-color;

    &:focus {
      @include ct-outline(true);
    }

    &#{$root}--no-image {
      border-top-color: $ct-promo-card-dark-border-top-color;
    }

    #{$root}__title {
      color: $ct-promo-card-dark-heading-color;
    }

    #{$root}__summary {
      color: $ct-promo-card-dark-summary-color;
    }

    #{$root}__icon--arrow {
      @include ct-icon-fill-color($ct-promo-card-dark-icon-arrow-color, true);
    }
  }
}
