//
// Pagination component.
//

.civictheme-pager {
  $root: &;

  @include civictheme-typography('label-regular');

  #{$root}__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #{$root}__item {
    margin-right: civictheme-space();
  }

  #{$root}__link {
    padding-left: civictheme-space();
    padding-right: civictheme-space();
    display: block;
    text-align: center;
    text-decoration-color: transparent;
  }

  .civictheme-directional-link {
    padding: 0 civictheme-space();
  }
}
