{% extends './banner.twig' %}

{% if show_breadcrumb %}
  {% set breadcrumb %}
    {% include '@organisms/breadcrumb/breadcrumb.twig' with {
      theme: theme,
      links: [
        { 'text': 'Home', 'url': 'http://example.com'},
        { 'text': 'Sub Page', 'url': 'http://example.com'},
        { 'text': 'Active Page', 'url': 'http://example.com'}
      ]
    } only %}
  {% endset %}
{% endif %}

{% if show_content_text %}
  {% set content %}
    <div class="civic-banner__content__example">
      <p>Last updated: 26 Oct 2020</p>
      <p>Government grade set of high quality design themes that are
        accessible,
        inclusive and provide a consistent digital experience for your
        citizen. </p>
      {% include '@atoms/button/button.twig' with {
        text: 'Learn about our mission',
        type: 'primary',
        theme: theme,
      } only %}
    </div>
  {% endset %}
{% endif %}

{% if show_content_search %}
  {% set content %}
    <div class="civic-banner__content__example">
      {% include '@molecules/search/search.twig' with {
        placeholder: 'Enter keywords or phrase',
        button_text: 'Search',
        description: 'Search by keyword',
      } only %}
    </div>
  {% endset %}
{% endif %}



{% if show_content_below %}
  {% set card %}
    {% include '@molecules/navigation-card/navigation-card.twig' with {
      theme: 'dark',
      title: 'Register for a workshop',
      summary: 'Optional summary in the breakdown of tasks.',
      icon: 'education_mortarboard',
    } only %}
  {% endset %}

  {% set content_below %}
    <div class="civic-banner__content__example">
      {% include '@organisms/card-container/card-container.twig' with {
        column_count: 4,
        cards: [card, card, card, card],
      } only %}
    </div>
  {% endset %}
{% endif %}
