.civic-large-filter {
  $root: &;

  &__mobile-toggle {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0;
  }

  &__mobile-overlay {
    padding-bottom: civic-space(5);
  }

  &__mobile-container {
    padding-bottom: civic-space();
  }

  &__mobile-toggle-display {
    @include civic-typography('text-small');

    text-align: center;
    width: 100%;
    padding: civic-space() civic-space(3);
    border: 1px solid transparent;
    border-top: 0;
    box-sizing: border-box;

    &--hidden {
      display: none;
    }
  }

  &__mobile-filter-title {
    @include civic-typography('label-regular');

    margin: 0;
    display: inline;
  }

  &__mobile-selected-filters {
    position: relative;
  }

  &__mobile-apply-container {
    position: sticky;
    bottom: 0;
  }

  &__mobile-apply {
    width: 100%;
  }

  &__filters {
    margin: 0;
    border: none;
    width: 100%;
    padding: civic-space(2) 0;

    @include civic-breakpoint($civic-large-filter-breakpoint) {
      display: inline-flex;
      padding: civic-space(3) 0;
    }

    & > legend {
      @include civic-typography('text-regular');

      @include civic-breakpoint($civic-large-filter-breakpoint) {
        display: block;
        float: left;
        margin-right: civic-space(5);
      }
    }

    .civic-dropdown-filter {
      border-bottom: 1px solid transparent;

      @include civic-breakpoint($civic-large-filter-breakpoint) {
        margin-right: civic-space(3);
        border-bottom: 0;
      }

      &:first-of-type {
        border-top: 1px solid transparent;

        @include civic-breakpoint($civic-large-filter-breakpoint) {
          border-top: 0;
        }
      }
    }
  }

  &__selected-filters {
    display: none;

    @include civic-breakpoint($civic-large-filter-breakpoint) {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding: civic-space(3) 0;
      width: 100%;
    }

    &--hidden {
      display: none;
    }
  }

  &__selected-filters-title {
    @include civic-typography('label-regular');

    white-space: nowrap;
    margin-top: civic-space(2);
  }

  &__tags {
    margin-left: civic-space(2);
    width: 100%;

    #{$root}__mobile-tags & {
      margin-left: 0;
      padding-top: civic-space(2);
    }
  }

  &__tags-list {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  &__tag {
    margin-right: civic-space();
    margin-top: civic-space();
    margin-bottom: civic-space();
    display: inline-block;
  }

  &__clear-container {
    margin-left: auto;
  }

  &__clear-all {
    @include civic-typography('label-regular');

    margin-top: civic-space(2);
    border: 0;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;

    #{$root}__mobile-clear-container & {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }

    &:focus {
      @include civic-outline();
    }
  }

  &__clear-all-label {
    pointer-events: none;
    margin-right: civic-space(0.5);
  }

  &.civic-theme-light {
    background-color: $civic-large-filter-light-background-color;

    @include civic-breakpoint($civic-large-filter-breakpoint) {
      border-top: 1px solid $civic-large-filter-light-border-color;
      border-bottom: 1px solid $civic-large-filter-light-border-color;
    }

    #{$root}__mobile-toggle {
      color: $civic-large-filter-light-mobile-toggle-color;
      background-color: $civic-large-filter-light-mobile-toggle-background-color;
      border-color: $civic-large-filter-light-mobile-toggle-border-color;
    }

    #{$root}__mobile-toggle-display {
      color: $civic-large-filter-light-mobile-toggle-display-color;
      border-color: $civic-large-filter-light-mobile-toggle-display-border-color;
    }

    #{$root}__mobile-overlay {
      background-color: $civic-large-filter-light-mobile-overlay-background-color;
    }

    #{$root}__mobile-filter-title {
      color: $civic-large-filter-light-mobile-filter-title-color;
    }

    #{$root}__filters {
      & > legend {
        color: $civic-large-filter-light-filters-legend-color;
      }

      .civic-dropdown-filter {
        border-bottom-color: $civic-large-filter-light-dropdown-filter-border-color;

        &:first-of-type {
          border-top-color: $civic-large-filter-light-dropdown-filter-border-color;
        }
      }
    }

    #{$root}__selected-filters {
      @include civic-breakpoint($civic-large-filter-breakpoint) {
        border-top: 1px solid $civic-large-filter-light-selected-filters-border-color;
      }
    }

    #{$root}__clear-all {
      background-color: $civic-large-filter-light-clear-all-background-color;
      color: $civic-large-filter-light-clear-all-color;

      svg {
        fill: $civic-large-filter-light-clear-all-icon-color;
      }
    }

    #{$root}__mobile-clear-container {
      #{$root}__clear-all-label {
        color: $civic-large-filter-light-mobile-clear-all-label-color;
      }

      svg {
        fill: $civic-large-filter-light-mobile-clear-all-label-icon;
      }
    }

    #{$root}__selected-filters-title {
      color: $civic-large-filter-light-selected-filters-title-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-large-filter-dark-background-color;

    @include civic-breakpoint($civic-large-filter-breakpoint) {
      border-top: 1px solid $civic-large-filter-dark-border-color;
      border-bottom: 1px solid $civic-large-filter-dark-border-color;
    }

    #{$root}__mobile-toggle {
      color: $civic-large-filter-dark-mobile-toggle-color;
      background-color: $civic-large-filter-dark-mobile-toggle-background-color;
      border-color: $civic-large-filter-dark-mobile-toggle-border-color;
    }

    #{$root}__mobile-toggle-display {
      color: $civic-large-filter-dark-mobile-toggle-display-color;
      border-color: $civic-large-filter-dark-mobile-toggle-display-border-color;
    }

    #{$root}__mobile-overlay {
      background-color: $civic-large-filter-dark-mobile-overlay-background-color;
    }

    #{$root}__mobile-filter-title {
      color: $civic-large-filter-dark-mobile-filter-title-color;
    }

    #{$root}__filters {
      & > legend {
        color: $civic-large-filter-dark-filters-legend-color;
      }

      .civic-dropdown-filter {
        border-bottom-color: $civic-large-filter-dark-dropdown-filter-border-color;

        &:first-of-type {
          border-top-color: $civic-large-filter-dark-dropdown-filter-border-color;
        }
      }
    }

    #{$root}__selected-filters {
      @include civic-breakpoint($civic-large-filter-breakpoint) {
        border-top: 1px solid $civic-large-filter-dark-selected-filters-border-color;
      }
    }

    #{$root}__clear-all {
      background-color: $civic-large-filter-dark-clear-all-background-color;
      color: $civic-large-filter-dark-clear-all-color;

      svg {
        fill: $civic-large-filter-dark-clear-all-icon-color;
      }
    }

    #{$root}__mobile-clear-container {
      #{$root}__clear-all-label {
        color: $civic-large-filter-dark-mobile-clear-all-label-color;
      }

      svg {
        fill: $civic-large-filter-dark-mobile-clear-all-label-icon;
      }
    }

    #{$root}__selected-filters-title {
      color: $civic-large-filter-dark-selected-filters-title-color;
    }
  }
}
