//
// Link component.
//

//
// Mixins.
//
@mixin civictheme-link-base() {
  text-decoration: underline;
  text-decoration-thickness: rem(1px);
  text-underline-offset: civictheme-space(0.375);
  padding: civictheme-space(0.375) 0 civictheme-space(0.25);

  &:hover,
  &:focus {
    text-decoration: none;
  }

  .civictheme-link__link-icon {
    margin-right: rem(4px);
  }

  &.civictheme-link--external {
    position: relative;
    padding-right: civictheme-icon-size-dimension('regular', 'm', 'width');

    &::after {
      @include civictheme-icon-inline($civictheme-link-icon-external);

      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &,
  &.civictheme-theme-light {
    color: $civictheme-link-light-color;

    &:focus {
      @include civictheme-outline();

      border-radius: $civictheme-link-border-radius;
    }

    &:hover {
      background-color: $civictheme-link-light-hover-background-color;
      color: $civictheme-link-light-hover-color;
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-link-dark-color;

    &:focus {
      @include civictheme-outline(true);

      border-radius: $civictheme-link-border-radius;
    }

    &:hover {
      background-color: $civictheme-link-dark-hover-background-color;
      color: $civictheme-link-dark-hover-color;
    }
  }

  &:visited {
    @include civictheme-link-visited();
  }
}

@mixin civictheme-link-visited() {
  &.civictheme-theme-light {
    color: $civictheme-link-light-visited-color;

    &:hover {
      background-color: $civictheme-link-light-visited-hover-background-color;
      color: $civictheme-link-light-visited-hover-color;
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-link-dark-visited-color;

    &:hover {
      background-color: $civictheme-link-dark-visited-hover-background-color;
      color: $civictheme-link-dark-visited-hover-color;
    }
  }
}

//
// Classes.
//

.civictheme-link {
  @include civictheme-link-base();
}
