//
// Link component.
//

.ct-link {
  $root: &;

  @include ct-typography('label-regular');
  @include ct-link-decoration(false, false, true, false);
  @include ct-disabled();

  padding: ct-spacing(0.375) 0 ct-spacing(0.25);
  text-decoration-thickness: ct-particle(0.125);
  text-underline-offset: ct-spacing(0.375);

  &:focus {
    @include ct-outline();
    @include ct-outline-border();
  }

  &#{$root}--external {
    position: relative;
    padding-right: ct-icon-size-dimension('regular', 'm', 'width');

    &::after {
      content: $ct-link-icon-external;
      overflow-x: hidden;
      overflow-y: hidden;
      width: ct-particle(3);
      height: ct-particle(3);
      fill: currentcolor;
      vertical-align: -webkit-baseline-middle;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, color);

    &:hover,
    &:visited:hover {
      @include ct-component-property($root, $theme, hover, color);
    }

    &:visited {
      @include ct-component-property($root, $theme, visited, color);
    }

    &#{$root}--active,
    &:active {
      @include ct-component-property($root, $theme, active, color);
    }
  }
}
