//
// Tooltip component.
//

@use 'sass:math';

.civictheme-tooltip {
  $root: &;

  display: inline-block;
  position: relative;

  &__button {
    appearance: none;
    border: 0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 0;

    &:focus {
      @include civictheme-outline(true);
    }
  }

  &__description {
    $tooltip-width-half: math.div($civictheme-tooltip-width, 2);

    @include civictheme-typography('label-small');

    border-radius: $civictheme-tooltip-description-border-radius;

    @include civictheme-elevation(2);

    box-sizing: border-box;
    position: absolute;
    width: $civictheme-tooltip-width;
    margin-left: calc(50% - #{$tooltip-width-half});
    margin-top: $civictheme-tooltip-triangle-height + math.div(civictheme-space(), 2);
    z-index: $civictheme-tooltip-z-index;

    // Triangle.
    &::before {
      $triangle-width-half: math.div($civictheme-tooltip-triangle-width, 2);

      content: '';
      display: inline-block;
      position: absolute;
      width: $civictheme-tooltip-triangle-width;
      height: $civictheme-tooltip-triangle-height;
      transform: rotateZ(45deg);
      top: -1 * math.div($civictheme-tooltip-triangle-height, 2);
      left: calc(50% - #{$triangle-width-half});
    }
  }

  &__description__inner {
    margin: civictheme-space(2);
  }

  &.civictheme-theme-light {
    #{$root}__button {
      svg {
        fill: $civictheme-tooltip-light-icon-color;
      }

      &:hover {
        svg {
          fill: $civictheme-tooltip-light-icon-hover-color;
        }
      }
    }

    #{$root}__description {
      color: $civictheme-tooltip-light-description-color;
      background-color: $civictheme-tooltip-light-description-background-color;

      &::before {
        background-color: $civictheme-tooltip-light-description-background-color;
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__button {
      svg {
        fill: $civictheme-tooltip-dark-icon-color;
      }

      &:hover {
        svg {
          fill: $civictheme-tooltip-dark-icon-hover-color;
        }
      }
    }

    #{$root}__description {
      color: $civictheme-tooltip-dark-description-color;
      background-color: $civictheme-tooltip-dark-description-background-color;

      &::before {
        background-color: $civictheme-tooltip-dark-description-background-color;
      }
    }
  }
}
