//
// Filter chip.
//

.civic-filter-chip {
  $root: &;

  @include civic-typography('label-small');

  cursor: pointer;
  position: relative;
  display: inline-block;

  #{$root}__field {
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0%;
    width: 0;
    height: 0;

    &:focus + #{$root}__text {
      @include civic-outline(1);
    }
  }

  #{$root}__text {
    border: solid 1px transparent;
    border-radius: civic-space(3);
    padding: civic-space() civic-space(2);
    display: block;
  }

  &.civic-theme-light {
    #{$root}__text {
      color: $civic-filter-chip-light-color;
      border-color: $civic-filter-chip-light-border-color;
      background-color: $civic-filter-chip-light-background-color;

      &:hover {
        color: $civic-filter-chip-light-hover-color;
        border-color: $civic-filter-chip-light-hover-border-color;
        background-color: $civic-filter-chip-light-hover-background-color;
      }
    }

    #{$root}__field {
      &:checked + #{$root}__text {
        &,
        &:focus {
          color: $civic-filter-chip-light-active-color;
          border-color: $civic-filter-chip-light-active-border-color;
          background-color: $civic-filter-chip-light-active-background-color;
        }

        &:hover {
          color: $civic-filter-chip-light-active-color;
          border-color: $civic-filter-chip-light-active-border-color;
          background-color: $civic-filter-chip-light-active-background-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__text {
      color: $civic-filter-chip-dark-color;
      border-color: $civic-filter-chip-dark-border-color;
      background-color: $civic-filter-chip-dark-background-color;

      &:hover {
        color: $civic-filter-chip-dark-hover-color;
        border-color: $civic-filter-chip-dark-hover-border-color;
        background-color: $civic-filter-chip-dark-hover-background-color;
        border-width: 2px;
      }
    }

    #{$root}__field {
      &:checked + #{$root}__text {
        &,
        &:focus {
          color: $civic-filter-chip-dark-active-color;
          border-color: $civic-filter-chip-dark-active-border-color;
          background-color: $civic-filter-chip-dark-active-background-color;
        }

        &:hover {
          color: $civic-filter-chip-dark-active-color;
          border-color: $civic-filter-chip-dark-active-border-color;
          background-color: $civic-filter-chip-dark-active-background-color;
          border-width: 2px;
        }
      }
    }
  }
}
