//
// Filter chip.
//

@import '../../00-base/base';

.civic-filter-chip {
  $root: &;
  @include civic-typography('label-tag');
  cursor: pointer;
  position: relative;
  display: inline-block;

  input[type=checkbox], input[type=radio] {
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0;
    width: 0;
    height: 0;

    & + span {
      border: solid 1px transparent;
      border-radius: 20px;
      padding: civic-space(1) civic-space(2);
      display: block;
    }
    
    &:focus + span {
      @include civic-outline(1);
    }
  }

  &.civic-theme-light {
    input[type=checkbox], input[type=radio] {
      & + span {
        border-color: $civic-filter-chip-light-border-color;
        color: $civic-filter-chip-light-color;

        &:hover {
          background-color: $civic-filter-chip-light-hover-background-color;
          color: $civic-filter-chip-light-hover-color;
        }
      }
      &:checked + span {
        &, &:focus {
          background-color: $civic-filter-chip-light-active-background-color;
          color: $civic-filter-chip-light-active-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    input[type=checkbox], input[type=radio] {
      & + span {
        background-color: $civic-filter-chip-dark-background-color;
        border-color: $civic-filter-chip-dark-border-color;
        color: $civic-filter-chip-dark-color;

        &:hover {
          background-color: $civic-filter-chip-dark-hover-background-color;
          color: $civic-filter-chip-dark-hover-color;
        }
      }
      &:checked + span {
        &, &:focus {
          background-color: $civic-filter-chip-dark-active-background-color;
          color: $civic-filter-chip-dark-active-color;
        }
      }
    }
  }
}
