{#
/**
 * @file
 * Example Questionnaire component.
 *
 * Used to show project custom organism-level component.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - title: [string] Dialog title.
 * - text: [string] Dialog text.
 */
#}

<div class="civic-questionnaire {{ modifier_class }}">
  <div class="civic-questionnaire__title">
    {{ title }}
  </div>

  <div class="civic-questionnaire__summary">
    {{ text }}
  </div>

  {#  A molecule example. #}
  {#
     Please note that this is useing 'only' to avoid exposing this component's
     variables to the child components.
  #}
  {% include '@molecules/example-dialog/example-dialog.twig' with {
    text: dialog_text | default('I am text set in questionnaire organism')
  } only %}

  {#  An atom example. #}
  {% include '@atoms/link/link.twig' with {
    text: 'I am a link set in questionnaire organism'
  } %}

</div>
