//
// Elevation stories.
//

@use 'sass:string';

.story-elevation-wrapper {
  display: flex;
  flex-flow: row wrap;

  @include civictheme-generate-class-variations-from-map($civictheme-elevations, 'story-elevation') using($key, $value, $index) {
    width: 150px;
    height: 150px;
    margin: civictheme-space(6) civictheme-space(10) 100px 0;
    border-radius: civictheme-space(0.5);
    position: relative;
    background-color: white;

    @include civictheme-elevation($key);
  }
}
