{#
/**
 * @file
 * CivicTheme theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - logos: [object] Logo image and alt attribute for site as defined in theme settings.
 * - site_name: [string] Name for site as defined in Site information settings.
 * - site_slogan: [string] Slogan for site as defined in Site information settings.
 * - show_site_logo: [boolean] Show site logo.
 * - show_site_name: [boolean] Show site name.
 * - show_site_slogan: [boolean] Show site slogan.
 */
#}
{% extends "block.html.twig" %}

{% block content %}
  {% if show_site_logo %}
    {% include '@molecules/logo/logo.twig' with {
      logos: logos,
      url: url,
      title: title,
      theme: theme,
      modifier_class: modifier_class,
      type: type ?? 'default',
    } only %}
  {% endif %}

  {% if show_site_name and site_name %}
    <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
  {% endif %}

  {% if show_site_slogan and site_slogan %}
    {{ site_slogan }}
  {% endif %}
{% endblock %}
