{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - logos: [object] Logo image and alt attribute for site as defined in theme settings.
 * - site_name: [string] Name for site as defined in Site information settings.
 * - site_slogan: [string] Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}

{% include '@atoms/logo/logo.twig' %}

{% if site_name %}
  <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
{% endif %}
{% if site_slogan %}
  {{ site_slogan }}
{% endif %}
