//
// Primary Navigation component.
//

@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

.civictheme-primary-navigation {
  $root: &;

  align-items: center;
  height: 100%;
  display: none;

  @include civictheme-breakpoint($civictheme-primary-navigation-breakpoint) {
    display: flex;
  }

  &__menu {
    // Reset all menu styles.
    &.civictheme-menu,
    .civictheme-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &.civictheme-menu--level-0 {
      // First-level items to be displayed inline.
      display: flex;
      padding-top: $civictheme-primary-navigation-dropdown-top-offset;
      padding-bottom: $civictheme-primary-navigation-dropdown-top-offset;
    }

    .civictheme-menu__item {
      // Links - level 0.
      &--level-0 {
        border-bottom: solid 4px;

        > .civictheme-link {
          display: block;
          padding: civictheme-space(2);

          // Accommodate for the trigger.
          text-decoration: none;

          &::after {
            right: civictheme-space();
            margin-top: 3px;
          }
        }

        // Accommodate extra spacing for dropdown icon.
        &#{$root}__has-dropdown {
          > .civictheme-link {
            padding-right: civictheme-icon-size-dimension('regular', $civictheme-collapsible-icon-size, 'width') + civictheme-space();
          }
        }
      }
    }
  }

  // Menu item with dropdown.
  &__has-dropdown {
    // Since 'data-collapsible-panel' is not added through a menu structure, we
    // need to imitate the initially collapsed panel behaviour.
    &[data-collapsible-collapsed] {
      > .civictheme-menu__sub-menu__wrapper {
        height: 0;
        overflow: hidden;
      }
    }

    // Dropdown (submenu) wrapper.
    .civictheme-menu__sub-menu__wrapper--level-1 {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      margin-top: $civictheme-primary-navigation-dropdown-top-offset;
      z-index: $civictheme-primary-navigation-dropdown-zindex;
      box-shadow: 0 civictheme-space(2) civictheme-space(4) rgba(0, 0, 0, 20%);

      // Submenu.
      .civictheme-menu__sub-menu {
        &.civictheme-menu--level-1 {
          padding: 0;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @include civictheme-container();

          margin-bottom: civictheme-space(4);
        }
      }

      .civictheme-menu__item--level-1 {
        padding: 0;
        margin: civictheme-space(4) 0 0;
        flex-basis: math.div(100%, $civictheme-primary-navigation-dropdown-cols);

        > .civictheme-link {
          @include civictheme-typography('heading-5');

          text-decoration: none;
        }
      }

      .civictheme-menu__sub-menu__wrapper--level-2 {
        margin-top: civictheme-space(4);
      }

      .civictheme-menu__item--level-2,
      .civictheme-menu__item--level-3,
      .civictheme-menu__item--level-4,
      .civictheme-menu__item--level-5 {
        width: 100%;
        margin-bottom: civictheme-space();

        > .civictheme-link {
          @include civictheme-typography('label-regular');

          text-decoration: none;
          display: block;
          border-radius: $civictheme-border-radius;
          padding: 0;

          &:hover {
            padding-left: civictheme-space();
            padding-right: civictheme-space();
          }
        }

        &.civictheme-menu__item--active-trail {
          > .civictheme-link {
            background-color: civictheme-color('primary', 5);
            color: civictheme-color('neutral', 1);
            padding-left: civictheme-space();
            padding-right: civictheme-space();
          }
        }
      }
    }
  }

  // Fill column width if there are less columns than expected.
  &__dropdown-columns--fill {
    .civictheme-menu__sub-menu__wrapper--level-1 {
      .civictheme-menu__item--level-1 {
        flex: 1;
      }
    }
  }

  // Allow to override column width based on the explicitly set columns number
  // class.
  @for $i from 1 through $civictheme-primary-navigation-dropdown-cols * 2 {
    &__dropdown-columns--#{$i} {
      .civictheme-menu__sub-menu__wrapper--level-1 {
        .civictheme-menu--level-1 {
          // @todo: Implement gutters using :nth() to make the last gutter
          // in the row collapse. Note that for "fill column width" option
          // this already works automatically.
          column-gap: $civictheme-primary-navigation-dropdown-column-gutter;
        }

        .civictheme-menu__item--level-1 {
          $basis: math.div(100%, $i);

          flex-basis: calc(#{$basis} - #{$civictheme-primary-navigation-dropdown-column-gutter});
        }
      }
    }
  }

  &.civictheme-theme-light {
    #{$root}__menu {
      .civictheme-menu__item {
        // Links - level 0.
        &--level-0 {
          border-bottom-color: $civictheme-primary-navigation-light-menu-item-border-color;

          &:hover {
            background-color: $civictheme-primary-navigation-light-menu-item-hover-background-color;
            border-bottom-color: $civictheme-primary-navigation-light-menu-item-hover-border-color;
          }

          &:active {
            background-color: $civictheme-primary-navigation-light-menu-item-active-background-color;
            border-bottom-color: $civictheme-primary-navigation-light-menu-item-active-border-color;
          }

          &[data-collapsible] {
            border-bottom-color: $civictheme-primary-navigation-light-border-color;

            &:hover {
              background-color: $civictheme-primary-navigation-light-menu-item-hover-background-color;
              border-bottom-color: $civictheme-primary-navigation-light-menu-item-hover-border-color;
            }

            &:active {
              background-color: $civictheme-primary-navigation-light-menu-item-active-background-color;
              border-bottom-color: $civictheme-primary-navigation-light-menu-item-active-border-color;
            }
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $civictheme-primary-navigation-light-menu-item-border-color;
          }

          &.civictheme-menu__item--active-trail {
            border-bottom-color: $civictheme-primary-navigation-light-border-color;
          }

          > .civictheme-link {
            background-color: $civictheme-primary-navigation-light-menu-item-background-color;
            color: $civictheme-primary-navigation-light-color;

            &:hover {
              color: $civictheme-primary-navigation-light-hover-color;
              background-color: $civictheme-primary-navigation-light-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $civictheme-primary-navigation-light-active-color;
              background-color: $civictheme-primary-navigation-light-menu-item-active-background-color;
            }
          }
        }
      }
    }

    #{$root}__has-dropdown {
      .civictheme-menu__sub-menu__wrapper--level-1 {
        background-color: $civictheme-primary-navigation-light-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .civictheme-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .civictheme-menu__item--level-1 {
          > .civictheme-link {
            color: $civictheme-primary-navigation-light-sub-menu-item-heading-hover-color;

            &:hover {
              color: $civictheme-primary-navigation-light-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $civictheme-primary-navigation-light-sub-menu-item-heading-active-color;
            }
          }
        }

        .civictheme-menu__item--level-2,
        .civictheme-menu__item--level-3,
        .civictheme-menu__item--level-4,
        .civictheme-menu__item--level-5 {
          > .civictheme-link {
            color: $civictheme-primary-navigation-light-sub-menu-item-color;
            background-color: $civictheme-primary-navigation-light-sub-menu-item-background-color;

            &:hover {
              color: $civictheme-primary-navigation-light-sub-menu-item-hover-color;
              background-color: $civictheme-primary-navigation-light-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $civictheme-primary-navigation-light-sub-menu-item-active-color;
              background-color: $civictheme-primary-navigation-light-sub-menu-item-active-background-color;
            }
          }

          &.civictheme-menu__item--active-trail {
            > .civictheme-link {
              background-color: $civictheme-primary-navigation-light-menu-item-active-trail-background-color;
              color: $civictheme-primary-navigation-light-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }

  &.civictheme-theme-dark {
    #{$root}__menu {
      .civictheme-menu__item {
        // Links - level 0.
        &--level-0 {
          border-bottom-color: $civictheme-primary-navigation-dark-menu-item-border-color;

          &:hover {
            background-color: $civictheme-primary-navigation-dark-menu-item-hover-background-color;
            border-bottom-color: $civictheme-primary-navigation-dark-menu-item-hover-border-color;
          }

          &:active {
            background-color: $civictheme-primary-navigation-dark-menu-item-active-background-color;
            border-bottom-color: $civictheme-primary-navigation-dark-menu-item-active-border-color;
          }

          &[data-collapsible] {
            border-bottom-color: $civictheme-primary-navigation-dark-border-color;

            &:hover {
              background-color: $civictheme-primary-navigation-dark-menu-item-hover-background-color;
              border-bottom-color: $civictheme-primary-navigation-dark-menu-item-hover-border-color;
            }

            &:active {
              background-color: $civictheme-primary-navigation-dark-menu-item-active-background-color;
              border-bottom-color: $civictheme-primary-navigation-dark-menu-item-active-border-color;
            }
          }

          &[data-collapsible-collapsed] {
            border-bottom-color: $civictheme-primary-navigation-dark-menu-item-border-color;
          }

          &.civictheme-menu__item--active-trail {
            border-bottom-color: $civictheme-primary-navigation-dark-border-color;
          }

          > .civictheme-link {
            background-color: $civictheme-primary-navigation-dark-menu-item-background-color;
            color: $civictheme-primary-navigation-dark-color;

            &:hover {
              color: $civictheme-primary-navigation-dark-hover-color;
              background-color: $civictheme-primary-navigation-dark-menu-item-hover-background-color;
            }

            &[aria-expanded='true'],
            &:active {
              color: $civictheme-primary-navigation-dark-active-color;
              background-color: $civictheme-primary-navigation-dark-menu-item-active-background-color;
            }
          }
        }
      }
    }

    #{$root}__has-dropdown {
      .civictheme-menu__sub-menu__wrapper--level-1 {
        background-color: $civictheme-primary-navigation-dark-sub-menu-background-color;

        // Reset some styles for all links in the dropdown.
        .civictheme-link {
          background: none;

          &:hover,
          &:active,
          &:focus {
            background: none;
          }
        }

        .civictheme-menu__item--level-1 {
          > .civictheme-link {
            color: $civictheme-primary-navigation-dark-sub-menu-item-heading-hover-color;

            &:hover {
              color: $civictheme-primary-navigation-dark-sub-menu-item-heading-hover-color;
            }

            &:active {
              color: $civictheme-primary-navigation-dark-sub-menu-item-heading-active-color;
            }
          }
        }

        .civictheme-menu__item--level-2,
        .civictheme-menu__item--level-3,
        .civictheme-menu__item--level-4,
        .civictheme-menu__item--level-5 {
          > .civictheme-link {
            color: $civictheme-primary-navigation-dark-sub-menu-item-color;
            background-color: $civictheme-primary-navigation-dark-sub-menu-item-background-color;

            &:hover {
              color: $civictheme-primary-navigation-dark-sub-menu-item-hover-color;
              background-color: $civictheme-primary-navigation-dark-sub-menu-item-hover-background-color;
            }

            &:active {
              color: $civictheme-primary-navigation-dark-sub-menu-item-active-color;
              background-color: $civictheme-primary-navigation-dark-sub-menu-item-active-background-color;
            }
          }

          &.civictheme-menu__item--active-trail {
            > .civictheme-link {
              background-color: $civictheme-primary-navigation-dark-menu-item-active-trail-background-color;
              color: $civictheme-primary-navigation-dark-menu-item-active-trail-color;
            }
          }
        }
      }
    }
  }
}
