{#
/**
 * @file
 * Demo Button component.
 *
 * Demonstration of adding a new atom-level component.
 *
 * This component is completely isolated from CivicTheme's Button component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Button text.
 * - disabled: [boolean] Disabled state.
 * - modifier_class: [string] Classes to modify the default component styling.
 */
#}
<button class="ct-button {{ modifier_class }}" data-component-name="demo-button" {{ disabled ? 'disabled' }}>Example button: {{ text }}</button>
