{#
/**
* @file
* Bais filter component.
*
* Variables:
* - theme: [string] theme: light, dark.
* - items: [array] Filter links
*    - url: [string] URL for the filter.
*    - text: [string] Link text.
*/
#}

{% set text = text|default('Skip to main content') %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}

{% if items is not empty %}
  <div class="civic-basic-filter {{ theme_class }}">
    <div class="civic-basic-filter__list">
      {% for itemObj in items %}
        <div class="civic-basic-filter__list--row">
          {% include '@atoms/filter-chip/filter-chip.twig' with {
            theme: theme,
            text: itemObj.text,
            is_multiple: is_multiple,
            name: is_multiple ? 'basic-filter-' ~ loop.index : 'basic-filter',
            id: 'chip-' ~ loop.index,
          } only %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
