{#
/**
* @file
* Basic Filter component.
*
* Variables:
* - theme: [string] Theme: light, dark.
* - items: [array] Filter links:
*   - text: [string] Link text.
*   - url: [string] URL.
* - is_multiple: [boolean] Allow to select multiple filter values.
* - modifier_class: [string] Additional classes.
*/
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="civic-basic-filter {{ modifier_class }}" data-component-name="civic-basic-filter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="civic-basic-filter__list">
          {% block filters %}
            {% for item in items %}
              {% if item.text is not empty %}
                <div class="civic-basic-filter__list--row">
                  {% include '@atoms/button/button.twig' with {
                    theme: theme,
                    type: 'chip',
                    kind: is_multiple ? 'checkbox': 'radio',
                    size: 'small',
                    text: item.text,
                    name: is_multiple ? 'basic-filter-' ~ loop.index : 'basic-filter',
                    id: 'chip-' ~ loop.index,
                  } only %}
                </div>
              {% endif %}
            {% endfor %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
