@use 'sass:string';

.story-colors-wrapper {
  display: flex;
  flex-flow: row wrap;

  $all-colors: _civic-colors-all();

  @include civic-generate-class-variations-from-map($all-colors, 'story-color') using($key, $value, $index) {
    $border-color: transparent;

    @if civic-color($key) == #fff or civic-color($key) == #0000 {
      $border-color: #ccd4d8;
    }

    width: 100px;
    height: 100px;
    margin: 0 8px 100px;
    border: 1px solid $border-color;
    border-radius: 12px;
    position: relative;
    background-color: civic-color($key);

    $content: string.to-upper-case(string.slice($key, 1, 1)) + string.slice($key, 2) + '\A' + string.to-upper-case(#{$value});

    &::after {
      content: '#{$content}';
      text-align: center;
      display: block;
      padding: 1em 0;
      position: absolute;
      top: 100%;
      font-family: 'Courier New', monospace, sans-serif;
      font-size: 80%;
      line-height: 150%;
    }
  }
}
