//
// Video.
//
@import '../../00-base/base';

.civic-video {
  $root: &;

  &__iframe-container {
    position: relative;
    padding-bottom: $civic-video-padding-bottom;
    padding-top: civic-space(3);
    height: 0;
    overflow: hidden;
  }

  &__links {
    display: flex;
    margin-top: civic-space(4);

    @include civic-breakpoint(m) {
      margin-top: civic-space(3);
    }

    .civic-link {
      @include civic-typography((
        'xxs': (14px, 23px, 600, 'secondary', 0),
        'm': (16px, 26px, 600, 'secondary', 0),
      ));

      &.civic-theme-light {
        color: $civic-video-light-link-color;

        &:hover {
          color: $civic-video-light-link-hover-color;
        }
      }

      &.civic-theme-dark {
        color: $civic-video-dark-link-color;

        &:hover {
          color: $civic-video-dark-link-hover-color;
        }
      }
    }
  }

  &__transcript {
    padding-right: civic-space(2);

    @include civic-breakpoint(m) {
      padding-right: civic-space(3);
    }
  }

  &__transcript,
  &__share {
    & .civic-video__action-icon {
      #{$root}.civic-theme-light & {
        fill: $civic-video-light-icon-color;
      }
      #{$root}.civic-theme-dark & {
        fill: $civic-video-dark-icon-color;
      }
    }
  }

  iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .civic-icon {
    vertical-align: middle;
  }
}
