//
// CivicTheme Quote component.
//

.ct-quote {
  $root: &;

  @include ct-reset-box-model();
  @include ct-highlight-stripe-vertical($ct-quote-border-width, 0, 0);

  position: relative;
  padding-left: ct-spacing(2);

  &__content {
    @include ct-typography('quote');

    margin-bottom: 0;
  }

  &__author {
    @include ct-typography('label-small');

    padding: 0 ct-spacing(3) ct-spacing(3);

    &::before {
      content: '-';
      margin-right: ct-spacing(0.5);
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);
    @include ct-component-property($root, $theme, body, color);
    @include ct-highlight-stripe-background-color(ct-component-var($root, $theme, stripe, background-color));

    #{$root}__author {
      @include ct-component-property($root, $theme, author, color);
    }
  }
}
