//
// Skip Link component.
//

.civictheme-skip-link {
  $root: &;

  &__link {
    display: inline-block;
    margin: civictheme-space(2) civictheme-space(3);
    padding: civictheme-space();
  }

  &.civictheme-theme-light {
    background-color: $civictheme-skip-link-light-background-color;
  }

  &.civictheme-theme-dark {
    background-color: $civictheme-skip-link-dark-background-color;
  }
}
