//
// Publication Card component.
//

@use 'sass:map';

.ct-publication-card {
  $root: &;

  position: relative;
  border-radius: $ct-publication-card-border-radius;
  overflow: hidden;
  width: 100%;

  @include ct-elevation(3);

  &:focus-within {
    @include ct-outline();
  }

  #{$root}__image-wrapper {
    position: relative;

    @include ct-image-fit();
  }

  #{$root}__content {
    padding: ct-spacing(3);
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  #{$root}__title {
    @include ct-typography('heading-5');

    margin-bottom: ct-spacing(2);
    display: flex;
    justify-content: space-between;
  }

  #{$root}__icon-wrapper {
    margin-left: ct-spacing(2);
  }

  #{$root}__summary {
    @include ct-typography(text-regular);

    padding-right: ct-spacing(3);
  }

  #{$root}__attachment-link {
    margin-top: ct-spacing(2);

    .ct-link--attachment {
      @include ct-link-decoration(true, true, true, true);
      @include ct-link-no-outline();
      @include ct-link-cover-parent();
      @include ct-typography('text-small');

      font-weight: 700 !important;
      word-break: break-word;
    }
  }

  #{$root}__content-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: ct-spacing(3);
  }

  &#{$root}--small {
    display: flex;
    flex-direction: column;

    #{$root}__image-wrapper {
      width: 100%;
      height: $ct-publication-card-image-height-mobile;

      @include ct-breakpoint('m') {
        height: $ct-publication-card-image-height-desktop;
      }
    }
  }

  &#{$root}--large {
    @include ct-breakpoint(m) {
      display: flex;
    }

    #{$root}__image-wrapper {
      @include ct-image-fit();

      height: $ct-publication-card-large-image-height-mobile;
      width: $ct-publication-card-large-image-width-mobile;

      @include ct-breakpoint(m) {
        height: $ct-publication-card-large-image-height-desktop;
        width: $ct-publication-card-large-image-width-desktop;
        flex-shrink: 0;
        max-width: 50%;
      }

      .ct-image {
        @include ct-breakpoint(m) {
          position: absolute;
        }
      }
    }
  }

  &.ct-theme-light {
    background-color: $ct-publication-card-light-background-color;

    &:focus {
      @include ct-outline(false);
    }

    #{$root}__icon--download {
      @include ct-icon-fill-color($ct-publication-card-light-icon-color);
    }

    #{$root}__title {
      color: $ct-publication-card-light-heading-color;
    }

    #{$root}__icon-wrapper {
      color: $ct-publication-card-light-attachment-icon-color;
    }

    #{$root}__summary {
      color: $ct-publication-card-light-color;
    }
  }

  &.ct-theme-dark {
    background-color: $ct-publication-card-dark-background-color;

    &:focus {
      @include ct-outline(true);
    }

    #{$root}__icon--download {
      @include ct-icon-fill-color($ct-publication-card-dark-icon-color);
    }

    #{$root}__title {
      color: $ct-publication-card-dark-heading-color;
    }

    #{$root}__icon-wrapper {
      color: $ct-publication-card-dark-attachment-icon-color;
    }

    #{$root}__summary {
      color: $ct-publication-card-dark-color;
    }
  }
}
