//
// Item List component.
//

@import '../mixins/reset';

.ct-item-list {
  $root: &;

  #{$root}__list {
    @include ct-reset-box-model();

    list-style: none;
  }

  &--horizontal {
    #{$root}__list {
      display: flex;
    }

    #{$root}__list__item {
      margin-right: ct-spacing(2);
    }

    &#{$root}--no-gutter {
      #{$root}__list__item {
        margin-right: 0;
      }
    }
  }

  &--vertical {
    #{$root}__list {
      display: inline-block;
    }

    #{$root}__list__item {
      margin-bottom: ct-spacing(2);
    }

    &#{$root}--no-gutter {
      #{$root}__list__item {
        margin-bottom: 0;
      }
    }
  }
}
