//
// Local tasks styles.
//
// Demonstration of Drupal block styles overrides where we override local tasks
// tabs size and colors.
//
// Note how variables are included from the 'components_combined' directory.
// This is because we are relying on the merged variables values from the
// CivicTheme and current theme.
@import 'components_combined/00-base/variables';

.block-local-tasks-block {
  .ct-link-list--local-tasks {
    padding: ct-spacing(4) 0 ct-spacing(4);

    &.ct-theme-light {
      background-color: ct-color-light('background');
    }

    &.ct-theme-dark {
      background-color: ct-color-dark('background');
    }
  }
}
