//
// Select component.
//

.civictheme-select {
  $root: &;

  @include civictheme-typography('text-regular');

  display: block;
  font-weight: 600;
  margin: 0 auto 0.5rem;
  padding: civictheme-space(1.5) civictheme-space(3) civictheme-space(1.5) civictheme-space(2);

  &.civictheme-theme-light {
    color: $civictheme-select-light-color;
    background-color: $civictheme-select-light-background-color;
    border-color: $civictheme-input-light-border-color;

    &:hover {
      box-shadow: 0 0 0 1px $civictheme-select-light-hover-border-color;
    }

    &:focus {
      border-color: $civictheme-select-light-focus-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-light-focus-border-color;
    }

    &.error,
    &.civictheme-input--error {
      border-color: $civictheme-select-light-error-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-light-error-border-color;
    }

    &.civictheme-input--success {
      border-color: $civictheme-select-light-success-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-light-success-border-color;
    }

    &.disabled {
      pointer-events: none;
      opacity: 50%;
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-select-dark-color;
    background-color: $civictheme-select-dark-background-color;
    border-color: $civictheme-input-dark-border-color;

    &:hover {
      border-color: $civictheme-select-dark-hover-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-hover-border-color;
    }

    &:focus {
      border-color: $civictheme-select-dark-focus-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-focus-border-color;
    }

    &:invalid,
    &.error,
    &.civictheme-input--error {
      border-color: $civictheme-select-dark-error-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-error-border-color;
    }

    &:valid,
    &.civictheme-input--success {
      border-color: $civictheme-select-dark-success-border-color;
      box-shadow: 0 0 0 1px $civictheme-select-dark-success-border-color;
    }

    &.disabled {
      pointer-events: none;
      opacity: 50%;
    }
  }
}
