//
// Flyout component.
//

#flyout-example1 {
  [data-flyout-panel] {
    box-shadow: 0 0 1px 1px #f00 inset;
    padding: civictheme-space(2);
  }
}

#flyout-example2 {
  [data-flyout-panel] {
    box-shadow: 0 0 1px 1px #00f inset;
    padding: civictheme-space(2);
  }
}

#flyout-example3 {
  [data-flyout-panel] {
    box-shadow: 0 0 1px 1px #0f0 inset;
    padding: civictheme-space(2);
  }
}

#flyout-example4 {
  [data-flyout-panel] {
    box-shadow: 0 0 1px 1px #c95100 inset;
    padding: civictheme-space(2);
  }
}

#flyout-example5 {
  [data-flyout-panel] {
    box-shadow: 0 0 1px 1px #b388ff inset;
    padding: civictheme-space(2);
  }
}
