//
// Password Indicator.
//

.civic-password-indicator {
  $root: &;

  &--weak {
    #{$root}__progress-bar {
      width: 25%;
    }
  }

  &--fair {
    #{$root}__progress-bar {
      width: 50%;
    }
  }

  &--good {
    #{$root}__progress-bar {
      width: 75%;
    }
  }

  &--strong {
    #{$root}__progress-bar {
      width: 100%;
    }
  }

  &__progress {
    width: rem(308px);
    height: rem(3px);
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-mask-image: $civic-password-indicator-progress-mask;
    mask-image: $civic-password-indicator-progress-mask;
    margin-top: civic-space(2);
    position: relative;
  }

  &__progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    transition: 1s width, background-color;
  }

  &__status {
    @include civic-typography('label-small');

    margin-top: civic-space();

    &::before {
      content: '';
      width: rem(24px);
      height: rem(24px);
      display: inline-block;
      vertical-align: middle;
      margin-right: civic-space();
    }
  }

  &__message {
    @include civic-typography('label-small');

    padding: civic-space() 0;

    ul {
      margin: civic-space() 0;
      padding: 0;
      padding-left: civic-space(2);
    }
  }

  &.civic-theme-light {
    &#{$root}--weak {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-light-weak-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-light-weak-color);
        }
      }
    }

    &#{$root}--fair {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-light-fair-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-light-fair-color);
        }
      }
    }

    &#{$root}--good {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-light-good-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-light-good-color);
        }
      }
    }

    &#{$root}--strong {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-light-great-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-light-great-color);
        }
      }
    }

    #{$root}__progress {
      background-color: $civic-password-indicator-light-progress-background-color;
    }
  }

  &.civic-theme-dark {
    &#{$root}--weak {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-dark-weak-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-dark-weak-color);
        }
      }
    }

    &#{$root}--fair {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-dark-fair-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-weak-icon, $civic-password-indicator-dark-fair-color);
        }
      }
    }

    &#{$root}--good {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-dark-good-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-dark-good-color);
        }
      }
    }

    &#{$root}--strong {
      #{$root}__progress-bar {
        background-color: $civic-password-indicator-dark-great-color;
      }

      #{$root}__status {
        &::before {
          background-image: civic-color-svg-fill($civic-password-indicator-strong-icon, $civic-password-indicator-dark-great-color);
        }
      }
    }

    #{$root}__progress {
      background-color: $civic-password-indicator-dark-progress-background-color;
    }
  }
}
