//
// Heading.
//
@import '../../00-base/base';

.civic-image {
  border-radius: $civic-image-border-radius;
  margin: 0;

  &.civic-theme-light {
    color: $civic-image-caption-light-color;

    svg path {
      fill: $civic-image-caption-light-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-image-caption-dark-color;

    svg path {
      fill: $civic-image-caption-dark-color;
    }
  }
}
