//
// Heading.
//

.civic-image {
  $root: &;

  margin: 0;
  border-radius: $civic-image-border-radius;

  &.civic-theme-light {
    color: $civic-image-caption-light-color;
  }

  &.civic-theme-dark {
    color: $civic-image-caption-dark-color;
  }

  &__caption {
    @include civic-typography('label-small');

    .civic-icon {
      #{$root}.civic-theme-light & {
        fill: $civic-image-caption-icon-light-color;
      }

      #{$root}.civic-theme-dark & {
        fill: $civic-image-caption-icon-dark-color;
      }
    }
  }
}
