//
// Alert component.
//

@use 'sass:map';

.ct-alert {
  $root: &;

  position: relative;
  padding: ct-spacing(2);

  @include ct-breakpoint('m') {
    padding: ct-spacing(3);
  }

  @include ct-typography('label-small');

  border-bottom: ct-particle(0.125) solid;

  &:last-child {
    border-bottom: none;
  }

  #{$root}__title {
    @include ct-typography('heading-6');

    display: flex;
    align-items: center;

    @include ct-breakpoint-upto('m') {
      margin-bottom: ct-spacing();
    }
  }

  #{$root}__icon {
    width: ct-particle(3);
    margin-right: ct-spacing();

    @include ct-breakpoint('m') {
      margin-right: ct-spacing(2);
    }
  }

  .ct-icon {
    width: ct-particle(3);
    height: ct-particle(3);
  }

  #{$root}__summary {
    display: flex;
    align-items: center;

    @include ct-breakpoint(m) {
      position: relative;
    }
  }

  #{$root}__dismiss-button {
    cursor: pointer;
    margin-left: ct-spacing(3);
    position: absolute;
    top: ct-spacing(2);
    right: ct-spacing(2);
    background-color: transparent;
    padding: 0;

    @include ct-breakpoint(m) {
      position: static;
      align-self: center;
      margin-left: auto;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    $types: ('information', 'warning', 'error', 'success');

    @each $type in $types {
      &#{$root}--#{$type} {
        @include ct-component-property($root, $theme, $type, background-color);
        @include ct-component-property($root, $theme, $type, color);

        border-color: ct-component-var($root, $theme, $type, divider, color);

        #{$root}__dismiss-button,
        #{$root}__icon {
          .ct-icon {
            @include ct-component-property($root, $theme, $type, icon, color);
          }
        }
      }
    }
  }
}
