//
// Iframe component.
//

.ct-iframe {
  $root: &;

  border: 0;

  &#{$root}--with-background {
    padding-left: $ct-iframe-space-horizontal;
    padding-right: $ct-iframe-space-horizontal;
  }

  &:not([width]) {
    width: 100%;
  }

  &:not([height]) {
    height: 100%;
  }

  @include ct-component-theme($root) using($root, $theme) {
    &.ct-iframe--with-background {
      @include ct-component-property($root, $theme, wrapper, background-color);
    }
  }
}
