//
// Iframe component.
//

.ct-iframe {
  $root: &;

  border: 0;

  &:not([width]) {
    width: 100%;
  }

  &:not([height]) {
    height: 100%;
  }

  @include ct-component-theme($root) using($root, $theme) {
    &.ct-iframe--with-background {
      @include ct-component-property($root, $theme, background-color);
      @include ct-component-property($root, $theme, padding-left);
      @include ct-component-property($root, $theme, padding-right);
    }
  }
}
