//
// Directional Link component.
//

.civictheme-directional-link {
  $root: &;

  padding: civictheme-space(2) civictheme-space(3);

  @include civictheme-typography('text-regular');

  display: flex;
  text-decoration: none;

  .civictheme-icon {
    margin-left: civictheme-space();
    padding: $civictheme-directional-icon-padding;

    &--left {
      order: -1;
      margin-left: 0;
      margin-right: civictheme-space();
    }
  }

  &.civictheme-theme-light {
    color: $civictheme-directional-link-light-color;

    .civictheme-icon {
      fill: $civictheme-directional-link-light-color;
    }

    &:focus {
      @include civictheme-outline();
    }

    &:hover {
      color: $civictheme-directional-link-light-hover-color;

      .civictheme-icon {
        fill: $civictheme-directional-link-light-hover-color;
      }
    }

    &#{$root}--disabled {
      &,
      &:hover {
        color: $civictheme-directional-link-light-disabled-color;

        .civictheme-icon {
          fill: $civictheme-directional-link-light-disabled-color;
        }
      }
    }
  }

  &.civictheme-theme-dark {
    color: $civictheme-directional-link-dark-color;

    .civictheme-icon {
      fill: $civictheme-directional-link-dark-color;
    }

    &:focus {
      @include civictheme-outline(true);
    }

    &:hover {
      color: $civictheme-directional-link-dark-hover-color;

      .civictheme-icon {
        fill: $civictheme-directional-link-dark-hover-color;
      }
    }

    &#{$root}--disabled {
      &,
      &:hover {
        color: $civictheme-directional-link-dark-disabled-color;

        .civictheme-icon {
          fill: $civictheme-directional-link-dark-disabled-color;
        }
      }
    }
  }
}
