//
// Icon mixins.
//

@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

//
// Get icon size at breakpoint.
//
@function ct-icon-size-dimension($size, $breakpoint, $dimension) {
  $all-icon-sizes: _ct-icon-sizes-all();

  @if map.get($all-icon-sizes, $size) == null {
    @error '"#{$size}" is not an available size.';
  }

  $size-at-breakpoints: map.get($all-icon-sizes, $size);

  @if map.get($size-at-breakpoints, $breakpoint) == null {
    @error '"#{$breakpoint}" is not an available breakpoint for size #{$size}.';
  }

  $dimensions: map.get($size-at-breakpoints, $breakpoint);

  @if list.length($dimensions) != 2 {
    @error 'Dimenstions list must contain exactly 2 entries for icon size #{$size} at breakpoint #{$breakpoint}.';
  }

  $value: '';

  @if $dimension == 'width' {
    $value: list.nth($dimensions, 1);
  }
  @else if $dimension == 'height' {
    $value: list.nth($dimensions, 2);
  }

  @if ct-string-is-quoted($value) {
    $value: string.unquote($value);
  }

  @if $value {
    // @todo Review and replace this to use rem() in source variables.
    @return rem($value);
  }

  @error '"#{$dimension}" is not an available dimension for size #{$size} at breakpoint #{$breakpoint}.';
}

//
// Compile all icon symbols into a single map.
//
// stylelint-disable-next-line scss/at-function-pattern
@function _ct-icon-symbols-all() {
  @return map.merge($ct-icon-symbols-default, $ct-icon-symbols);
}

//
// Compile all icon sizes into a single map.
//
// Do not use directly.
// Use @include ct-icon-size-dimension() function instead.
//
// stylelint-disable-next-line scss/at-function-pattern
@function _ct-icon-sizes-all() {
  @return map.merge($ct-icon-sizes-default, $ct-icon-sizes);
}

//
// Include icon width, height for one-to-many breakpoints.
//
// @include ct-icon-size('regular');
//
@mixin ct-icon-size($size) {
  $all-icon-sizes: _ct-icon-sizes-all();

  @if map.get($all-icon-sizes, $size) == null {
    @error '"#{$size}" is not an available size.';
  }

  $size-at-breakpoints: map.get($all-icon-sizes, $size);
  $breakpoints: map.keys($size-at-breakpoints);

  @each $breakpoint in $breakpoints {
    @include ct-breakpoint($breakpoint) {
      width: ct-icon-size-dimension($size, $breakpoint, 'width');
      height: ct-icon-size-dimension($size, $breakpoint, 'height');
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-mask-size: ct-icon-size-dimension($size, $breakpoint, 'width'), ct-icon-size-dimension($size, $breakpoint, 'height');
      mask-size: ct-icon-size-dimension($size, $breakpoint, 'width'), ct-icon-size-dimension($size, $breakpoint, 'height');
    }
  }
}

//
// Fill icon color.
//
@mixin ct-icon-fill-color($color, $self: false) {
  @if $self {
    &.ct-icon {
      fill: $color;
    }
  }
  @else {
    .ct-icon {
      fill: $color;
    }
  }
}

//
// Fill icon for Collapsible.
//
@mixin ct-icon-collapsible($color, $self: false) {
  @if $self {
    &[data-collapsible-trigger] {
      &::after {
        content: ct-color-svg-fill($ct-collapsible-icon, $color);
      }
    }
  }
  @else {
    [data-collapsible-trigger] {
      &::after {
        content: ct-color-svg-fill($ct-collapsible-icon, $color);
      }
    }
  }
}
