//
// Table mixins.
//

@mixin civictheme-table() {
  $root: &;

  width: 100%;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  text-align: left;
  vertical-align: middle;

  @include civictheme-typography('text-regular');

  @include civictheme-breakpoint-upto($civictheme-table-breakpoint) {
    thead,
    tfoot {
      @include civictheme-visually-hidden();
    }

    tbody {
      tr {
        display: flex;
        flex-direction: column;
        width: 100%;

        td {
          border: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: stretch;

          &:first-of-type::after {
            visibility: hidden;
          }

          &::after {
            content: '';
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
          }

          &::before {
            content: attr(data-title);
            display: table-cell;
            height: 100%;
            width: 30%;
            max-width: civictheme-space(12);
            flex-shrink: 0;
            vertical-align: middle;
            padding-right: civictheme-space(2);

            @include civictheme-typography('label-regular');
          }
        }
      }
    }
  }

  thead,
  tfoot {
    @include civictheme-typography('label-regular');
  }

  tr {
    th,
    td {
      padding: civictheme-space(1.5) civictheme-space();

      @include civictheme-breakpoint($civictheme-table-breakpoint) {
        padding: civictheme-space(1.5) civictheme-space(3);
      }
    }
  }

  caption {
    text-align: left;
    padding: civictheme-space(1.5) 0;

    @include civictheme-typography('label-large');

    @include civictheme-breakpoint($civictheme-table-breakpoint) {
      padding: civictheme-space(1.5) 0;
    }
  }

  &#{$root}--caption-after {
    caption-side: bottom;

    caption {
      @include civictheme-typography('text-regular');
    }
  }
}

@mixin civictheme-table-light() {
  color: $civictheme-table-light-color;
  background-color: $civictheme-table-light-background-color;

  thead {
    color: $civictheme-table-light-header-color;

    @include civictheme-breakpoint($civictheme-table-breakpoint) {
      border-bottom: solid 1px $civictheme-table-light-header-border-color;
    }

    tr {
      &:last-child {
        border-bottom: solid 2px $civictheme-table-light-header-border-color;
      }
    }
  }

  tfoot {
    color: $civictheme-table-light-footer-color;

    @include civictheme-breakpoint($civictheme-table-breakpoint) {
      border-top: solid 1px $civictheme-table-light-footer-border-color;
    }

    tr {
      &:last-child {
        border-top: solid 2px $civictheme-table-light-footer-border-color;
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px $civictheme-table-light-border-color;
    }
  }

  caption {
    color: $civictheme-table-light-caption-color;
  }

  &.civictheme-table--striped {
    tbody {
      tr:nth-child(odd) {
        background: $civictheme-table-light-row-odd-background-color;

        td {
          color: $civictheme-table-light-row-odd-color;
        }
      }

      tr:nth-child(even) {
        background: $civictheme-table-light-row-even-background-color;

        td {
          color: $civictheme-table-light-row-even-color;
        }
      }
    }
  }
}

@mixin civictheme-table-dark() {
  color: $civictheme-table-dark-color;
  background-color: $civictheme-table-dark-background-color;

  thead {
    color: $civictheme-table-dark-header-color;

    @include civictheme-breakpoint($civictheme-table-breakpoint) {
      border-bottom: solid 1px $civictheme-table-dark-header-border-color;
    }

    tr {
      &:last-child {
        border-bottom: solid 2px $civictheme-table-dark-header-border-color;
      }
    }
  }

  tfoot {
    color: $civictheme-table-dark-footer-color;

    @include civictheme-breakpoint($civictheme-table-breakpoint) {
      border-top: solid 1px $civictheme-table-dark-footer-border-color;
    }

    tr {
      &:last-child {
        border-top: solid 2px $civictheme-table-dark-footer-border-color;
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px $civictheme-table-dark-border-color;
    }
  }

  caption {
    color: $civictheme-table-dark-caption-color;
  }

  &.civictheme-table--striped {
    tbody {
      tr:nth-child(odd) {
        background: $civictheme-table-dark-row-odd-background-color;

        td {
          color: $civictheme-table-dark-row-odd-color;
        }
      }

      tr:nth-child(even) {
        background: $civictheme-table-dark-row-even-background-color;

        td {
          color: $civictheme-table-dark-row-even-color;
        }
      }
    }
  }
}
