//
// Visibility mixins.
//

//
// Make element visually hidden but readable by screen readers.
//
@mixin ct-visually-hidden() {
  position: absolute !important;
  clip: rect(ct-particle(0.125), ct-particle(0.125), ct-particle(0.125), ct-particle(0.125));
  overflow: hidden;
  height: ct-particle(0.125);
  width: ct-particle(0.125);
  word-wrap: normal;

  &.ct-focusable {
    &:active,
    &:focus,
    &:hover {
      position: static !important;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
    }
  }
}
