//
// Collapsible utility component.
//
@use 'sass:list';
@use 'sass:map';
@import '../../00-base/base';

[data-collapsible='true'] {
  [data-collapsible-trigger] {
    cursor: pointer;
    padding-right: list.nth(map.get(map.get($civic-icon-sizes, 'regular'), $civic-collapsible-icon-size), 1);
    display: block;
    position: relative;

    &::after {
      @include civic-icon-size('regular');

      content: $civic-collapsible-icon;
      position: absolute;
      right: 0;
      transform: rotate(-180deg);
      transition: transform 0.5s;
      line-height: 0;
    }
  }

  &[data-collapsible-collapsed] {
    [data-collapsible-trigger] {
      &::after {
        transform: rotate(0deg);
      }
    }
  }

  &.civic-theme-light {
    color: $civic-collapsible-light-color;

    [data-collapsible-trigger] {
      border-top: solid 1px $civic-collapsible-light-border-color;

      &::after {
        content: civic-svg-fill($civic-collapsible-icon, $civic-collapsible-light-icon-color);
      }
    }

    &.civic-collapsible--last {
      border-bottom: solid 1px $civic-collapsible-light-border-color;
    }
  }

  &.civic-theme-dark {
    color: $civic-collapsible-dark-color;

    [data-collapsible-trigger] {
      border-top: solid 1px $civic-collapsible-dark-border-color;

      &::after {
        content: civic-svg-fill($civic-collapsible-icon, $civic-collapsible-dark-icon-color);
      }
    }

    &.civic-collapsible--last {
      border-bottom: solid 1px $civic-collapsible-dark-border-color;
    }
  }
}
