//
// Collapsible utility component.
//
@use 'sass:list';
@use 'sass:map';

[data-collapsible='true'] {
  [data-collapsible-trigger] {
    cursor: pointer;
  }

  &:not([data-collapsible-trigger-no-icon]) {
    [data-collapsible-trigger] {
      padding-right: civic-icon-size-dimension('regular', $civic-collapsible-icon-size, 'width');
      position: relative;

      &::after {
        @include civic-icon-size('regular');

        content: $civic-collapsible-icon;
        position: absolute;
        right: 0;
        transform: rotate(-180deg);
        line-height: 0;
      }
    }
  }

  &:not([data-collapsible-duration='0']) {
    [data-collapsible-trigger] {
      &::after {
        transition: transform 0.5s;
      }
    }
  }

  &[data-collapsible-collapsing] {
    [data-collapsible-trigger] {
      &::after {
        transform: rotate(0deg);
      }
    }

    &[data-collapsible-collapsed] {
      [data-collapsible-trigger] {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &[data-collapsible-collapsed] {
    [data-collapsible-trigger] {
      &::after {
        transform: rotate(0deg);
      }
    }

    [data-collapsible-panel] {
      height: 0;
      overflow: hidden;
    }
  }

  &.civic-theme-light {
    color: $civic-collapsible-light-color;

    &:not([data-collapsible-trigger-no-icon]) {
      [data-collapsible-trigger] {
        &::after {
          content: civic-color-svg-fill($civic-collapsible-icon, $civic-collapsible-light-icon-color);
        }
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-collapsible-dark-color;

    &:not([data-collapsible-trigger-no-icon]) {
      [data-collapsible-trigger] {
        &::after {
          content: civic-color-svg-fill($civic-collapsible-icon, $civic-collapsible-dark-icon-color);
        }
      }
    }
  }
}
