{#
/**
 * @file
 * Collapsible component story.
 *
 * Variables:
 * - collapsed: [boolean] Component default state.
 */
#}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}

<div data-collapsible data-collapsible-collapsed>
  <div data-collapsible-trigger>
    Collapsible demo trigger - initially collapsed
  </div>
  <div data-collapsible-panel>
    Collapsible demo panel Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur harum magnam modi obcaecati vitae voluptatibus! Accusamus
    atque deleniti, distinctio esse facere, nam odio officiis omnis porro
    quibusdam quis repudiandae veritatis.
  </div>
</div>

<hr/>

<div data-collapsible>
  <div data-collapsible-trigger>
    Collapsible demo trigger - initially expanded
  </div>
  <div data-collapsible-panel>
    Collapsible demo panel Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur harum magnam modi obcaecati vitae voluptatibus! Accusamus
    atque deleniti, distinctio esse facere, nam odio officiis omnis porro
    quibusdam quis repudiandae veritatis.
  </div>
</div>

<hr/>

<div data-collapsible>
  <div>
    Collapsible demo trigger - minimal data attributes
  </div>
  <div>
    Collapsible demo panel Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur harum magnam modi obcaecati vitae voluptatibus! Accusamus
    atque deleniti, distinctio esse facere, nam odio officiis omnis porro
    quibusdam quis repudiandae veritatis.
  </div>
</div>

<hr/>

<div data-collapsible class="{{ theme_class }}">
  <div>
    Collapsible demo trigger - themed
  </div>
  <div>
    Collapsible demo panel Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Consectetur harum magnam modi obcaecati vitae voluptatibus! Accusamus
    atque deleniti, distinctio esse facere, nam odio officiis omnis porro
    quibusdam quis repudiandae veritatis.
  </div>
</div>
