//
// Callout.
//

@import '../../00-base/base';

.civic-callout {
  border-radius: $civic-border-radius;
  border-left: rem(6px) civic-color('secondary') solid;
  display: flex;
  flex-direction: column;
  padding: civic-space(3) civic-space(3);
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0;

  @include civic-breakpoint(m) {
    padding: civic-space(3) civic-space(5) civic-space(4) civic-space(3);
  }

  &__summary {
    margin-top: civic-space(2);

    @include civic-typography((
      'xs': (14px, 25px, 400),
      'l': (16px, 28px, 400)
    ));
  }

  &__title {
    @include civic-typography('heading-4');
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    flex-wrap: wrap;

    @include civic-breakpoint(m) {
      flex-direction: row;
    }

    a {
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: civic-space() 0;

      @include civic-breakpoint(m) {
        margin: civic-space() civic-space() 0 0;
      }
    }

    &:last-child {
      @include civic-breakpoint(m) {
        margin: civic-space() 0 0 0;
      }
    }
  }

  &.civic-theme-light {
    background-color: $civic-callout-light-background-color;
    color: $civic-callout-light-color;

    .civic-callout {
      &__title {
        color: $civic-callout-light-heading-color;
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-callout-dark-background-color;
    color: $civic-callout-dark-color;

    .civic-callout {
      &__title {
        color: $civic-callout-dark-heading-color;
      }
    }
  }
}
