//
// Basic Content component.
//

.civic-basic-content {
  @include civic-content();

  &.civic-content--vertical-space-top {
    @include civic-component-with-vertical-space(top, $civic-basic-content-space-vertical);
  }

  &.civic-content--vertical-space-bottom {
    @include civic-component-with-vertical-space(bottom, $civic-basic-content-space-vertical);
  }

  &.civic-content--vertical-space-both {
    @include civic-component-with-vertical-space(both, $civic-basic-content-space-vertical);
  }

  &.civic-theme-light {
    @include civic-content-light();

    &.civic-content--with-background {
      background-color: $civic-basic-content-light-wrapper-background-color;
      padding-left: $civic-basic-content-space-horizontal;
      padding-right: $civic-basic-content-space-horizontal;
    }
  }

  &.civic-theme-dark {
    @include civic-content-dark();

    &.civic-content--with-background {
      background-color: $civic-basic-content-dark-wrapper-background-color;
      padding-left: $civic-basic-content-space-horizontal;
      padding-right: $civic-basic-content-space-horizontal;
    }
  }
}
