//
// Basic Content component.
//

@import '../../00-base/base';

.civic-basic-content {
  $root: &;

  @include civic-typography('body');

  &.civic-theme-light {
    background-color: $civic-basic-content-light-background-color;
    color: $civic-basic-content-light-base-color;

    h1 {
      color: $civic-basic-content-light-heading-1-color;
    }

    h2 {
      color: $civic-basic-content-light-heading-2-color;
    }

    h3 {
      color: $civic-basic-content-light-heading-3-color;
    }

    h4 {
      color: $civic-basic-content-light-heading-4-color;
    }

    h5 {
      color: $civic-basic-content-light-heading-5-color;
    }

    h6 {
      color: $civic-basic-content-light-heading-6-color;
    }

    blockquote {
      color: $civic-basic-content-light-blockquote-color;

      &::before {
        background-color: $civic-basic-content-light-blockquote-block;
      }
    }

    ul {
      li {
        color: $civic-basic-content-light-ul-li-color;

        &::before {
          background-color: $civic-basic-content-light-ul-li-marker-color;
        }
      }
    }

    ol {
      li {
        color: $civic-basic-content-light-ol-li-color;

        &::before {
          color: $civic-basic-content-light-ol-li-marker-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-basic-content-dark-background-color;
    color: $civic-basic-content-dark-base-color;

    h1 {
      color: $civic-basic-content-dark-heading-1-color;
    }

    h2 {
      color: $civic-basic-content-dark-heading-2-color;
    }

    h3 {
      color: $civic-basic-content-dark-heading-3-color;
    }

    h4 {
      color: $civic-basic-content-dark-heading-4-color;
    }

    h5 {
      color: $civic-basic-content-dark-heading-5-color;
    }

    h6 {
      color: $civic-basic-content-dark-heading-6-color;
    }

    blockquote {
      color: $civic-basic-content-dark-blockquote-color;

      &::before {
        background-color: $civic-basic-content-dark-blockquote-block;
      }
    }

    ul {
      li {
        color: $civic-basic-content-dark-ul-li-color;

        &::before {
          background-color: $civic-basic-content-dark-ul-li-marker-color;
        }
      }
    }

    ol {
      li {
        color: $civic-basic-content-dark-ol-li-color;

        &::before {
          color: $civic-basic-content-dark-ol-li-marker-color;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    @include civic-typography('heading-1');

    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(4);
    }
  }

  h2 {
    @include civic-typography('heading-2');

    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(4);
    }
  }

  h3 {
    @include civic-typography('heading-3');

    margin-bottom: civic-space(2);

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(3);
    }
  }

  h4 {
    @include civic-typography('heading-4');

    margin-bottom: civic-space(2);

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(3);
    }
  }

  h5 {
    @include civic-typography('heading-5');

    margin-bottom: civic-space();

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(2);
    }
  }

  h6 {
    @include civic-typography('heading-6');

    margin-bottom: civic-space();

    @include civic-breakpoint('m') {
      margin-bottom: civic-space(2);
    }
  }

  p {
    margin-top: $civic-basic-content-vertical-spacing;
    margin-bottom: $civic-basic-content-vertical-spacing;
  }

  blockquote {
    @include civic-typography('quote');

    position: relative;
    margin: 0;
    margin-top: $civic-basic-content-vertical-spacing;
    margin-bottom: $civic-basic-content-vertical-spacing;
    padding: civic-space(2) civic-space(3);

    &::before {
      content: '';
      width: rem(6px);
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-radius: $civic-border-radius;
    }
  }

  ul {
    margin-top: $civic-basic-content-vertical-spacing;
    margin-bottom: $civic-basic-content-vertical-spacing;
    padding: 0;
    list-style: none;

    li {
      @include civic-typography('unordered-list');

      position: relative;
      padding-left: $civic-basic-content-list-marker-width + $civic-basic-content-list-marker-margin;

      &::before {
        content: '';
        position: absolute;
        text-align: center;
        width: rem(7px);
        height: rem(7px);
        border-radius: 100%;
        top: rem(11px);
        left: rem(11px);
      }
    }
  }

  ol {
    margin-top: $civic-basic-content-vertical-spacing;
    margin-bottom: $civic-basic-content-vertical-spacing;
    counter-reset: ordered_counter;
    padding: 0;
    list-style: none;

    li {
      @include civic-typography('ordered-list');

      counter-increment: ordered_counter;
      padding-left: $civic-basic-content-list-marker-width + $civic-basic-content-list-marker-margin;

      &::before {
        content: counter(ordered_counter);
        display: inline-block;
        text-align: center;
        width: $civic-basic-content-list-marker-width;
        margin-left: -$civic-basic-content-list-marker-width - $civic-basic-content-list-marker-margin;
        margin-right: $civic-basic-content-list-marker-margin;
      }
    }
  }

  img {
    max-width: 100%;
    margin-top: $civic-basic-content-vertical-spacing * 2;
    margin-bottom: $civic-basic-content-vertical-spacing * 2;
  }

  figure {
    margin-top: $civic-basic-content-vertical-spacing * 2;
    margin-bottom: $civic-basic-content-vertical-spacing * 2;

    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
