{#
/**
 * @file
 * Basic Content component.
 *
 * Variables:
 * - theme: [string] theme: light, dark.
 * - content: [string] Raw content.
 * - modifier_class: [string] Additional classes to modify component styling.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if content is not empty %}
  <div class="civic-basic-content {{ modifier_class }}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{ content|raw }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
