{% for content in contents %}
  <div class="example-container">
    {% set trigger_attributes = 'data-popover data-popover-trigger data-popover-trigger-event="' ~ trigger_event ~ '" data-popover-trigger-id="data-popover-' ~ loop.index ~ '"' %}
    {% include '@atoms/link/link.twig' with {
      theme: theme,
      text: trigger_text,
      attributes: trigger_attributes,
    } only %}
    {% include '@atoms/popover/popover.twig' with {
        theme: theme,
        content: content,
        data_popover_id: 'data-popover-' ~ loop.index,
        attributes: attributes,
        modifier_class: modifier_class,
    } only %}
  </div>
{% endfor %}
