//
// Tooltip component.
//

@use 'sass:math';

[data-popover] {
  $root: &;

  display: inline-block;
  position: relative;

  [data-popover-trigger] {
    appearance: none;
    border: 0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 0;

    &:focus {
      @include ct-outline(true);
    }
  }

  [data-popover-content] {
    @include ct-elevation(4);

    display: flex;
    align-items: center;
    border-radius: $ct-popover-description-border-radius;
    border: solid ct-particle(0.125) transparent;
    position: absolute;
    min-width: $ct-popover-width;
    min-height: ct-particle(12);
    z-index: $ct-popover-z-index;
    padding: ct-spacing(2);

    @include ct-breakpoint('m') {
      padding: ct-spacing(3);
    }
  }

  &:not([data-popover-visible]) {
    [data-popover-content] {
      @include ct-visually-hidden();
    }
  }

  &.ct-theme-light {
    [data-popover-trigger] {
      color: $ct-tooltip-light-trigger-color;
    }

    [data-popover-content] {
      background-color: $ct-popover-light-content-background-color;
      border-color: $ct-popover-light-content-border-color;
    }
  }

  &.ct-theme-dark {
    [data-popover-trigger] {
      color: $ct-tooltip-dark-trigger-color;
    }

    [data-popover-content] {
      background-color: $ct-popover-dark-content-background-color;
      border-color: $ct-popover-dark-content-border-color;
    }
  }
}
