//
// Callout.
//

@import '../../00-base/base';

.civic-promo-card {
  $root: &;

  position: relative;
  border-radius: $civic-border-radius;

  @include civic-box-shadow();

  &:focus-within {
    @include civic-outline();
  }

  &#{$root}--no-image {
    border-top-width: rem(6px);
    border-top-style: solid;

    &.civic-theme-light {
      border-top-color: $civic-promo-card-light-border-top-color;
    }

    &.civic-theme-dark {
      border-top-color: $civic-promo-card-dark-border-top-color;
    }
  }

  #{$root}__image-wrapper {
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  #{$root}__content {
    padding: civic-space(3);
  }

  #{$root}__date {
    @include civic-typography(small);

    margin-bottom: civic-space(2);
  }

  #{$root}__title {
    @include civic-typography(heading-5);

    margin-bottom: civic-space(2);
  }

  #{$root}__title-link {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:focus {
      outline: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #{$root}__summary {
    @include civic-typography(card-summary);
  }

  #{$root}__bottom-wrapper {
    display: flex;
    margin-top: civic-space(3);
  }

  #{$root}__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: auto;
    margin-top: rem(-4px);

    .civic-tag {
      margin-top: rem(4px);
      margin-right: rem(4px);
    }
  }

  #{$root}__bottom-link {
    margin-left: auto;
  }

  &.civic-theme-light {
    background-color: $civic-promo-card-light-background-color;

    &:focus {
      @include civic-outline(false);
    }

    #{$root}__date {
      color: $civic-promo-card-light-date-color;
    }

    #{$root}__title {
      color: $civic-promo-card-light-heading-color;
    }

    #{$root}__title-link {
      color: $civic-promo-card-light-heading-color;

      &:hover {
        color: $civic-promo-card-light-color-hover;
      }

      &:active {
        color: $civic-promo-card-light-color-active;
      }
    }

    #{$root}__location,
    #{$root}__summary {
      color: $civic-promo-card-light-body-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-promo-card-dark-background-color;

    &:focus {
      @include civic-outline(true);
    }

    #{$root}__date {
      color: $civic-promo-card-dark-date-color;
    }

    #{$root}__title {
      color: $civic-promo-card-dark-heading-color;
    }

    #{$root}__title-link {
      color: $civic-promo-card-dark-heading-color;

      &:hover {
        color: $civic-promo-card-dark-color-accent;
      }

      &:active {
        color: $civic-promo-card-dark-color-active;
      }
    }

    #{$root}__summary,
    #{$root}__location {
      color: $civic-promo-card-dark-body-color;
    }

    #{$root}__icon {
      .civic-icon {
        fill: $civic-promo-card-dark-color-accent;
      }
    }
  }
}
