//
// Next Steps component.
//

.ct-next-steps {
  $root: &;

  display: block;
  position: relative;
  text-decoration: none;

  &__content {
    display: block;
    position: relative;
    border: 1px solid;
    border-radius: $ct-next-steps-border-radius;
    padding: ct-spacing(3) ct-spacing(3);

    @include ct-breakpoint(m) {
      padding: ct-spacing(3) ct-spacing(5) ct-spacing(4) ct-spacing(3);
    }

    @include ct-highlight-stripe($ct-next-steps-stripe-width, $ct-next-steps-border-radius, 0);
  }

  &__title {
    @include ct-typography('heading-4');
  }

  &__summary {
    margin-top: ct-spacing(2);

    @include ct-typography('text-regular');
  }

  &__read-more {
    position: absolute;
    top: ct-spacing(3);
    right: ct-spacing(2);

    @include ct-breakpoint(m) {
      right: ct-spacing(4);
    }
  }

  &.ct-theme-light {
    #{$root}__content {
      color: $ct-next-steps-light-color;
      background-color: $ct-next-steps-light-background-color;

      @include ct-highlight-stripe-color($ct-next-steps-light-stripe-color);
    }

    &:focus {
      @include ct-outline(false);
    }

    &:hover {
      #{$root}__title {
        color: $ct-next-steps-light-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-light-hover-color;
        }
      }
    }

    &:active {
      .ct-next-steps__title {
        color: $ct-next-steps-light-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-light-active-color;
        }
      }
    }

    #{$root}__title {
      color: $ct-next-steps-light-heading-color;
    }

    #{$root}__read-more {
      .ct-icon {
        fill: $ct-next-steps-light-icon-color;
      }
    }
  }

  &.ct-theme-dark {
    #{$root}__content {
      color: $ct-next-steps-dark-color;
      background-color: $ct-next-steps-dark-background-color;

      @include ct-highlight-stripe-color($ct-next-steps-dark-stripe-color);
    }

    &:focus {
      @include ct-outline(true);
    }

    &:hover {
      #{$root}__title {
        color: $ct-next-steps-dark-hover-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-dark-hover-color;
        }
      }
    }

    &:active {
      #{$root}__title {
        color: $ct-next-steps-dark-active-color;
        text-decoration: underline;
      }

      #{$root}__read-more {
        .ct-icon {
          fill: $ct-next-steps-dark-active-color;
        }
      }
    }

    #{$root}__title {
      color: $ct-next-steps-dark-heading-color;
    }

    #{$root}__read-more {
      .ct-icon {
        fill: $ct-next-steps-dark-icon-color;
      }
    }
  }
}
