//
// Dropdown Filter component.
//

.civic-dropdown-filter {
  $root: &;

  position: relative;
  padding: rem(4px) 0;

  &:not(#{$root}--inline) {
    &#{$root}--right {
      #{$root}__filter-options {
        left: auto;
        right: -(civic-space(3));
      }
    }

    #{$root}__filter-text {
      display: inline-block;
      text-align: center;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
    }

    #{$root}__filter-options {
      margin-top: civic-space(2);
      min-width: civic-space() * 35;
      position: absolute;
      left: -(civic-space(3));
      z-index: $civic-dropdown-filter-zindex;
    }

    #{$root}__filter-options-wrapper {
      @include civic-elevation(2);

      padding: civic-space(2);
      border-radius: $civic-border-radius;
      border-style: solid;
      border-width: 1px;
      max-height: civic-space() * 35;
      overflow: auto;
    }
  }

  &--right {
    margin-left: auto;
  }

  &__filter-text {
    @include civic-typography('label-regular');

    background-color: transparent;
    border: 0;
    appearance: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-top: civic-space(2);
    padding-bottom: civic-space(2);

    &:focus {
      @include civic-outline();
    }
  }

  &__filter-options {
    position: relative;
  }

  &__filter-options-wrapper {
    padding-top: civic-space(3);
    padding-bottom: civic-space(3);
  }

  &__fieldset {
    &.civic-fieldset {
      padding: 0;

      legend {
        @include civic-typography('label-regular');

        margin-bottom: civic-space(4);
      }
    }
  }

  &[data-dropdown-filter-searchable] {
    legend {
      margin-bottom: civic-space(2);
    }

    [data-dropdown-filter-search-item--hidden] {
      display: none;
    }

    [data-dropdown-filter-search-item--visible] {
      display: flex;
    }

    #{$root}__search.civic-input {
      position: relative;
      margin-bottom: civic-space(2);

      input {
        padding-left: civic-space(5);
      }

      &::after {
        content: ' ';
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
        display: block;
        position: absolute;
        bottom: rem(12px);
        left: civic-space();
      }

      label {
        padding-left: 0;
      }
    }
  }

  &.civic-theme-light {
    &:not(#{$root}--inline) {
      #{$root}__filter-text {
        color: $civic-dropdown-filter-light-filter-text-color;
      }

      #{$root}__filter-options-wrapper {
        background-color: $civic-dropdown-filter-light-filter-options-background-color;
        border-color: $civic-dropdown-filter-light-filter-options-border-color;
      }
    }

    #{$root}__filter-text {
      color: $civic-dropdown-filter-light-inline-filter-text-color;

      &::after {
        content: civic-color-svg-fill($civic-collapsible-icon, $civic-dropdown-filter-light-filter-text-icon-color) !important;
      }
    }

    &[data-dropdown-filter-searchable] {
      #{$root}__search.civic-input {
        &::after {
          background-image: $civic-dropdown-filter-light-search-icon;
        }
      }
    }
  }

  &.civic-theme-dark {
    &:not(#{$root}--inline) {
      #{$root}__filter-text {
        color: $civic-dropdown-filter-dark-filter-text-color;
      }

      #{$root}__filter-options-wrapper {
        background-color: $civic-dropdown-filter-dark-filter-options-background-color;
        border-color: $civic-dropdown-filter-dark-filter-options-border-color;
      }
    }

    #{$root}__filter-text {
      color: $civic-dropdown-filter-dark-inline-filter-text-color;

      &::after {
        content: civic-color-svg-fill($civic-collapsible-icon, $civic-dropdown-filter-dark-filter-text-icon-color) !important;
      }
    }

    &[data-dropdown-filter-searchable] {
      #{$root}__search.civic-input {
        &::after {
          background-image: $civic-dropdown-filter-dark-search-icon;
        }
      }
    }
  }
}
