@import 'components/00-base/variables';

.block-local-tasks-block {
  .ct-link-list--local-tasks {
    padding: ct-spacing(2) 0 ct-spacing(2);

    &.ct-theme-light {
      background-color: ct-color('neutral', 1);
    }

    &.ct-theme-dark {
      background-color: ct-color('primary');
    }
  }
}
