@import 'components/00-base/variables';

.block-local-tasks-block {
  .civictheme-link-list--local-tasks {
    padding: civictheme-space(2) 0 civictheme-space(2);

    &.civictheme-theme-light {
      background-color: civictheme-color('neutral', 1);
    }

    &.civictheme-theme-dark {
      background-color: civictheme-color('primary');
    }
  }
}
