//
// Banner component.
//

.ct-banner {
  $root: &;

  position: relative;

  #{$root}__wrapper {
    position: relative;
  }

  #{$root}__wrapper__inner {
    @include ct-background();

    padding-top: ct-spacing(12);
    padding-bottom: ct-spacing(15);

    @include ct-print() {
      padding-top: ct-spacing(2);
      padding-bottom: ct-spacing(3);
    }
  }

  &#{$root}--decorative {
    #{$root}__wrapper__inner {
      clip-path: $ct-banner-decorative-mobile-clip-path;

      @include ct-breakpoint(m) {
        clip-path: $ct-banner-decorative-desktop-clip-path;
      }
    }

    #{$root}__content-below {
      margin-top: -(ct-spacing(2));
    }
  }

  #{$root}__content-below {
    margin-top: ct-spacing(2);
  }

  #{$root}__featured-image {
    clip-path: $ct-banner-featured-image-clip-path;
    display: none;
    max-width: 50%;

    img {
      max-width: 100%;
      object-fit: cover;
      height: 100%;
    }

    @include ct-breakpoint('m') {
      display: block;
      position: absolute;
      bottom: ct-spacing(4);
      top: ct-spacing(12);
      right: 0;

      & * {
        height: 100%;
      }
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    #{$root}__wrapper__inner {
      @include ct-component-property($root, $theme, background-color);
      @include ct-component-property($root, $theme, color);
    }
  }
}
