//
// Civic input.
//

%civic-checkbox-radio {
  position: absolute;
  // stylelint-disable-next-line alpha-value-notation
  opacity: 0;
  width: rem(26px);
  height: rem(26px);
  z-index: 1;
  cursor: pointer;

  & + span {
    &::before {
      content: '';
      border-radius: $civic-checkbox-border-radius;
      border: 1px solid;
      display: inline-block;
      width: rem(24px);
      height: rem(24px);
      position: relative;
      margin-right: 1em;
      vertical-align: middle;
      cursor: pointer;
      text-align: center;
    }
  }

  &:checked {
    & + span {
      &::before {
        width: rem(22px);
        height: rem(22px);
        border-width: 2px;
      }
    }
  }

  &:focus,
  &:hover {
    & + span {
      &::before {
        box-shadow: 0 0 0 1px;
      }
    }
  }

  &.civic-theme-light {
    & + span {
      &::before {
        border-color: $civic-radio-light-border-color;
      }
    }

    &:focus {
      & + span {
        &::before {
          @include civic-outline();
        }
      }
    }

    &:hover {
      & + span {
        &::before {
          box-shadow: inset 0 0 0 5px $civic-radio-light-background-color;
        }
      }
    }

    &:checked {
      & + span {
        &::before {
          background-color: $civic-radio-light-selected-background-color;
          border-color: $civic-radio-light-selected-background-color;
          box-shadow: inset 0 0 0 3px $civic-radio-light-background-color;
        }
      }
    }

    &:disabled {
      & + span {
        &::before {
          cursor: default;
          color: $civic-input-light-disabled-color;
          background-color: $civic-input-light-disabled-background-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    & + span {
      &::before {
        border-color: $civic-radio-dark-border-color;
      }
    }

    &:hover {
      & + span {
        &::before {
          box-shadow: inset 0 0 0 5px $civic-radio-dark-background-color;
        }
      }
    }

    &:focus {
      & + span {
        &::before {
          @include civic-outline();
        }
      }
    }

    &:checked {
      & + span {
        &::before {
          background-color: $civic-radio-dark-selected-background-color;
          border-color: $civic-radio-dark-selected-background-color;
          box-shadow: inset 0 0 0 3px $civic-radio-dark-background-color;
        }
      }
    }

    &:disabled {
      & + span {
        &::before {
          cursor: default;
          color: $civic-input-dark-disabled-color;
          background-color: $civic-input-dark-disabled-background-color;
        }
      }
    }
  }

  &.error,
  &.civic-input--error {
    & + span {
      &::before {
        border-color: $civic-input-dark-error-border-color;
      }
    }

    &:checked {
      & + span {
        &::before {
          border-color: $civic-input-dark-error-border-color;
          background-color: $civic-input-dark-error-border-color;
        }
      }
    }
  }
}

.civic-radio {
  @extend %civic-checkbox-radio;
}

.radios--wrapper {
  @include civic-typography('text-regular');
}
