//
// Font mixins.
//

@use 'sass:map';
@use 'sass:string';
@use 'sass:color';

//
// Get a font from the pre-defined list of fonts by defined name.
//
@function civic-font($name) {
  $all-fonts: _civic-fonts-all();

  @if map.get($all-fonts, $name) == null {
    @error '"#{$name}" is not a defined font.';
  }

  @return string.unquote(map.get(map.get($all-fonts, $name), 'family'));
}

//
// Compile all fonts into a single map.
//
// Do not use directly.
// Use @include civic-font() function instead.
//
// stylelint-disable-next-line scss/at-function-pattern
@function _civic-fonts-all() {
  @return map.merge($civic-fonts-default, $civic-fonts);
}

@mixin civic-font-url-import($path) {
  // Use interpolated CSS @import to bypass importers' functionality to
  // import resources when used in partials.
  // stylelint-disable
  @#{"import"} url('#{$path}');
};
