//
// Generator mixins.
//
// stylelint-disable scss/dollar-variable-pattern

//
// Generate classes variations from provided map with optional prefix.
//
@mixin civic-generate-class-variations-from-map($map, $prefix: false) {
  $index: 0;

  @each $key, $value in $map {
    // Handle lists.
    @if $value == null {
      $value: $key;
      $key: $index;
    }

    $classname: $key;

    @if $prefix != false {
      $classname: #{$prefix}--#{$key};
    }

    .#{$classname} {
      @content($key, $value, $index);
    }

    $index: $index + 1;
  }
}
