//
// Icon size mixins.
//

//
// Include icon width, height for one-to-many breakpoints.
//
// @include civic-icon-size('regular');
//
@mixin civic-icon-size($size) {
  @if type-of($size)==string {
    @if map-get($civic-icon-sizes, $size)==null {
      @error '"#{$size}" is not an available icon size.';
    }

    $size: map-get($civic-icon-sizes, $size);
  }

  @if type-of($size)==map {
    $breakpoints: map-keys($size);

    @each $breakpoint in $breakpoints {
      $breakpoint-rules: map-get($size, $breakpoint);

      @include civic-breakpoint($breakpoint) {
        @include _civic_icon_size_print_rules($breakpoint-rules);
      }
    }
  }
}

//
// Do not use directly.
// Use @include civic-icon-size() mixin instead.
//
@mixin _civic_icon_size_print_rules($rules) {
  width: rem(nth($rules, 1));
  height: rem(nth($rules, 2));
}
