//
// Icon size mixins.
//
// stylelint-disable scss/dollar-variable-pattern

@use 'sass:map';
@use 'sass:list';

//
// Include icon width, height for one-to-many breakpoints.
//
// @include civic-icon-size('regular');
//
@mixin civic-icon-size($size) {
  @if type-of($size) == string {
    @if map.get($civic-icon-sizes, $size) == null {
      @error '"#{$size}" is not an available icon size.';
    }

    $size: map.get($civic-icon-sizes, $size);
  }

  @if type-of($size) == map {
    $breakpoints: map.keys($size);

    @each $breakpoint in $breakpoints {
      $breakpoint-rules: map.get($size, $breakpoint);

      @include civic-breakpoint($breakpoint) {
        @include _civic-icon-size-print-rules($breakpoint-rules);
      }
    }
  }
}

//
// Do not use directly.
// Use @include civic-icon-size() mixin instead.
//
@mixin _civic-icon-size-print-rules($rules) {
  width: rem(list.nth($rules, 1));
  height: rem(list.nth($rules, 2));
}
