//
// Table mixins.
//

@mixin civic-table() {
  $root: &;

  width: 100%;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  text-align: left;
  vertical-align: middle;

  @include civic-typography('text-regular');

  @include civic-breakpoint-upto($civic-table-breakpoint) {
    thead,
    tfoot {
      @include civic-visually-hidden();
    }

    tbody {
      tr {
        display: flex;
        flex-direction: column;
        width: 100%;

        td {
          border: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: stretch;

          &:first-of-type::after {
            visibility: hidden;
          }

          &::after {
            content: '';
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
          }

          &::before {
            content: attr(data-title);
            display: table-cell;
            height: 100%;
            width: 30%;
            max-width: civic-space(12);
            flex-shrink: 0;
            vertical-align: middle;
            padding-right: civic-space(2);

            @include civic-typography('label-regular');
          }
        }
      }
    }
  }

  thead,
  tfoot {
    @include civic-typography('label-regular');
  }

  tr {
    th,
    td {
      padding: civic-space(1.5) civic-space();

      @include civic-breakpoint($civic-table-breakpoint) {
        padding: civic-space(1.5) civic-space(3);
      }
    }
  }

  caption {
    text-align: left;
    padding: civic-space(1.5) 0;

    @include civic-typography('label-large');

    @include civic-breakpoint($civic-table-breakpoint) {
      padding: civic-space(1.5) 0;
    }
  }

  &#{$root}--caption-after {
    caption-side: bottom;

    caption {
      @include civic-typography('text-regular');
    }
  }
}

@mixin civic-table-light() {
  color: $civic-table-light-color;
  background-color: $civic-table-light-background-color;

  thead {
    color: $civic-table-light-header-color;

    @include civic-breakpoint($civic-table-breakpoint) {
      border-bottom: solid 1px $civic-table-light-header-border-color;
    }

    tr {
      &:last-child {
        border-bottom: solid 2px $civic-table-light-header-border-color;
      }
    }
  }

  tfoot {
    color: $civic-table-light-footer-color;

    @include civic-breakpoint($civic-table-breakpoint) {
      border-top: solid 1px $civic-table-light-footer-border-color;
    }

    tr {
      &:last-child {
        border-top: solid 2px $civic-table-light-footer-border-color;
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px $civic-table-light-border-color;
    }
  }

  caption {
    color: $civic-table-light-caption-color;
  }

  &.civic-table--striped {
    tbody {
      tr:nth-child(odd) {
        background: $civic-table-light-row-odd-background-color;

        td {
          color: $civic-table-light-row-odd-color;

          .civic-link,
          a {
            color: $civic-table-light-row-odd-link-color;

            &:hover {
              color: $civic-table-light-row-odd-link-hover-color;
            }
          }
        }
      }

      tr:nth-child(even) {
        background: $civic-table-light-row-even-background-color;

        td {
          color: $civic-table-light-row-even-color;

          .civic-link,
          a {
            color: $civic-table-light-row-even-link-color;

            &:hover {
              color: $civic-table-light-row-odd-link-hover-color;
            }
          }
        }
      }
    }
  }

  .civic-link {
    color: $civic-table-light-link-color;

    &:hover {
      color: $civic-table-light-link-hover-color;
    }
  }
}

@mixin civic-table-dark() {
  color: $civic-table-dark-color;
  background-color: $civic-table-dark-background-color;

  thead {
    color: $civic-table-dark-header-color;

    @include civic-breakpoint($civic-table-breakpoint) {
      border-bottom: solid 1px $civic-table-dark-header-border-color;
    }

    tr {
      &:last-child {
        border-bottom: solid 2px $civic-table-dark-header-border-color;
      }
    }
  }

  tfoot {
    color: $civic-table-dark-footer-color;

    @include civic-breakpoint($civic-table-breakpoint) {
      border-top: solid 1px $civic-table-dark-footer-border-color;
    }

    tr {
      &:last-child {
        border-top: solid 2px $civic-table-dark-footer-border-color;
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px $civic-table-dark-border-color;
    }
  }

  caption {
    color: $civic-table-dark-caption-color;
  }

  &.civic-table--striped {
    tbody {
      tr:nth-child(odd) {
        background: $civic-table-dark-row-odd-background-color;

        td {
          color: $civic-table-dark-row-odd-color;

          .civic-link,
          a {
            color: $civic-table-dark-row-odd-link-color;

            &:hover {
              color: $civic-table-dark-row-odd-link-hover-color;
            }
          }
        }
      }

      tr:nth-child(even) {
        background: $civic-table-dark-row-even-background-color;

        td {
          color: $civic-table-dark-row-even-color;

          .civic-link,
          a {
            color: $civic-table-dark-row-even-link-color;

            &:hover {
              color: $civic-table-dark-row-odd-link-hover-color;
            }
          }
        }
      }
    }
  }

  .civic-link {
    color: $civic-table-dark-link-color;

    &:hover {
      color: $civic-table-dark-link-hover-color;
    }
  }
}
