//
// Fieldset component.
//

.civictheme-fieldset {
  border: none;
  padding: civictheme-space(2) 0;

  legend {
    @include civictheme-typography('heading-3');

    margin-bottom: 0;
  }

  &.civictheme-form-element--fieldset-radio {
    legend {
      @include civictheme-typography('label-regular');
    }
  }

  .description {
    margin-bottom: civictheme-space(2);
  }

  .civictheme-label {
    &--required::after {
      color: $civictheme-fieldset-required-color;
      content: ' (Required)';

      @include civictheme-typography('label-small');
    }
  }
}
