{#
/**
 * @file
 * Search component.
 *
 * Variables:
 * - button_type: [string] Button type: primary, Secondary, Tertiary.
 * - button_text: [string] Text for the button.
 * - placeholder: [string] Input field placeholder text.
 * - search_url: [string] Search page URL.
 * - help_text: [string] Help text for search element.
 * - keys: [satring] Add query string if available.
 * - modifier_class: [string] Additional classes to modify component styling.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
{% set button_type = button_type|default('primary') %}
{% set button_text = button_text|default('Search') %}

<div class="civic-search {{ modifier_class }}">
  <form class="civic-search__form" action="{{ search_url }}" role="search" method="get">
    <div class="civic-search__field-wrapper">
      <div class="civic-search__field">
        {% block search %}
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'userinterface_magnifier',
            modifier_class: 'civic-search__icon'
          } only %}
          {% include '@atoms/input/input.twig' with {
            text: button_text,
            type: 'search',
            theme: theme,
            placeholder: placeholder,
            modifier_class: 'civic-search__input',
            attributes: 'name=query spellcheck=false',
            value: keys ?? '',
          } only %}
        {% endblock %}
      </div>
      {% include '@atoms/button/button.twig' with {
        text: button_text,
        type: button_type,
        theme: theme,
        modifier_class: 'civic-search__button',
      } only %}
    </div>
    {% if help_text %}
      <p class="civic-search__help_text">{{ help_text }}</p>
    {% endif %}
  </form>
</div>
