//
// Search.
//

@import '../../00-base/base';

.civic-search {
  $root: &;

  &__form {
    @include civic-breakpoint(m) {
      display: flex;
    }
  }

  &__field {
    border-radius: $civic-border-radius;
    position: relative;
    margin-bottom: civic-space(2);

    @include civic-breakpoint(m) {
      flex-grow: 1;
      margin-right: civic-space(1);
      margin-bottom: 0;
    }

    svg {
      fill: currentColor;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: civic-space(2);
    margin: auto;
  }

  &__button {
    width: 100%;

    @include civic-breakpoint(m) {
      width: auto;
    }

    &:focus {
      @include civic-outline(true);
    }
  }

  &__input {
    height: 100%;

    .civic-input__element {
      @include civic-typography('heading-5');

      border-radius: $civic-border-radius;
      border-width: 1px;
      border-style: solid;
      padding: civic-space(2) civic-space(3) civic-space(2) civic-space(7);
      width: 100%;
      height: 100%;

      &:focus {
        @include civic-outline(true);
      }
    }
  }

  &__help_text {
    @include civic-typography(body);
  }

  &.civic-theme-light {
    #{$root}__field {
      color: $civic-search-light-color;
    }

    #{$root}__input {
      .civic-input__element {
        background-color: $civic-search-light-background-color;
        border-color: $civic-search-light-border-color;
      }
    }

    &__help_text {
      color: $civic-search-light-help-color;
    }
  }

  &.civic-theme-dark {
    #{$root}__field {
      color: $civic-search-dark-color;
    }

    #{$root}__input {
      .civic-input__element {
        background-color: $civic-search-dark-background-color;
        border-color: $civic-search-dark-border-color;
        color: $civic-search-dark-color;
      }
    }

    &__help_text {
      color: $civic-search-dark-help-color;
    }
  }
}
