//
// Grid classes and generators.
//

@use 'sass:map';

.row {
  @include civic-row($civic-grid-gutters);

  &.reverse {
    @include civic-row-reverse();
  }

  &.natural-height {
    @include civic-row-natural-height();
  }

  &.flex-column {
    @include civic-row-flex-column();
  }
}

.col {
  // Make columns at the lowest breakpoint to act as a single column per row.
  @include _civic-grid-col($civic-grid-lowest-breakpoint, $civic-grid-columns);

  $next-bp: civic-map-get-next($civic-breakpoints, $civic-grid-lowest-breakpoint, map.get($civic-breakpoints, 'xxs'), key);

  // Spawn columns to fit into as single row for larger breakpoints.
  @include civic-breakpoint($next-bp) {
    @include _civic-grid-col();
  }

  &.reverse {
    @include civic-col-reverse();
  }
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

// Generate column classes.
@each $breakpoint, $value in $civic-breakpoints {
  @if $breakpoint == $civic-grid-lowest-breakpoint {
    @include _civic-col-factory($breakpoint);
  }
  @else {
    @include civic-breakpoint($breakpoint) {
      @include _civic-col-factory($breakpoint);
    }
  }
}

// Container class should wrap every row.
.container {
  @include civic-container();
}

//
// Max width container class to limit the width of the fluid containers at max width.
//
.container-max-width {
  @include civic-breakpoint(xxl) {
    width: $civic-grid-max-width;
    margin: 0 auto;
  }
}

//
// Offset container class to add offset on small screens.
//
.container-offset-xs {
  @include civic-breakpoint-upto(m) {
    padding-left: map.get($civic-grid-offsets, 'xxs');
    padding-right: map.get($civic-grid-offsets, 'xxs');
    width: auto;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.col-no-gutter {
  padding: 0;
}

.civic-justify-content-start {
  display: flex;
  justify-content: flex-start;
}

.civic-justify-content-center {
  display: flex;
  justify-content: center;
}

.civic-justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.civic-text-align-left {
  text-align: left;
}

.civic-text-align-center {
  text-align: center;
}

.civic-text-align-right {
  text-align: right;
}
