//
// Figure component.
//

.civic-figure {
  $root: &;

  margin: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  .civic-image {
    border-radius: $civic-figure-border-radius;
  }

  &.civic-theme-light {
    color: $civic-figure-caption-light-color;
  }

  &.civic-theme-dark {
    color: $civic-figure-caption-dark-color;
  }

  &__caption {
    @include civic-typography('label-small');

    .civic-icon {
      #{$root}.civic-theme-light & {
        fill: $civic-figure-caption-icon-light-color;
      }

      #{$root}.civic-theme-dark & {
        fill: $civic-figure-caption-icon-dark-color;
      }
    }
  }
}
