//
// Basic Content component.
//

.ct-basic-content {
  $root: &;

  @include ct-content();

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-content-theme($theme);

    &.ct-content--with-background {
      @include ct-component-property($root, $theme, wrapper, background-color);

      padding-left: $ct-basic-content-space-horizontal;
      padding-right: $ct-basic-content-space-horizontal;
    }
  }
}
