//
// Basic Content component.
//

.ct-basic-content {
  @include ct-content();

  &.ct-theme-light {
    @include ct-content-light();

    &.ct-content--with-background {
      background-color: $ct-basic-content-light-wrapper-background-color;
      padding-left: $ct-basic-content-space-horizontal;
      padding-right: $ct-basic-content-space-horizontal;
    }
  }

  &.ct-theme-dark {
    @include ct-content-dark();

    &.ct-content--with-background {
      background-color: $ct-basic-content-dark-wrapper-background-color;
      padding-left: $ct-basic-content-space-horizontal;
      padding-right: $ct-basic-content-space-horizontal;
    }
  }
}
