//
// Color stories.
//

@use 'sass:string';
@use 'sass:math';
@use 'sass:map';
@use 'sass:color';

//
// Mixin to create a color box with specific dimensions.
//
@mixin civictheme-stories-color-box($key, $value, $width: 100px, $height: 100px) {
  margin: 0 civictheme-space(2) civictheme-space(2) 0;
  position: relative;
  width: $width;

  .story-color-element {
    // @code
    // Uncomment below for more prominent borders.
    // $border-color: desaturate(color.invert($value, 100%), 100%);
    // @endcode
    $border-color: color.scale($value, $lightness: -40%);

    display: block;
    height: $height;
    box-shadow: inset 0 0 0 1px $border-color;
    position: relative;
    background-color: $value;
  }

  .story-color-text {
    display: block;

    @include civictheme-typography('label-small');

    text-align: center;
    margin: civictheme-space() 0;

    &::after {
      $content: string.to-upper-case(#{$value});

      content: '#{$content}';
      font-family: 'Courier New', monospace, sans-serif;
      text-align: center;
      display: block;
      position: absolute;
      line-height: 150%;
      width: 100%;
    }
  }
}

.story-colors-wrapper {
  display: flex;
  flex-flow: row wrap;

  $brand-colors: _civictheme-colors-brands();
  $colors: _civictheme-colors();

  @include civictheme-generate-class-variations-from-map(map-get($brand-colors, 'light'), 'story-color-light') using($key, $value, $index) {
    @include civictheme-stories-color-box($key, $value, 100px, 60px);
  }

  @include civictheme-generate-class-variations-from-map(map-get($brand-colors, 'dark'), 'story-color-dark') using($key, $value, $index) {
    @include civictheme-stories-color-box($key, $value, 100px, 60px);
  }

  @include civictheme-generate-class-variations-from-map(map-get($colors, 'light'), 'story-color-light') using($key, $value, $index) {
    @include civictheme-stories-color-box($key, $value, 100px, 60px);
  }

  @include civictheme-generate-class-variations-from-map(map-get($colors, 'dark'), 'story-color-dark') using($key, $value, $index) {
    @include civictheme-stories-color-box($key, $value, 100px, 60px);
  }
}
