//
// Directional link.
//

.civic-directional-link {
  $root: &;

  padding: civic-space(2) civic-space(3);

  @include civic-typography('text-regular');

  display: flex;
  text-decoration: none;

  .civic-icon {
    margin-left: civic-space();
    padding: $civic-directional-icon-padding;

    &--left {
      order: -1;
      margin-left: 0;
      margin-right: civic-space();
    }
  }

  &.civic-theme-light {
    color: $civic-directional-link-light-color;

    .civic-icon {
      fill: $civic-directional-link-light-color;
    }

    &:focus {
      @include civic-outline();
    }

    &:hover {
      color: $civic-directional-link-light-hover-color;

      .civic-icon {
        fill: $civic-directional-link-light-hover-color;
      }
    }

    &#{$root}--disabled {
      &,
      &:hover {
        color: $civic-directional-link-light-disabled-color;

        .civic-icon {
          fill: $civic-directional-link-light-disabled-color;
        }
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-directional-link-dark-color;

    .civic-icon {
      fill: $civic-directional-link-dark-color;
    }

    &:focus {
      @include civic-outline(true);
    }

    &:hover {
      color: $civic-directional-link-dark-hover-color;

      .civic-icon {
        fill: $civic-directional-link-dark-hover-color;
      }
    }

    &#{$root}--disabled {
      &,
      &:hover {
        color: $civic-directional-link-dark-disabled-color;

        .civic-icon {
          fill: $civic-directional-link-dark-disabled-color;
        }
      }
    }
  }
}
