//
// Social Links component.
//

.ct-social-links {
  $root: &;

  display: flex;

  &__item {
    margin-right: ct-spacing(2);

    &:last-child {
      margin-right: 0;
    }
  }

  .ct-button--link {
    border: ct-particle(0.125) solid transparent;
    padding: ct-spacing(1.375);
    display: block;

    @include ct-breakpoint('m') {
      padding: ct-spacing(1.625);
    }

    .ct-button__icon {
      display: block;
    }

    .ct-icon {
      fill: currentcolor;
      display: block;
    }
  }

  &--with-border {
    .ct-button--link {
      border: ct-particle(0.125) solid currentcolor;
      border-radius: ct-particle(12);
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    .ct-button--link {
      @include ct-link-colors(
        ct-component-var($root, $theme, color),
        ct-component-var($root, $theme, hover-color),
        ct-component-var($root, $theme, visited-color),
        ct-component-var($root, $theme, active-color),
        ct-component-var($root, $theme, focus-color)
      );
    }
  }
}
