{#
/**
 * @file
 * Social links Component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Array of items:
 *   - symbol: [string] Icon name from the existing icon set.
 *   - url: [string] URL.
 *   - text: [string] Raw text.
 *   - title: [string] Title to be added to the 'title' attribute.
 *   - size: [string] Icon size.
 * - with_border: [boolean] Whether icons have borders.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set with_border_class = with_border ? 'civictheme-social-links--with-border' : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, with_border_class, modifier_class|default('')) %}

{% if items is not empty %}
  <div class="civictheme-social-links {{ modifier_class }}">
    {% if items is not empty %}
      {% for item in items %}
        <div class="civictheme-social-links__item">
          {% include '@atoms/button/button.twig' with {
            theme: theme,
            kind: 'link',
            icon: item.symbol,
            size: item.size,
            url: item.url,
            text: item.text,
            title: item.title,
            is_raw_text: true,
          } only %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
