{% set container_class = content_left is not empty ? 'container' : '' %}
<main class="civic-content {{ container_class }}" role="main">
  <a id="main-content" tabindex="-1"></a>

  <div class="row">
    {# Sidebar #}
    {% if content_left %}
      <aside class="col-m-3 civic-content--content-left" role="complementary">
        {{ content_left }}
      </aside>
    {% endif %}

    {# Content #}
    {% set content_classes = (content_left is empty) or ( not content_left) ? ' col-m-12' : ' col-m-8 col-m-offset-1 civic-content--has-sidebar' %}
    <section class="civic-content--main{{ content_classes }}">
      <div class="civic-content">
        {{ content }}
      </div>
    </section>
  </div>

</main>
