//
// Content component.
//

.civic-content {
  $root: &;

  &.civic-content--vertical-space-top {
    #{$root}__inner {
      @include civic-component-with-vertical-space(top, $civic-content-space-vertical, $is_padding: false);
    }
  }

  &.civic-content--vertical-space-bottom {
    #{$root}__inner {
      @include civic-component-with-vertical-space(bottom, $civic-content-space-vertical, $is_padding: false);
    }
  }

  &.civic-content--vertical-space-both {
    #{$root}__inner {
      @include civic-component-with-vertical-space(both, $civic-content-space-vertical, $is_padding: false);
    }
  }

  &.civic-theme-light {
    #{$root}__inner {
      background: $civic-content-light-background-color;
    }
  }

  &.civic-theme-dark {
    #{$root}__inner {
      background: $civic-content-dark-background-color;
    }
  }
}
