//
// Styles.
//
// stylelint-disable scss/at-import-partial-extension

// Need to add variables outside of scoping class to avoid compilation errors for variables with !global flags.
@import '~normalize.css';
@import '00-base/variables';
@import '00-base/**/!(*.stories|variables|_variables.*).scss';

// stylelint-disable no-invalid-position-at-import-rule
.cke_editable {
  // Include civictheme content css styles for typography
  @include civictheme-content();
  @include civictheme-content-light();

  // Load all non-stories mixins.
  @import '01-atoms/**/!(*.stories).scss';
  @import '02-molecules/**/!(*.stories|basic-content).scss';
  @import '03-organisms/**/!(*.stories).scss';
  @import '04-templates/**/!(*.stories).scss';
  @import '05-pages/**/!(*.stories).scss';
}
// stylelint-enable no-invalid-position-at-import-rule
