//
// message.
//

@use 'sass:map';

.civic-message {
  $root: &;

  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  border-radius: $civic-message-border-radius;
  border-left: solid rem(6px) transparent;
  box-sizing: border-box;
  padding: civic-space(3) civic-space(3) civic-space(3) civic-space(2);
  width: 100%;

  @include civic-typography('text-regular');

  #{$root}__icon {
    width: rem(26px);
    margin-right: civic-space(2);
  }

  .civic-icon {
    width: rem(26px);
    height: rem(26px);
  }

  #{$root}__title {
    font-weight: 600;
  }

  #{$root}__summary {
    margin-top: civic-space();
  }

  // SASS does not allow variables interpolation, so we are creating a local
  // map to easily generate rules.
  $map: (
    'status': (
      'light': (
        'color': $civic-message-status-light-color,
        'background-color': $civic-message-status-light-background-color,
        'border-color': $civic-message-status-light-border-color,
        'icon-color': $civic-message-status-light-icon-color,
      ),
      'dark': (
        'color': $civic-message-status-dark-color,
        'background-color': $civic-message-status-dark-background-color,
        'border-color': $civic-message-status-dark-border-color,
        'icon-color': $civic-message-status-dark-icon-color,
      )
    ),
    'warning': (
      'light': (
        'color': $civic-message-warning-light-color,
        'background-color': $civic-message-warning-light-background-color,
        'border-color': $civic-message-warning-light-border-color,
        'icon-color': $civic-message-warning-light-icon-color,
      ),
      'dark': (
        'color': $civic-message-warning-dark-color,
        'background-color': $civic-message-warning-dark-background-color,
        'border-color': $civic-message-warning-dark-border-color,
        'icon-color': $civic-message-warning-dark-icon-color,
      )
    ),
    'error': (
      'light': (
        'color': $civic-message-error-light-color,
        'background-color': $civic-message-error-light-background-color,
        'border-color': $civic-message-error-light-border-color,
        'icon-color': $civic-message-error-light-icon-color,
      ),
      'dark': (
        'color': $civic-message-error-dark-color,
        'background-color': $civic-message-error-dark-background-color,
        'border-color': $civic-message-error-dark-border-color,
        'icon-color': $civic-message-error-dark-icon-color,
      )
    ),
    'success': (
      'light': (
        'color': $civic-message-success-light-color,
        'background-color': $civic-message-success-light-background-color,
        'border-color': $civic-message-success-light-border-color,
        'icon-color': $civic-message-success-light-icon-color,
      ),
      'dark': (
        'color': $civic-message-success-dark-color,
        'background-color': $civic-message-success-dark-background-color,
        'border-color': $civic-message-success-dark-border-color,
        'icon-color': $civic-message-success-dark-icon-color,
      )
    ),
  );

  @each $type, $type-map in $map {
    &#{$root}--#{$type} {
      @each $theme, $values in $type-map {
        &.civic-theme-#{$theme} {
          background-color: map.get($values, 'background-color');
          color: map.get($values, 'color');
          border-color: map.get($values, 'border-color');

          #{$root}__icon {
            .civic-icon {
              fill: map.get($values, 'icon-color');
            }
          }
        }
      }
    }
  }
}
