//
// Header component.
//

.civic-header {
  $root: &;

  @include civic-typography('text-regular');

  &__top {
    padding-top: civic-space();
    padding-bottom: civic-space();
  }

  &__logo {
    padding: civic-space() 0;

    @include civic-breakpoint($civic-header-desktop-menu-breakpoint) {
      padding: civic-space(3) 0;
    }
  }

  &__middle {
    .container {
      border-bottom: solid 1px;
    }
  }

  &__content-middle2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-middle3 {
    height: 100%;
    position: relative;

    @include civic-breakpoint($civic-header-desktop-menu-breakpoint) {
      position: static;
    }
  }

  .civic-logo {
    width: rem($civic-header-logo-mobile-width);

    @include civic-breakpoint($civic-header-desktop-menu-breakpoint) {
      width: auto;
      max-width: rem($civic-header-logo-desktop-width);
    }
  }

  .civic-mobile-navigation__trigger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &.civic-theme-light {
    #{$root}__top {
      background-color: $civic-header-light-top-background-color;
      color: $civic-header-light-top-color;
    }

    #{$root}__middle {
      background-color: $civic-header-light-middle-background-color;

      .container {
        border-color: $civic-header-light-middle-border-color;
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__top {
      background-color: $civic-header-dark-top-background-color;
      color: $civic-header-dark-top-color;
    }

    #{$root}__middle {
      background-color: $civic-header-dark-middle-background-color;

      .container {
        border-color: $civic-header-dark-middle-border-color;
      }
    }
  }
}
