//
// Form element.
//

.civic-label {
  $root: &;

  display: block;
  margin-bottom: civic-space();

  @include civic-typography('label-regular');

  &--required {
    &::after {
      content: ' (Required)';

      @include civic-typography('label-small');
    }
  }

  &.civic-theme-light {
    color: $civic-label-light-color;

    #{$root}--required {
      &::after {
        color: $civic-label-light-required-color;
      }
    }
  }

  &.civic-theme-dark {
    color: $civic-label-dark-color;

    #{$root}--required {
      &::after {
        color: $civic-label-dark-required-color;
      }
    }
  }
}
