{#
/**
 * @file
 * CivicTheme implementation to display a one-column edge to edge layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - is_contained: Whether the content should be contained
 * - modifier_class: CSS modifying class
 * - region_attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div class="layout">
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {% include '@base/layout/content-layout--single-column.twig' with {
        content: content.content,
        modifier_class: modifier_class,
        is_contained: is_contained,
      } %}
    </div>
  </div>
{% endif %}
