//
// Breadcrumb component.
//

.civictheme-breadcrumb {
  $root: &;

  @include civictheme-typography('label-small');

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    &--link {
      margin-right: civictheme-space();
      display: flex;
      align-items: center;

      @include civictheme-breakpoint-upto('m') {
        display: none;
      }

      &.mobile-only {
        display: none;

        @include civictheme-breakpoint-upto('m') {
          display: flex;
        }
      }
    }
  }

  .civictheme-link {
    @include civictheme-typography('label-small');

    padding: 0;

    &:hover {
      padding: 0;
    }
  }

  &.civictheme-theme-light {
    .civictheme-icon {
      fill: $civictheme-breadcrumb-light-divider-color;
    }
  }

  &.civictheme-theme-dark {
    .civictheme-icon {
      fill: $civictheme-breadcrumb-dark-divider-color;
    }
  }
}
