//
// Breadcrumb.
//

@import '../../00-base/base';

.civic-breadcrumbs {
  $root: &;
  @include civic-typography('label-tag');
  border-bottom: solid rem(1px) $civic-breadcrumbs-border-color;

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: civic-space(2);

    &--link {
      margin-right: civic-space();
      display: flex;
      align-items: center;

      @include civic-breakpoint-upto('m') {
        display: none;
      }

      &.mobile-only {
        display: none;
        @include civic-breakpoint-upto('m') {
          display: flex;

          .civic-link {
            border: none;
          }
        }
      }
    }
  }

  .civic-link {
    @include civic-typography('label-tag');
    padding: 0;

    &:hover {
      padding: 0;
    }

    &.civic-theme-light {
      color: $civic-breadcrumbs-light-color;

      &:hover {
        color: $civic-breadcrumbs-dark-color;
      }
    }

    &.civic-theme-dark {
      color: $civic-breadcrumbs-dark-color;

      &:hover {
        color: $civic-breadcrumbs-dark-color-hover;
      }
    }
  }

  .civic-icon {
    fill: $civic-breadcrumbs-icon-color;
  }

  &.civic-theme-light {
    background-color: $civic-breadcrumbs-light-background-color;
    color: $civic-breadcrumbs-light-color;
  }

  &.civic-theme-dark {
    background-color: $civic-breadcrumbs-dark-background-color;
    color: $civic-breadcrumbs-dark-color;
  }
}
