//
// Progress.
//

@import '../../00-base/base';

.civic-progress-indicator {

  $root: &;

  &__step {
    border-left: solid rem(4px);
    padding: civic-space(2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;

    .civic-icon {
      padding: civic-space();
      @include civic-icon-size('small');
      align-self: center;
    }

    &--inner {
      margin-left: civic-space(1);
    }

    &--title {
      @include civic-typography('body');
    }
    &--status {
      @include civic-typography('small');
    }
  }

  &.civic-theme-light {
    #{$root}__step {
      border-color: $civic-progress-indicator-light-border-color;

      &--doing {
        background-color: $civic-progress-indicator-light-active-color;
        border-color: $civic-progress-indicator-light-icon-color;
      }

      svg {
        fill: $civic-progress-indicator-light-icon-color;
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__step {
      color: $civic-progress-indicator-dark-color;
      border-color: transparent;
      background-color: $civic-progress-indicator-dark-background-color;
      &--doing {
        background-color: $civic-progress-indicator-dark-active-color;
        border-color: $civic-progress-indicator-dark-icon-color;
      }

      svg {
        fill: $civic-progress-indicator-dark-icon-color;
      }
    }
  }
}
