//
// Progress.
//

.civic-progress-indicator {
  $root: &;

  &__step {
    border-left: solid rem(4px);
    padding: civic-space(2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;

    .civic-icon {
      padding: civic-space();

      @include civic-icon-size('small');

      align-self: center;
    }

    &--inner {
      margin-left: civic-space();
    }

    &--title {
      @include civic-typography('text-regular');
    }

    &--status {
      @include civic-typography('text-small');
    }
  }

  &.civic-theme-light {
    #{$root}__step {
      color: $civic-progress-indicator-light-color;
      border-color: $civic-progress-indicator-light-border-color;
      background-color: $civic-progress-indicator-light-background-color;

      &--doing {
        border-color: $civic-progress-indicator-light-active-border-color;
        background-color: $civic-progress-indicator-light-active-background-color;
      }

      svg {
        fill: $civic-progress-indicator-light-icon-color;
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__step {
      color: $civic-progress-indicator-dark-color;
      border-color: $civic-progress-indicator-dark-border-color;
      background-color: $civic-progress-indicator-dark-background-color;

      &--doing {
        border-color: $civic-progress-indicator-dark-active-border-color;
        background-color: $civic-progress-indicator-dark-active-background-color;
      }

      svg {
        fill: $civic-progress-indicator-dark-icon-color;
      }
    }
  }
}
