//
// Table of Contents component.
//

.civic-table-of-contents {
  $root: &;

  width: $civic-table-of-contents-width;

  &--position-before,
  &--position-prepend {
    margin-bottom: civic-space(4);
  }

  &--position-after,
  &--position-append {
    margin-top: civic-space(4);
  }

  &__title {
    @include civic-typography('heading-5');

    margin-top: 0;
    margin-bottom: civic-space(3);
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    @include civic-typography('text-small');

    display: block;
    position: relative;
    padding: civic-space() civic-space(2) civic-space() civic-space(2.5);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      width: rem(4px);
    }

    &:active {
      outline: 0 !important;
      border-radius: 0 $civic-table-of-contents-link-active-border-radius $civic-table-of-contents-link-active-border-radius 0;
    }

    &:focus {
      z-index: 1;
    }
  }

  &.civic-theme-light {
    #{$root}__title {
      color: $civic-table-of-contents-light-title-color;
    }

    #{$root}__link {
      color: $civic-table-of-contents-light-link-color;
      border-color: $civic-table-of-contents-light-link-border-color;

      &::before {
        background-color: $civic-table-of-contents-light-link-strip-background-color;
      }

      &:hover,
      &:focus {
        background-color: $civic-table-of-contents-light-link-hover-background-color;
        border-color: $civic-table-of-contents-light-link-hover-border-color;

        &::before {
          background-color: $civic-table-of-contents-light-link-strip-hover-background-color;
        }
      }

      &:active {
        border-color: $civic-table-of-contents-light-active-border-color;
      }

      &:focus {
        @include civic-outline();
      }
    }
  }

  &.civic-theme-dark {
    #{$root}__title {
      color: $civic-table-of-contents-dark-title-color;
    }

    #{$root}__link {
      color: $civic-table-of-contents-dark-link-color;
      border-color: $civic-table-of-contents-dark-link-border-color;

      &::before {
        background-color: $civic-table-of-contents-dark-link-strip-background-color;
      }

      &:hover,
      &:focus {
        background-color: $civic-table-of-contents-dark-link-hover-background-color;
        border-color: $civic-table-of-contents-dark-link-hover-border-color;

        &::before {
          background-color: $civic-table-of-contents-dark-link-strip-hover-background-color;
        }
      }

      &:active {
        background-color: $civic-table-of-contents-dark-active-background-color;
      }

      &:focus {
        @include civic-outline(true);
      }
    }
  }
}
