//
// Figure component.
//

.ct-figure {
  $root: &;

  margin: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  .ct-image {
    border-radius: $ct-figure-border-radius;
    object-fit: contain;
  }

  &.ct-theme-light {
    color: $ct-figure-light-caption-color;
  }

  &.ct-theme-dark {
    color: $ct-figure-dark-caption-color;
  }

  &__caption {
    @include ct-typography('label-small');

    .ct-icon {
      #{$root}.ct-theme-light & {
        fill: $ct-figure-light-caption-icon-color;
      }

      #{$root}.ct-theme-dark & {
        fill: $ct-figure-dark-caption-icon-color;
      }
    }
  }
}
