.civic-slider {
  $root: &;

  &.civic_slider--with-space-top {
    padding-top: $civic-slider-padding-vertical;
  }

  &.civic_slider--with-space-bottom {
    padding-bottom: $civic-slider-padding-vertical;
  }

  &.civic_slider--with-space-both {
    padding: $civic-slider-padding-vertical 0;
  }

  &__upper-control-panel {
    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      display: flex;
      align-items: center;
      margin-bottom: civic-space(4);
    }
  }

  &__title {
    @include civic-typography('heading-3');

    & + #{$root}__link {
      margin-top: civic-space(3);

      @include civic-breakpoint('m') {
        margin-top: 0;
      }
    }
  }

  &__link {
    margin-left: auto;
  }

  &__slides {
    @include civic-elevation(3);

    border-radius: $civic-slider-border-radius;
    position: relative;
    overflow: hidden;
  }

  &__slides-inner {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 0%;
    transition: 0.5s left;

    @include civic-breakpoint('m') {
      transition: 1s left;
    }
  }

  &__lower-control-panel {
    margin-top: civic-space(2);

    @include civic-breakpoint('m') {
      display: flex;
      align-items: center;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    @include civic-breakpoint('m') {
      display: block;
    }

    .civic-button {
      padding-left: civic-space(2);
      padding-right: civic-space(2);
      width: calc(50% - #{civic-space()});

      @include civic-breakpoint('m') {
        width: auto;
        min-width: rem(160px);
        margin-right: civic-space(2);
      }
    }
  }

  &__steps {
    @include civic-typography('label-small');

    display: block;
    margin-left: auto;
    margin-top: civic-space(2);
    text-align: center;

    @include civic-breakpoint('m') {
      margin-top: 0;
      text-align: left;
    }
  }

  &__progress-indicator {
    border-radius: $civic-slider-progress-indicator-border-radius;
    padding: civic-space() civic-space(2);
    display: inline-block;
  }

  &.civic-theme-light {
    background-color: $civic-slider-light-background-color;

    &.civic_slider--with-background {
      background-color: $civic-slider-light-wrapper-background-color;
      padding-left: $civic-slider-padding-horizontal;
      padding-right: $civic-slider-padding-horizontal;
    }

    #{$root}__title {
      color: $civic-slider-light-title-color;
    }

    #{$root}__progress-indicator {
      background-color: $civic-slider-light-progress-indicator-background-color;
      color: $civic-slider-light-progress-indicator-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-slider-dark-background-color;

    &.civic_slider--with-background {
      background-color: $civic-slider-dark-wrapper-background-color;
      padding-left: $civic-slider-padding-horizontal;
      padding-right: $civic-slider-padding-horizontal;
    }

    #{$root}__title {
      color: $civic-slider-dark-title-color;
    }

    #{$root}__progress-indicator {
      background-color: $civic-slider-dark-progress-indicator-background-color;
      color: $civic-slider-dark-progress-indicator-color;
    }
  }
}
