//
// Password Indicator component.
//

.civic-slider {
  $root: &;

  &.civic-slider--vertical-space-top {
    @include civic-component-with-vertical-space(top, $civic-slider-space-vertical);
  }

  &.civic-slider--vertical-space-bottom {
    @include civic-component-with-vertical-space(bottom, $civic-slider-space-vertical);
  }

  &.civic-slider--vertical-space-both {
    @include civic-component-with-vertical-space(both, $civic-slider-space-vertical);
  }

  &__upper-control-panel {
    margin-bottom: civic-space(3);

    @include civic-breakpoint('m') {
      display: flex;
      align-items: center;
      margin-bottom: civic-space(4);
    }
  }

  &__title {
    @include civic-typography('heading-3');

    & + #{$root}__link {
      margin-top: civic-space(3);

      @include civic-breakpoint('m') {
        margin-top: 0;
      }
    }
  }

  &__link {
    margin-left: auto;
  }

  &__slides {
    @include civic-elevation(3);

    border-radius: $civic-slider-border-radius;
    position: relative;
    overflow: hidden;
  }

  &__slides-inner {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 0%;
    transition: 0.5s left;

    @include civic-breakpoint('m') {
      transition: 1s left;
    }
  }

  &__lower-control-panel {
    margin-top: civic-space(2);

    @include civic-breakpoint('m') {
      display: flex;
      align-items: center;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    @include civic-breakpoint('m') {
      display: block;
    }

    .civic-button {
      padding-left: civic-space(2);
      padding-right: civic-space(2);
      width: calc(50% - #{civic-space()});

      @include civic-breakpoint('m') {
        width: auto;
        min-width: rem(160px);
        margin-right: civic-space(2);
      }
    }
  }

  &__steps {
    @include civic-typography('label-small');

    display: block;
    margin-left: auto;
    margin-top: civic-space(2);
    text-align: center;

    @include civic-breakpoint('m') {
      margin-top: 0;
      text-align: left;
    }
  }

  &__progress-indicator {
    border-radius: $civic-slider-progress-indicator-border-radius;
    padding: civic-space() civic-space(2);
    display: inline-block;
  }

  &.civic-theme-light {
    background-color: $civic-slider-light-background-color;

    &.civic-slider--with-background {
      background-color: $civic-slider-light-wrapper-background-color;
      padding-left: $civic-slider-space-horizontal;
      padding-right: $civic-slider-space-horizontal;
    }

    #{$root}__title {
      color: $civic-slider-light-title-color;
    }

    #{$root}__progress-indicator {
      background-color: $civic-slider-light-progress-indicator-background-color;
      color: $civic-slider-light-progress-indicator-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-slider-dark-background-color;

    &.civic-slider--with-background {
      background-color: $civic-slider-dark-wrapper-background-color;
      padding-left: $civic-slider-space-horizontal;
      padding-right: $civic-slider-space-horizontal;
    }

    #{$root}__title {
      color: $civic-slider-dark-title-color;
    }

    #{$root}__progress-indicator {
      background-color: $civic-slider-dark-progress-indicator-background-color;
      color: $civic-slider-dark-progress-indicator-color;
    }
  }
}

.civic-slide {
  $root: &;

  position: absolute;

  @include civic-breakpoint('l') {
    display: flex;
    flex-wrap: nowrap;
  }

  &--image-position-right {
    @include civic-breakpoint('l') {
      flex-direction: row-reverse;
    }
  }

  &--hidden {
    display: none !important;
  }

  &__content-top {
    margin-bottom: civic-space(3);

    @include civic-breakpoint('l') {
      margin-bottom: civic-space(4);
    }
  }

  &__title {
    @include civic-typography('heading-2');

    margin-bottom: civic-space(3);

    @include civic-breakpoint('l') {
      margin-bottom: civic-space(2);
    }
  }

  &__title-link {
    color: currentcolor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include civic-outline();
    }
  }

  &__summary {
    @include civic-typography('text-regular');

    margin-bottom: civic-space(4);

    @include civic-breakpoint('l') {
      margin-bottom: civic-space(5);
    }
  }

  &__links {
    margin-bottom: civic-space(4);

    @include civic-breakpoint('l') {
      margin-bottom: civic-space(5);
    }

    .civic-button {
      margin: 0 civic-space() civic-space() 0;
    }
  }

  &__content {
    box-sizing: border-box;
    flex-grow: 1;
    padding: civic-space(4) civic-space(3);
    display: flex;
    align-items: center;

    @include civic-breakpoint('l') {
      padding: (civic-space() * 13) civic-space(10);
    }
  }

  &__content-inner {
    width: 100%;

    & > div:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    @include civic-breakpoint('l') {
      width: rem(500px);
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: civic-space() * 26;

      @include civic-breakpoint('l') {
        height: 100%;
      }
    }
  }

  &.civic-theme-light {
    background-color: $civic-slide-light-background-color;

    #{$root}__title {
      color: $civic-slide-light-title-color;
    }

    #{$root}__summary {
      color: $civic-slide-light-summary-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-slide-dark-background-color;

    #{$root}__title {
      color: $civic-slide-dark-title-color;
    }

    #{$root}__summary {
      color: $civic-slide-dark-summary-color;
    }
  }
}
