//
// Iframe component.
//

.civic-iframe {
  $root: &;

  border: 0;

  &:not([width]) {
    width: 100%;
  }

  &:not([height]) {
    height: 100%;
  }

  &.civic-iframe--vertical-space-top {
    @include civic-component-with-vertical-space(top, $civic-iframe-space-vertical);
  }

  &.civic-iframe--vertical-space-bottom {
    @include civic-component-with-vertical-space(bottom, $civic-iframe-space-vertical);
  }

  &.civic-iframe--vertical-space-both {
    @include civic-component-with-vertical-space(both, $civic-iframe-space-vertical);
  }

  &.civic-theme-light {
    &.civic-iframe--with-background {
      background-color: $civic-iframe-light-background-color;
      padding-left: $civic-iframe-space-horizontal;
      padding-right: $civic-iframe-space-horizontal;
    }
  }

  &.civic-theme-dark {
    &.civic-iframe--with-background {
      background-color: $civic-iframe-dark-background-color;
      padding-left: $civic-iframe-space-horizontal;
      padding-right: $civic-iframe-space-horizontal;
    }
  }
}
