//
// Iframe component.
//

.civic-iframe {
  $root: &;

  border: 0;

  &:not([width]) {
    width: 100%;
  }

  &:not([height]) {
    height: 100%;
  }

  &.civic-iframe--with-space-top {
    padding-top: $civic-iframe-padding-vertical;
  }

  &.civic-iframe--with-space-bottom {
    padding-bottom: $civic-iframe-padding-vertical;
  }

  &.civic-iframe--with-space-both {
    padding: $civic-iframe-padding-vertical 0;
  }

  &.civic-theme-light {
    &.civic-iframe--with-background {
      background-color: $civic-iframe-light-background-color;
      padding-left: $civic-iframe-padding-horizontal;
      padding-right: $civic-iframe-padding-horizontal;
    }
  }

  &.civic-theme-dark {
    &.civic-iframe--with-background {
      background-color: $civic-iframe-dark-background-color;
      padding-left: $civic-iframe-padding-horizontal;
      padding-right: $civic-iframe-padding-horizontal;
    }
  }
}
