/**
 * @file
 * CivicTheme theme settings color styles.
 */

/* Layout. */
#edit-colors .civictheme-layout-2col > div {
  display: flex;
  column-gap: 1em;
  flex-direction: row;
}

#edit-colors .civictheme-layout-2col > div > * {
  flex: 1;
}

#edit-colors .civictheme-layout-cols > div {
  display: flex;
  column-gap: 2em;
  flex-flow: row wrap;
  row-gap: 1em;
  margin-top: 0;
}

/* Resets. */
#edit-colors .civictheme-reset-fieldset {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 1em !important;
}

#edit-colors fieldset:not(.fieldgroup) {
  position: static;
  min-width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#edit-colors fieldset:not(.fieldgroup) > legend {
  display: contents;
  float: left;
  width: 100%;
  margin-bottom: 1rem;
  color: #55565b;
  font-weight: bold;
}

#edit-colors .fieldset-legend,
#edit-colors .fieldset-label,
#edit-colors .fieldset__label,
#edit-colors .fieldset-legend {
  display: block !important;
  padding: 1rem !important;
  line-height: 1rem !important;
}

#edit-colors .fieldset__wrapper,
#edit-colors .fieldset-wrapper {
  margin: 1.5rem 1.5rem 1.75rem !important;
}

#edit-colors .civictheme-reset-fieldset > *,
#edit-colors .civictheme-reset-fieldset > * > fieldset {
  margin: 0 !important;
  padding: 0 !important;
}

#edit-colors .civictheme-reset-fieldset > legend > .fieldset__label,
#edit-colors .civictheme-reset-fieldset > legend > .fieldset-legend {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/****/
/****/
/****/

#edit-colors .form-type-color,
#edit-colors .form-type--color {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

#edit-colors .form-type-color label,
#edit-colors .form-type--color label {
  align-self: center;
  margin: 0 0 0 1em !important;
  padding: 0 !important;
  width: 100px;
}

#edit-colors .form-type-color label.js-color-updated,
#edit-colors .form-type--color label.js-color-updated {
  font-style: italic;
}

#edit-colors .form-type-color label.js-color-updated:after,
#edit-colors .form-type--color label.js-color-updated:after {
  content: ' inherited';
  color: red;
  vertical-align: super;
  font-size: 0.6em;
}

#edit-colors .civictheme-input-color {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding: 0 !important;
  text-indent: calc(0.75rem - 1px);
}

#edit-colors [class*=js-form-item-colors-brand-] {
  margin-bottom: 2em !important;
}

#edit-colors .js-show-dependants-container {
  position: absolute;
  top: 120%;
}

#edit-colors .js-show-dependants-container label {
  margin: 0 0 0 0.5em !important;
  cursor: pointer;
  font-size: 0.75em;
  vertical-align: bottom;
  display: inline;
}

#edit-colors .js-show-dependants-container input {
  cursor: pointer;
  display: inline-block;
}
