//
// Skip Link component.
//

.civic-skip-link {
  $root: &;

  padding: civic-space(2) civic-space(3);

  &__link {
    display: inline-block;
    padding: civic-space();

    @include civic-typography('label-regular');
  }

  &.civic-theme-light {
    background-color: $civic-skip-link-light-background-color;

    #{$root}__link {
      color: $civic-skip-link-light-color;

      &:focus {
        @include civic-outline(false);
      }
    }
  }

  &.civic-theme-dark {
    background-color: $civic-skip-link-dark-background-color;

    #{$root}__link {
      color: $civic-skip-link-dark-color;

      &:focus {
        @include civic-outline(true);
      }
    }
  }
}
