{#
/**
 * @file
 * Skip Link component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Link text.
 * - url: [string] Link URL.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set text = text|default('Skip to main content') %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if text is not empty %}
  <div class="civic-skip-link {{ modifier_class }}">
    <a class="civic-skip-link__link" href="{{ url }}">
      {{ text }}
    </a>
  </div>
{% endif %}
