//
// Service card.
//

.civic-service-card {
  $root: &;

  border-top-width: civic-space(0.75);
  border-top-style: solid;
  border-radius: $civic-service-card-border-radius;
  text-align: center;
  width: 100%;

  @include civic-elevation(3);

  #{$root}__content {
    padding: civic-space(3) 0 civic-space(3) 0;

    @include civic-breakpoint(m) {
      padding: civic-space(4) 0 civic-space(4) 0;
    }
  }

  #{$root}__title {
    @include civic-typography('heading-4');

    margin: 0;
    padding: 0 civic-space(4);
  }

  #{$root}__links {
    list-style: none;
    margin-bottom: 0;
    padding: 0 civic-space(3);
  }

  #{$root}__link__item {
    margin-bottom: civic-space(2);

    @include civic-typography('text-large');

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.civic-theme-light {
    background-color: $civic-service-card-light-background-color;
    border-top-color: $civic-service-card-light-border-top-color;

    #{$root}__title {
      color: $civic-service-card-light-heading-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-service-card-dark-background-color;
    border-top-color: $civic-service-card-dark-border-top-color;

    #{$root}__title {
      color: $civic-service-card-dark-heading-color;
    }
  }
}
