//
// Service card.
//

@import '../../00-base/base';

.civic-service-card {
  $root: &;

  border-top: rem(6px) solid $civic-service-card-border-top-color;
  border-radius: $civic-border-radius;
  text-align: center;

  @include civic-box-shadow();

  #{$root}__content {
    padding: civic-space(3) 0 civic-space(3) 0;

    @include civic-breakpoint(m) {
      padding: civic-space(4) 0 civic-space(4) 0;
    }
  }

  #{$root}__title {
    @include civic-typography(heading-4);

    margin: 0;
    padding: 0 civic-space(4);
  }

  #{$root}__links {
    list-style: none;
    margin-bottom: 0;
    padding: 0 civic-space(3);

    .civic-link {
      border-bottom: 0;
    }
  }

  #{$root}__link__item {
    margin-bottom: civic-space(2);

    @include civic-typography(label-large);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.civic-theme-light {
    background-color: $civic-service-card-light-background-color;

    #{$root}__title {
      color: $civic-service-card-light-heading-color;
    }
  }

  &.civic-theme-dark {
    background-color: $civic-service-card-dark-background-color;

    #{$root}__title {
      color: $civic-service-card-dark-heading-color;
    }
  }
}
